init_config:

instances:
  # For every instance, you need an `kong_status_url` and can optionally
  # supply a list of tags.
  #
  - kong_status_url: http://localhost:8001/status/
  #   ssl_validation: true
  #   tags:
  #     - instance:foo
  #
  # - kong_status_url: http://example2.com:8001/status/
  #   tags:
  #     - instance:bar

## Log section (Available for Agent >=6.0)

#logs:

    # - type : (mandatory) type of log input source (tcp / udp / file)
    #   port / path : (mandatory) Use port for types tcp or udp. Use path for type file.
    #   service : (mandatory) name of the service owning the log
    #   source : (mandatory) attribute that defines which integration is sending the logs
    #   sourcecategory : (optional) Multiple value attribute used to refine the source attribute.
    #   tags: (optional) Add tags to each log collected.

  # - type: file
  #   path: /var/log/nginx/access.log
  #   service: webapp
  #   source: kong

  # - type: file
  #   path: /var/log/nginx/error.log
  #   service: webapp
  #   source: kong
