init_config:

instances:
  ## @param kong_status_url - string - required
  ## Kong status URL to gather metrics from.
  #
  - kong_status_url: http://localhost:8001/status/
  
  ## @param ssl_validation - boolean - optional - default: true
  ## Instructs the check to not skip the validation of the SSL certificate of the URL being tested.
  ## Defaults to true, set to false if you want to disable SSL certificate validation.
  #
  #  ssl_validation: true
  
  ## @param tags  - list of key:value elements - optional
  ## List of tags to attach to every metric, event and service check emitted by this integration.
  ##
  ## Learn more about tagging: https://docs.datadoghq.com/tagging/
  #
  #  tags:
  #    - <KEY_1>:<VALUE_1>
  #    - <KEY_2>:<VALUE_2>

## Log section (Available for Agent >=6.0)

#logs:

  ## - type : (mandatory) type of log input source (tcp / udp / file)
  ##   port / path : (mandatory) Use port for types tcp or udp. Use path for type file.
  ##   service : (mandatory) name of the service owning the log
  ##   source : (mandatory) attribute that defines which integration is sending the logs
  ##   sourcecategory : (optional) Multiple value attribute used to refine the source attribute.
  ##   tags: (optional) Add tags to each log collected.

  # - type: file
  #   path: /var/log/nginx/access.log
  #   service: webapp
  #   source: kong

  # - type: file
  #   path: /var/log/nginx/error.log
  #   service: webapp
  #   source: kong
