# If a client library is required use the one that supports the most variants, see:
# https://aws.amazon.com/blogs/opensource/keeping-clients-of-opensearch-and-elasticsearch-compatible-with-open-source/
