init_config:

instances:

    ## @param name - string - required
    ## An arbitrary name to identify the supervisord server.
    #
  - name: <SUPERVISORD_SERVER_NAME>

    ## @param host - string - optional - default: localhost
    ## The host where supervisord server is running.
    #
    # host: localhost

    ## @param port - integer - optional - default: 9001
    ## A TCP port value on which supervisor is listening for HTTP/XML-RPC requests.
    ##
    ## See: http://supervisord.org/configuration.html#inet-http-server-section-settings
    #
    # port: 9001

    ## @param socket - string - optional
    ## A path to a UNIX domain socket on which supervisor is listening for HTTP/XML-RPC requests.
    ##
    ## See: http://supervisord.org/configuration.html#unix-http-server-section-settings
    #
    # socket: <SOCKETFILE_PATH>

    ## @param user - string - optional
    ## Required only if a username is configured.
    #
    # user: <USERNAME>

    ## @param pass - string - optional
    ## Required only if a password is configured.
    #
    # pass: <PASSWORD>

    ## @param proc_regex - list of strings - optional
    ## Regex pattern[s] matching the names of processes to monitor.
    #
    # proc_regex:
    #   - <PROC_REGEX>

    ## @param proc_names - list of strings - optional
    ## The process to monitor within this supervisord instance.
    ## If not specified, the check will monitor all processes.
    #
    # proc_names:
    #   - <PROCESS_NAME_1>
    #   - <PROCESS_NAME_2>

    ## @param tags - list of key:value elements - optional
    ## List of tags to attach to every metric, event, and service check emitted by this Integration.
    ##
    ## Learn more about tagging: https://docs.datadoghq.com/tagging/
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>
