init_config:

instances:

    ## @param prometheus_url - string - required
    ## The URL where your application linkerd metrics are exposed by Prometheus.
    #
  - prometheus_url: http://localhost:9990/admin/metrics/prometheus

    ## @param tags - list of strings following the pattern: "key:value" - optional
    ## List of tags to attach to every metric, event and service check emitted by this integration.
    ##
    ## Learn more about tagging: https://docs.datadoghq.com/tagging/
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>

    ## @param prometheus_metrics_prefix - string - optional
    ## <PREFIX> for exposed Prometheus metrics.
    ## It should be the same as what's in your linkerd config
    #
    # prometheus_metrics_prefix: <PREFIX>

    ## @param metrics - list of key:value element - optional
    ## Metrics to be extracted from linkerd
    #
    # metrics:
    #   - "jvm:start_time": "jvm.start_time"
    #   - "<LINKERED_METRIC_NAME>": "<DATADOG_METRIC_NAME>"

    ## @param type_overrides - list of key:value element - optional
    ## Overrides the type of prometheus metrics /!\ All untyped metric will be ignored /!\
    ## Valid prometheus types are : ['counter', 'gauge', 'summary', 'histogram']
    ## You can use 'rate' if you want to get the derivative of a counter/gauge
    #
    # type_overrides:
    #   - "jvm:start_time": "gauge"
    #   - "<LINKERED_METRIC_NAME>": "<DATADOG_METRIC_TYPE>"

    ## @param prometheus_timeout - integer - optional - default: 10
    ## The timeout for connecting to the prometheus_url.
    #
    # prometheus_timeout: 10
