init_config:

instances:

    ## @param url - string - required
    ## url used to connect to the memcached instance.
    #
  - url: localhost

    ## @param socket - string - optional
    ## Set the socket to use.
    ## If url missing; 'dd-agent' user must have read/write permission.
    #
    # socket: <SOCKET_PATH>

    ## @param port - integer - optional - default: 11211
    ## Port to use when connecting to "url".
    #
    # port: 11211

    ## @param username - string - optional
    ## Username for the Mcache status endpoint authentication.
    #
    # username: <USERNAME>

    ## @param password - string - optional
    ## Password for the Mcache status endpoint authentication.
    #
    # password: <PASSWORD>

    ## @param tags - list of key:value elements - optional
    ## List of tags to attach to every metric, event and service check emitted by this integration.
    ##
    ## Learn more about tagging: https://docs.datadoghq.com/tagging/
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>

    ## @param option - object - optional
    ## Set "items" to true if you wish to collect items Mcache stats.
    ## Set "slabs" to true if you wish to collect slabs Mcache stats.
    #
    # options:
    #   items: false
    #   slabs: false

## Log Section (Available for Agent >=6.0)
##
## type - mandatory - Type of log input source (tcp / udp / file / windows_event)
## port / path / channel_path - mandatory - Set port if type is tcp or udp. Set path if type is file. Set channel_path if type is windows_event
## service - mandatory - Name of the service that generated the log
## source  - mandatory - Attribute that defines which Integration sent the logs
## tags: - optional - Add tags to the collected logs
##
## Discover Datadog log collection: https://docs.datadoghq.com/logs/log_collection/
#
# logs:
#   - type: file
#     path: /var/log/memcached.log
#     source: memcached
#     service: memcached
