[env.collectors.datadog-checks]

# https://clickhouse.com/docs/faq/operations/production#how-to-choose-between-clickhouse-releases
# https://github.com/ClickHouse/ClickHouse/blob/master/SECURITY.md
[[envs.default.matrix]]
python = ["3.13"]
version = ["18", "19", "20", "21.8", "22.7", "24.8", "25.3", "25.8"]

[envs.default.env-vars]
CLICKHOUSE_REPOSITORY = "clickhouse/clickhouse-server"

[envs.default.overrides]
matrix.version.env-vars = [
    { key = "CLICKHOUSE_VERSION" },
    { key = "LEGACY_IMAGE", value = "true", if = ["18", "19", "20", "21.8"] },
]

[envs.latest.env-vars]
CLICKHOUSE_VERSION = "latest"

[envs.data]
dependencies = [
    "requests==2.32.5"
]

[envs.data.env-vars]
# keep in sync with default version matrix
VERSIONS = "24.8,25.3,25.8"

[envs.data.scripts]
generate = "python scripts/generate_metrics.py"
