:8000 {
  route /metrics {
    rewrite * /metrics
    file_server {
      root /usr/share/caddy
    }
  }

  route /version {
    rewrite * /version
    file_server {
      root /usr/share/caddy
    }
  }
}
