init_config:

instances:
  # For every instance, you need an `nginx_status_url` and can optionally
  # supply a list of tags.  This plugin requires nginx to be compiled with
  # the nginx stub status module option, and activated with the correct
  # configuration stanza.  On debian/ubuntu, this is included in the
  # `nginx-extras` package.  For more details, see:
  #
  #   http://docs.datadoghq.com/integrations/nginx/
  #
  # If you are using the commercial version of nginx, for releases R13 and above,
  # there is a new API to replace the extended status API.
  # See https://www.nginx.com/blog/nginx-plus-r13-released/
  # To use it, you specify the URL in `nginx_status_url`, and use the option `use_plus_api`.

  - nginx_status_url: http://localhost/nginx_status/
  #   tags:
  #     - instance:foo
  #
  # - nginx_status_url: http://example2.com:1234/nginx_status/
  #   ssl_validation: False

  #   The (optional) skip_proxy parameter will bypass any proxy
  #   settings enabled and attempt to reach the URL directly.
  #
  #   skip_proxy: false

  #   # Set this option to true if you are using the nginx Plus API. Default to false
  #   use_plus_api: False
  #   # Specify the version of the Plus API to use. We support versions 1 & 2. Default to 2
  #   plus_api_version: 2

  #   # Set this option to true if you are using the nginx vhost_traffic_status module. Default to false
  #   # If you are using VTS, set the nginx_status_url to something like http://localhost/nginx_stats/format/json.
  #   use_vts: False

  #   If the status page is behind basic auth.
  #   user: USER
  #   password: PASSWORD

  #   tags:
  #     - instance:bar

## Log section (Available for Agent >=6.0)

#logs:

    # - type : (mandatory) type of log input source (tcp / udp / file)
    #   port / path : (mandatory) Set port if type is tcp or udp. Set path if type is file
    #   service : (mandatory) name of the service owning the log
    #   source : (mandatory) attribute that defines which integration is sending the logs
    #   sourcecategory : (optional) Multiple value attribute. Can be used to refine the source attribute
    #   tags: (optional) add tags to each logs collected

  # - type: file
  #   path: /var/log/nginx/access.log
  #   service: nginx
  #   source: nginx
  #   sourcecategory: http_web_access

  # - type: file
  #   path: /var/log/nginx/error.log
  #   service: nginx
  #   source: nginx
  #   sourcecategory: http_web_access
