[env.collectors.datadog-checks]

[envs.default]
e2e-env = false

[envs.default.env-vars]
DDEV_TESTING_PLUGIN = "true"

[[envs.default.matrix]]
python = ["3.12"]

[envs.default.overrides]
matrix.python.features = [
  { value = "cli", if = ["3.12"] },
]
# TODO: remove this when the old CLI is gone
matrix.python.pre-install-commands = [
  { value = "python -m pip install --no-deps --disable-pip-version-check {verbosity:flag:-1} -e ../ddev", if = ["3.12"] },
]
