[env.collectors.datadog-checks]
check-types = true
mypy-args = [
  "--install-types",
  "--non-interactive",
  "--follow-imports=silent",
  "datadog_checks/dev/tooling/commands/release/trello/testable.py",
  "datadog_checks/dev/tooling/commands/release/trello/status.py",
]

[envs.default]
e2e-env = false

[envs.default.env-vars]
DDEV_TESTING_PLUGIN = "true"

[[envs.default.matrix]]
python = ["2.7", "3.11"]

[envs.default.overrides]
matrix.python.features = [
  { value = "cli", if = ["3.11"] },
]
# TODO: remove this when the old CLI is gone
matrix.python.pre-install-commands = [
  { value = "python -m pip install --no-deps --disable-pip-version-check {verbosity:flag:-1} -e ../ddev", if = ["3.11"] },
]
