init_config:

instances:
  #   A typical instance configuration might include a hostname and port
  #   a set of customizable tags and other parameters we might need to
  #   configure the behavior of our check.
  #
  - host: http://127.0.0.1
    cport: 5984
    backdoor: 5986
    user: admin
    password: p4ssw0rd
