init_config:

instances:

    ## @param agent_endpoint - string - required
    ## The URL where your application metrics are exposed by Prometheus.
    ## By default, the Cilium integration collects `cilium-agent` metrics.
    #
  - agent_endpoint: http://localhost:9090/metrics

    ## @param operator_endpoint - string - optional
    ## If you would like to collect the `cilium-operator` metrics, enable
    ## the `collect_operator_metrics` option.
    ## Cilium operator metrics are exposed on port 6942.
    #
    # operator_endpoint: http://localhost:6942/metrics

    ## @param collect_operator_metrics - boolean - optional - default: false
    ## Enable to collect `cilium-operator` metrics.
    #
    # collect_operator_metrics: false

    ## @param tags - list of key:value elements - optional
    ## List of tags to attach to every metrics, events and service checks emitted by this integration.
    ## Learn more about tagging: https://docs.datadoghq.com/tagging/
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>

    ## @param prometheus_timeout - integer - optional - default: 10
    ## Overrides the default timeout value in second
    #
    # prometheus_timeout: 10
