init_config:

instances:

    ## @param server - string - required
    ## Specify the MongoDB URI, with database to use for reporting (defaults to "admin")
    ## E.g. mongodb://<USER>:<PASSWORD>@<HOST>:<PORT>/<DATABASE_NAME>
    #
  - server: mongodb://localhost:27017

    ## @param tags - list of strings following the pattern: "key:value" - optional
    ## List of tags to attach to every metric, event, and service check emitted by this Integration.
    ##
    ## Learn more about tagging: https://docs.datadoghq.com/tagging/
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>

    ## @param ssl - boolean - optional - default: false
    ## Optional SSL parameters, see
    ## https://github.com/mongodb/mongo-python-driver/blob/2.6.3/pymongo/mongo_client.py#L193-L212
    ## for more details
    #
    # ssl: false

    ## @param ssl_keyfile - string - optional
    ## Path to the private key file used to identify the local connection against Mongodb.
    #
    # ssl_keyfile: <SSL_KEY_FILE_PATH>

    ## @param ssl_certfile - string - optional
    ## Path to the certificate file used to identify the local connection against Mongodb.
    #
    # ssl_certfile: <CERT_FILE_PATH>

    ## @param ssl_cert_reqs - integer - optional
    ## Specifies whether a certificate is required from the other side of the connection,
    ## and whether it will be validated if provided.
    ## Possible values:
    ##   * 0 for ssl.CERT_NONE (certificates ignored)
    ##   * 1 for ssl.CERT_OPTIONAL (not required, but validated if provided)
    ##   * 2 for ssl.CERT_REQUIRED (required and validated)
    #
    # ssl_cert_reqs: <SSL_CERT_REQ_VALUE>

    ## @param ssl_ca_certs - string - optional
    ## Path to the ca_certs file.
    #
    # ssl_ca_certs: <CA_CERT_FILE_PATH>
