{
    debug
    admin :2019
}
:80 {
    root * /usr/share/caddy/
    @get_networking {
        method GET
        path /networking
    }
    route @get_networking {
        rewrite /networking /networking/get.json
        file_server
    }
    @get_quotas_667aee39f2b64032b4d7585809d31e6f {
        method GET
        path /networking/v2.0/quotas/667aee39f2b64032b4d7585809d31e6f
    }
    route @get_quotas_667aee39f2b64032b4d7585809d31e6f {
        rewrite /networking/v2.0/quotas/667aee39f2b64032b4d7585809d31e6f /networking/v2.0/quotas/667aee39f2b64032b4d7585809d31e6f.json
        file_server
    }
    file_server browse
}
