init_config:

instances:

    ## @param host - string - required
    ## Host to connect to.
    #
  - host: localhost

    ## @param username - string - required
    ## Username to use for the SSH connection.
    #
    username: <USERNAME>

    ## @param password - string - optional
    ## Password to use for the SSH connection.
    #
    # password: <PASSWORD>

    ## @param port - integer - optional - default: 22
    ## Port to connect to.
    #
    # port: 22

    ## @param sftp_check - boolean - optional - default: true
    ## Open SFTP session on the existing connection to check the status of SFTP.
    #
    # sftp_check: true

    ## @param private_key_file - string - optional
    ## File path to SSH private key
    #
    # private_key_file: <PRIVATE_KEY_SSH>

    ## @param private_key_type - string - optional - default: rsa
    ## Private key type to choose between `rsa` or `ecdsa`
    #
    # private_key_type: rsa

    ## @param add_missing_keys - boolean - optional - default: false
    ## Automatically add host key to known hosts when it is missing
    #
    # add_missing_keys: false

    ## @param tags - list of strings following the pattern: "key:value" - optional
    ## List of tags to attach to every metric, event, and service check emitted by this Integration.
    ##
    ## Learn more about tagging: https://docs.datadoghq.com/tagging/
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>
