# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                  @DataDog/agent-integrations

# Documentation
/docs/             @DataDog/baklava @DataDog/agent-integrations
*.md               @DataDog/baklava @DataDog/agent-integrations                          
manifest.json      @DataDog/baklava @DataDog/agent-integrations

# Container monitoring
/docker_daemon/    @DataDog/container-integrations @DataDog/agent-integrations
/ecs_fargate/      @DataDog/container-integrations @DataDog/agent-integrations
/kube_dns/         @DataDog/container-integrations @DataDog/agent-integrations
/kube_proxy/       @DataDog/container-integrations @DataDog/agent-integrations
/kubelet/          @DataDog/container-integrations @DataDog/agent-integrations
/kubernetes/       @DataDog/container-integrations @DataDog/agent-integrations
/kubernetes_state/ @DataDog/container-integrations @DataDog/agent-integrations
