version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "06:00"
    # Group all actions updates together in the same PR
    groups:
       actions:
          patterns:
             - "*"
    labels:
    - dependabot
