[run]
branch = True

disable_warnings =
    module-not-measured

# All paths are relative to each tox.ini
omit =
    */test_bench.py

    # Vendored dependencies
    */datadog_checks/*/vendor/*

    # These are things that are simply stored in the base package
    ../datadog_checks_base/datadog_checks/base/checks/libs/*
    ../datadog_checks_base/datadog_checks/base/checks/win/*

    # Ignore any plugins
    ../datadog_checks_dev/datadog_checks/dev/plugin/*

    # We will test more repo tooling eventually
    ../datadog_checks_dev/datadog_checks/dev/tooling/commands/*
    ../datadog_checks_dev/datadog_checks/dev/tooling/config_validator/*
    ../datadog_checks_dev/datadog_checks/dev/tooling/e2e/*
    ../datadog_checks_dev/datadog_checks/dev/tooling/clean.py
    ../datadog_checks_dev/datadog_checks/dev/tooling/cli.py
    ../datadog_checks_dev/datadog_checks/dev/tooling/config.py
    ../datadog_checks_dev/datadog_checks/dev/tooling/github.py
    ../datadog_checks_dev/datadog_checks/dev/tooling/release.py
    ../datadog_checks_dev/datadog_checks/dev/tooling/signing.py
    ../datadog_checks_dev/datadog_checks/dev/tooling/testing.py
    ../datadog_checks_dev/datadog_checks/dev/tooling/trello.py
    ../datadog_checks_dev/datadog_checks/dev/tooling/utils.py

[report]
show_missing = ${DDEV_COV_MISSING}
ignore_errors = True

exclude_lines =
    no cov
    no qa

    # Ignore missing debug-only code
    def __repr__
    if self\.debug

    # Ignore non-runnable code
    if __name__ == .__main__.:
