# We don't want this to get too large,
# so don't put anything in here that's not either
# specific to this project or a common problem

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
venv/
embedded/
/env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.zip
# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/
.benchmarks/
.junit/
.docker/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# MkDocs documentation
site/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints

#sdk collateral
venv/
embedded/
.bundle/
.ropeproject/
setuptools-*.zip

tmp
# redis tmp config
*.tmp
*.tmp.conf

# OS Specific
*.DS_Store
*.fuse_hidden*

# Vi(m) stuff
*.swp

# Rbenv stuff
.rbenv-gemsets
.ruby-version

# pyenv versioning
.python-version

# Common IDEs & editors
.idea/
.vscode/
*.iml

# wheels
wheelhouse/
*.whl

# Type checking
.mypy_cache

# By default, ignore in-toto metadata from the command line:
.in-toto/
*.link

# isort (python imports sorting tool) temporary files
*.isorted

# Benchmark histograms
benchmark_*.svg


## Kind
.kube
