image: docker:git

services:
- docker:dind

before_script:
- docker info
- apk add --no-cache gcc linux-headers musl-dev python2-dev py-pip libffi-dev openssl-dev
- pip install -q docker-compose tox invoke

test:
  script:
  - export DOCKER_HOSTNAME=docker
  - export DOCKER_HOST="tcp://docker:2375"
  - export INVOKE_RUN_SHELL="/bin/ash"
  - inv test --changed-only
