sudo: required
services:
  - docker
language: python
python:
  - '2.7'
cache:
  directories:
    - "$HOME/.cache/pip"
git:
  depth: 3
branches:
  only:
    - master
env:
  global:
    - SKIP_CLEANUP=true
    - PIP_CACHE=$HOME/.cache/pip

stages:
  - name: test_changed
    if: type = pull_request
  - name: test
    if: (branch = master) AND (type != pull_request)

script: travis_retry inv test --targets=${CHECK}

# Conditional jobs are currently buggy and verbose.
#
# https://github.com/travis-ci/beta-features/issues/28
# https://github.com/travis-ci/beta-features/issues/40
# https://github.com/travis-ci/travis-ci/issues/8295
# https://github.com/travis-ci/travis-conditions/pull/1
# https://github.com/travis-ci/travis-ci/issues/6652
jobs:
  fast_finish: true
  include:
    - stage: test_changed
      script:
       - inv manifest --include-extras
       - inv test --changed-only
    - stage: test
      env: CHECK=datadog_checks_base
      script:
        - inv manifest --include-extras
        - travis_retry inv test --targets=${CHECK}
    - stage: test
      env: CHECK=active_directory
    - stage: test
      env: CHECK=activemq_xml
    - stage: test
      env: CHECK=apache
    - stage: test
      env: CHECK=aspdotnet
    - stage: test
      env: CHECK=btrfs
    - stage: test
      env: CHECK=cacti
    - stage: test
      env: CHECK=ceph
    - stage: test
      env: CHECK=cisco_aci
    - stage: test
      env: CHECK=consul
    - stage: test
      env: CHECK=couch
    - stage: test
      env: CHECK=couchbase
    - stage: test
      env: CHECK=directory
    - stage: test
      env: CHECK=disk
    - stage: test
      env: CHECK=dotnetclr
    - stage: test
      env: CHECK=elastic
    - stage: test
      env: CHECK=envoy
    - stage: test
      env: CHECK=exchange_server
    - stage: test
      env: CHECK=gitlab
    - stage: test
      env: CHECK=haproxy
    - stage: test
      env: CHECK=hdfs_datanode
    - stage: test
      env: CHECK=hdfs_namenode
    - stage: test
      env: CHECK=iis
    - stage: test
      env: CHECK=istio
    - stage: test
      env: CHECK=kafka_consumer
    - stage: test
      env: CHECK=kong
    - stage: test
      env: CHECK=kube_proxy
    - stage: test
      env: CHECK=kubelet
    - stage: test
      env: CHECK=kubernetes_state
    - stage: test
      env: CHECK=kyototycoon
    - stage: test
      env: CHECK=lighttpd
    - stage: test
      env: CHECK=linkerd
    - stage: test
      env: CHECK=linux_proc_extras
    - stage: test
      env: CHECK=mapreduce
    - stage: test
      env: CHECK=marathon
    - stage: test
      env: CHECK=mcache
    - stage: test
      env: CHECK=mysql
    - stage: test
      env: CHECK=network
    - stage: test
      env: CHECK=nfsstat
    - stage: test
      env: CHECK=nginx
    - stage: test
      env: CHECK=ntp
    - stage: test
      env: CHECK=openstack
    - stage: test
      env: CHECK=oracle
    - stage: test
      env: CHECK=pdh_check
    - stage: test
      env: CHECK=pgbouncer
    # - stage: test
    #   env: CHECK=postgres
    - stage: test
      env: CHECK=powerdns_recursor
    - stage: test
      env: CHECK=prometheus
    - stage: test
      env: CHECK=redisdb
    - stage: test
      env: CHECK=riak
    - stage: test
      env: CHECK=spark
    - stage: test
      env: CHECK=ssh_check
    - stage: test
      env: CHECK=squid
    - stage: test
      env: CHECK=system_core
    - stage: test
      env: CHECK=teamcity
    - stage: test
      env: CHECK=varnish
    - stage: test
      env: CHECK=vault
    - stage: test
      env: CHECK=vsphere
    - stage: test
      env: CHECK=yarn
before_install:
  - chmod +x .travis/prepare.sh
  - .travis/prepare.sh
install:
  - pip install -U pip setuptools
  - pip install -r requirements-dev.txt
# we should clean generated files before we save the cache
# We don't want to save .pyc files, so we'll use find and -delete
before_cache:
  - find $HOME/.cache/pip -name *.pyc -delete
after_script:
  - if [[ $(docker ps -a -q) ]]; then docker stop $(docker ps -a -q); fi
