aerospike==7.1.1; sys_platform != 'win32' and sys_platform != 'darwin'
aws-requests-auth==0.4.3
azure-identity==1.17.1
beautifulsoup4==4.12.3
binary==1.0.0
boto3==1.35.10
botocore==1.35.10
cachetools==5.5.0
clickhouse-cityhash==1.0.2.4
clickhouse-driver==0.2.9
cm-client==45.0.4
confluent-kafka==2.5.0
cryptography==43.0.0
ddtrace==2.10.6
dnspython==2.6.1
foundationdb==6.3.24
hazelcast-python-client==5.4.0
importlib-metadata==2.1.3; python_version < '3.8'
in-toto==2.0.0
jellyfish==1.1.0
kubernetes==30.1.0
ldap3==2.9.1
lxml==4.9.4
lz4==4.3.3
mmh3==4.1.0
oauthlib==3.2.2
openstacksdk==3.3.0
orjson==3.10.7
packaging==24.1
paramiko==3.4.1
ply==3.11
prometheus-client==0.20.0
protobuf==5.27.3
psutil==5.9.6
psycopg2-binary==2.9.9
pyasn1==0.4.8
pycryptodomex==3.20.0
pydantic==2.8.2
pyjwt==2.9.0
pymongo[srv]==4.8.0; python_version >= '3.9'
pymqi==1.12.10; sys_platform != 'darwin' or platform_machine != 'arm64'
pymysql==1.1.1
pyodbc==5.1.0; sys_platform != 'darwin' or platform_machine != 'arm64'
pyopenssl==24.2.1
pysmi==1.2.1
pysnmp-mibs==0.1.6
pysnmp==5.1.0
pysocks==1.7.1
python-binary-memcached==0.31.2; sys_platform != 'win32'
python-dateutil==2.9.0.post0
python3-gearman==0.1.0; sys_platform != 'win32'
pyvmomi==8.0.3.0.1
pywin32==306; sys_platform == 'win32'
pyyaml==6.0.2
redis==5.0.8
requests-kerberos==0.15.0
requests-ntlm==1.3.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
requests-unixsocket2==0.4.2
requests==2.32.3
rethinkdb==2.4.9
scandir==1.10.0; python_version < '3.5'
securesystemslib[crypto,pynacl]==0.28.0
semver==3.0.2
service-identity[idna]==24.1.0
simplejson==3.19.3
six==1.16.0
snowflake-connector-python==3.12.1
supervisor==4.2.5
tuf==4.0.0
uptime==3.0.1
vertica-python==1.4.0
wrapt==1.16.0
