aerospike==7.1.1; sys_platform != 'win32' and sys_platform != 'darwin'
aws-requests-auth==0.4.3
azure-identity==1.24.0
beautifulsoup4==4.13.5
binary==1.0.2
boto3==1.40.21
botocore==1.40.21
cachetools==6.2.0
clickhouse-connect==0.8.18
cm-client==45.0.4
confluent-kafka==2.11.1
cryptography==45.0.6
ddtrace==3.16.4
dnspython==2.7.0
fastavro==1.12.0
foundationdb==6.3.25
hazelcast-python-client==5.5.0
in-toto==2.0.0
jellyfish==1.2.0
kubernetes==33.1.0
lazy-loader==0.4
ldap3==2.9.1
lxml==6.0.1
lz4==4.4.4
mmh3==5.2.0
oauthlib==3.3.1
orjson==3.11.3
packaging==25.0
paramiko==3.5.1
prometheus-client==0.22.1
protobuf==6.32.0
psutil==6.0.0
psycopg[c,pool]==3.2.10
pyasn1==0.4.8
pydantic==2.11.7
pyjwt==2.10.1
pymongo[srv]==4.8.0; python_version >= '3.9'
pymqi==1.12.11
pymysql==1.1.2
pyodbc==5.2.0
pyopenssl==25.1.0
pysnmp-mibs==0.1.6
pysnmp==5.1.0
pysocks==1.7.1
python-binary-memcached==0.31.4; sys_platform != 'win32'
python-dateutil==2.9.0.post0
python3-gearman==0.1.0; sys_platform != 'win32'
pyvmomi==8.0.3.0.1
pywin32==311; sys_platform == 'win32'
pyyaml==6.0.2
redis==6.2.0
requests-kerberos==0.15.0
requests-ntlm==1.3.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
requests-unixsocket2==1.0.0
requests==2.32.5
rethinkdb==2.4.10.post1
securesystemslib[crypto,pynacl]==0.28.0
semver==3.0.4
service-identity[idna]==24.2.0
simplejson==3.20.1
snowflake-connector-python==3.17.2
supervisor==4.3.0
tuf==4.0.0
urllib3==2.6.3
vertica-python==1.4.0
wrapt==1.17.3
