version: '{branch}.{build}'
shallow_clone: true
environment:
  TRAVIS_BUILD_DIR: c:\projects\integrations-core
  INTEGRATIONS_DIR: c:\projects\integrations-core\embedded
  PIP_CACHE: c:\projects\integrations-core\.cache\pip
  VOLATILE_DIR: c:\projects
  NOSE_FILTER: not unix and not fixme and not winfixme
  PYWIN_PATH: C:\projects\integrations-core\.cache\pywin32-py2.7.exe
  SKIP_LINT: true
  DD_AGENT_BRANCH: master
  SDK_TESTING: true
  PYTHON: C:\\Python27-x64
  PYTHON_VERSION: 2.7.13
  PYTHON_ARCH: 64
  PYWIN32_URL: https://downloads.sourceforge.net/project/pywin32/pywin32/Build%20219/pywin32-219.win-amd64-py2.7.exe
  PYWIN32_INSTALL_DIR: pywin32-219-py2.7-win-amd64.egg
cache:
  - C:\projects\integrations-core\.cache
  - C:\projects\integrations-core\vendor\cache
  - C:\projects\integrations-core\embedded
services:
  - iis
  # - mssql2008r2sp2 # FIXME: re-enable when we can launch multiple mssql instances at once
  - mssql2012sp1
  # - mssql2014 # FIXME: re-enable when we can launch multiple mssql instances at once
init:
 - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
install:
  # Use the 64-bit ruby so that all the Powershell classes are accessible when running shell commands from ruby
  - set PATH=C:\Ruby22-x64\bin;%PATH%
  - bundle install
  - bundle package
  - git clone -b %DD_AGENT_BRANCH% https://github.com/DataDog/dd-agent.git c:\projects\dd-agent
  - if not exist %PIP_CACHE% mkdir %PIP_CACHE%
  - ps: If (-Not (Test-Path $env:PYWIN_PATH)) {(new-object net.webclient).DownloadFile("$env:PYWIN32_URL", "$env:PYWIN_PATH")}
  - "%PYTHON%/Scripts/easy_install.exe %PYWIN_PATH%"
  - ps: mkdir -p $(python -m site --user-site)
  - ps: echo "C:\projects\dd-agent" | out-file "$(python -m site --user-site)/datadog-agent.pth" -encoding ASCII
  - ps: '& "$env:PYTHON/Scripts/pip.exe" install -r c:\projects\dd-agent\requirements.txt'
  # Remove the adodbapi module shipped with pywin32: it conflicts with the pip-installed adodbapi
  - ps: rm $env:PYTHON/lib/site-packages/$env:PYWIN32_INSTALL_DIR/adodbapi/__init__.py
  - ps: rm $env:PYTHON/lib/site-packages/$env:PYWIN32_INSTALL_DIR/adodbapi/__init__.pyc
  - ps: pip install wheel
  - ps: pip install simplejson
  - cd datadog-checks-base
  - python.exe setup.py bdist_wheel
  - ps: (& "$env:PYTHON/Scripts/pip.exe" install .)
  - cd ..
  - cd sqlserver
  - ps: (& "$env:PYTHON/Scripts/pip.exe" install -r ./requirements.txt)
  - ps: python.exe setup.py bdist_wheel
  - ps: (& "$env:PYTHON/Scripts/pip.exe" install .)
  - cd ..
  - cd iis
  - ps: (& "$env:PYTHON/Scripts/pip.exe" install -r ./requirements.txt)
  - python.exe setup.py bdist_wheel
  - ps: (& "$env:PYTHON/Scripts/pip.exe" install .)
  - cd ..
  - cd windows_service
  - ps: (& "$env:PYTHON/Scripts/pip.exe" install -r ./requirements.txt)
  - python.exe setup.py bdist_wheel
  - ps: (& "$env:PYTHON/Scripts/pip.exe" install .)
  - cd ..
  - cd wmi_check
  - ps: (& "$env:PYTHON/Scripts/pip.exe" install -r ./requirements.txt)
  - python.exe setup.py bdist_wheel
  - ps: (& "$env:PYTHON/Scripts/pip.exe" install .)
  - cd ..
  - cd pdh_check
  - ps: (& "$env:PYTHON/Scripts/pip.exe" install -r ./requirements.txt)
  - python.exe setup.py bdist_wheel
  - ps: (& "$env:PYTHON/Scripts/pip.exe" install .)
  - cd ..
  - cd aspdotnet 
  - ps: (& "$env:PYTHON/Scripts/pip.exe" install -r ./requirements.txt)
  - python.exe setup.py bdist_wheel
  - ps: (& "$env:PYTHON/Scripts/pip.exe" install .)
  - cd ..
  - cd dotnetclr 
  - ps: (& "$env:PYTHON/Scripts/pip.exe" install -r ./requirements.txt)
  - python.exe setup.py bdist_wheel
  - ps: (& "$env:PYTHON/Scripts/pip.exe" install .)
  - cd ..
  - cd exchange_server 
  - ps: (& "$env:PYTHON/Scripts/pip.exe" install -r ./requirements.txt)
  - python.exe setup.py bdist_wheel
  - ps: (& "$env:PYTHON/Scripts/pip.exe" install .)
  - cd ..
build: off
test_script:
  - set PATH=%PYTHON%;%PYTHON%\Scripts;%PATH%
  - bundle exec rake ci:run[default]
  - bundle exec rake ci:run[sqlserver]
  - bundle exec rake ci:run[iis]
  - bundle exec rake ci:run[windows_service]
  - bundle exec rake ci:run[wmi_check]
  - bundle exec rake ci:run[pdh_check]
on_finish:
  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
