site_name: Agent Integrations
site_description: The home of Agent Integrations developer documentation
site_author: Datadog
site_url: https://datadoghq.dev/integrations-core/
repo_name: datadog/integrations-core
repo_url: https://github.com/DataDog/integrations-core
edit_uri: blob/master/docs/developer
copyright: 'Copyright &copy; Datadog, Inc. 2020-present'

docs_dir: docs/developer
site_dir: site
theme:
  name: material
  language: en
  favicon: assets/images/favicon.ico
  logo: assets/images/logo.svg
  icon:
    repo: fontawesome/brands/github-alt
  font:
    text: Roboto
    code: Roboto Mono
  palette:
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: custom
      toggle:
        icon: material/weather-night
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: custom
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
  features:
    - content.action.edit
    - content.code.copy
    - navigation.expand
    - navigation.footer
    - navigation.instant
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky

nav:
  - Home:
    - About: index.md
    - Setup: setup.md
    - Testing: testing.md
    - E2E: e2e.md
  - Base Package:
    - About: base/about.md
    - Basics: base/basics.md
    - HTTP: base/http.md
    - TLS/SSL: base/tls.md
    - Databases: base/databases.md
    - OpenMetrics: base/openmetrics.md
    - Metadata: base/metadata.md
    - API: base/api.md
  - Dev Package:
    - What's in the box?: ddev/about.md
    - Test framework: ddev/test.md
    - Plugins: ddev/plugins.md
    - Configuration: ddev/configuration.md
    - CLI: ddev/cli.md
  - Guidelines:
    - Pull requests: guidelines/pr.md
    - Style: guidelines/style.md
    - Dashboards: guidelines/dashboards.md
    - Conventions: guidelines/conventions.md
  - Meta:
    - CI:
      - meta/ci/testing.md
      - meta/ci/validation.md
      - meta/ci/labels.md
    - Docs: meta/docs.md
    - Config specs: meta/config-specs.md
    - Config models: meta/config-models.md
    - Status: meta/status.md
  - Tutorials:
    - JMX:
      - tutorials/jmx/integration.md
      - tutorials/jmx/tools.md
    - SNMP:
      - tutorials/snmp/introduction.md
      - tutorials/snmp/profiles.md
      - tutorials/snmp/how-to.md
      - tutorials/snmp/profile-format.md
      - tutorials/snmp/sim-format.md
      - tutorials/snmp/tools.md
    - Memory profiling: tutorials/memory-profiling.md
  - Architecture:
    - IBM i: architecture/ibm_i.md
    - SNMP: architecture/snmp.md
    - vSphere: architecture/vsphere.md
    - Windows Event Log: architecture/win32_event_log.md
  - Process:
    - Integration release: process/integration-release.md
  - FAQ:
    - FAQ: faq/faq.md
    - Acknowledgements: faq/acknowledgements.md

plugins:
  # Built-in
  - search:
  # Extra
  - minify:
      minify_html: true
  - git-revision-date-localized:
      type: date
      strict: false
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            show_bases: false
            show_if_no_docstring: true
            show_root_heading: true
            show_source: true
  - pdf-export:
      enabled_if_env: ENABLE_PDF_SITE_EXPORT

hooks:
  - docs/developer/.hooks/ddev_version.py

markdown_extensions:
  # Built-in
  - markdown.extensions.abbr:
  - markdown.extensions.admonition:
  - markdown.extensions.attr_list:
  - markdown.extensions.footnotes:
  - markdown.extensions.meta:
  - markdown.extensions.tables:
  - markdown.extensions.toc:
      permalink: true
  # Extra
  - mkdocs-click:
  - mkpatcher:
      location: docs/developer/.scripts
  - pymdownx.arithmatex:
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret:
  - pymdownx.critic:
  - pymdownx.details:
  - pymdownx.superfences:
  - pymdownx.emoji:
      # https://github.com/twitter/twemoji
      # https://raw.githubusercontent.com/facelessuser/pymdown-extensions/master/pymdownx/twemoji_db.py
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      guess_lang: false
      linenums_style: pymdownx-inline
      use_pygments: true
  - pymdownx.inlinehilite:
  - pymdownx.keys:
  - pymdownx.magiclink:
      repo_url_shortener: true
      repo_url_shorthand: true
      social_url_shortener: true
      social_url_shorthand: true
      normalize_issue_symbols: true
      provider: github
      user: DataDog
      repo: integrations-core
  - pymdownx.mark:
  - pymdownx.progressbar:
  - pymdownx.saneheaders:
  - pymdownx.smartsymbols:
  - pymdownx.snippets:
      check_paths: true
      base_path:
        - docs/developer/.snippets
      auto_append:
        - links.txt
        - abbrs.txt
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
        - name: math
          class: arithmatex
          format: !!python/name:pymdownx.arithmatex.fence_mathjax_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde:

extra:
  social:
    - icon: fontawesome/solid/blog
      link: https://www.datadoghq.com/blog/engineering/
    - icon: fontawesome/brands/github-alt
      link: https://github.com/DataDog
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/datadoghq
    - icon: fontawesome/brands/instagram
      link: https://www.instagram.com/datadoghq
extra_css:
  - assets/css/custom.css
  - https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css
