datadog-active-directory==1.6.0; sys_platform == 'win32'
datadog-activemq-xml==1.5.0
datadog-activemq==1.3.0
datadog-aerospike==1.4.0; sys_platform != 'win32'
datadog-amazon-msk==1.0.0
datadog-ambari==1.2.0; sys_platform != 'win32'
datadog-apache==1.9.1
datadog-aspdotnet==1.4.0; sys_platform == 'win32'
datadog-btrfs==1.8.1; sys_platform != 'win32'
datadog-cacti==1.6.0; sys_platform == 'linux2'
datadog-cassandra-nodetool==1.5.1
datadog-cassandra==1.3.1
datadog-ceph==1.8.0; sys_platform != 'win32'
datadog-checks-base==10.0.2
datadog-checks-downloader==2.0.0
datadog-cilium==1.0.1
datadog-cisco-aci==1.8.1
datadog-clickhouse==1.0.0
datadog-cockroachdb==1.1.0
datadog-consul==1.11.0
datadog-coredns==1.3.0; sys_platform == 'linux2'
datadog-couch==3.6.0
datadog-couchbase==1.12.1
datadog-crio==1.2.0
datadog-directory==1.4.1
datadog-disk==2.5.3
datadog-dns-check==1.4.1
datadog-dotnetclr==1.5.0; sys_platform == 'win32'
datadog-druid==1.2.0
datadog-ecs-fargate==2.5.0
datadog-elastic==1.15.0
datadog-envoy==1.11.0
datadog-etcd==2.1.0
datadog-exchange-server==1.6.0; sys_platform == 'win32'
datadog-external-dns==1.0.0
datadog-fluentd==1.5.0
datadog-gearmand==1.3.1; sys_platform != 'win32'
datadog-gitlab-runner==2.6.0
datadog-gitlab==2.7.0
datadog-go-expvar==1.7.0
datadog-gunicorn==1.8.1; sys_platform != 'win32'
datadog-haproxy==2.5.1
datadog-harbor==1.2.0
datadog-hdfs-datanode==1.10.0; sys_platform != 'win32'
datadog-hdfs-namenode==1.9.0; sys_platform != 'win32'
datadog-hive==1.1.2
datadog-http-check==4.5.0
datadog-hyperv==1.1.0; sys_platform == 'win32'
datadog-ibm-db2==1.2.0
datadog-ibm-mq==3.2.1; sys_platform == 'linux2'
datadog-ibm-was==1.4.0
datadog-iis==2.8.0; sys_platform == 'win32'
datadog-istio==2.4.2
datadog-jboss-wildfly==1.1.1
datadog-kafka-consumer==2.1.1; sys_platform != 'win32'
datadog-kafka==2.0.2
datadog-kong==1.5.0
datadog-kube-apiserver-metrics==1.2.1; sys_platform == 'linux2'
datadog-kube-controller-manager==1.4.0
datadog-kube-dns==2.3.0
datadog-kube-metrics-server==1.0.1
datadog-kube-proxy==3.2.0
datadog-kube-scheduler==1.1.0
datadog-kubelet==3.4.0; sys_platform == 'linux2'
datadog-kubernetes-state==5.0.0; sys_platform != 'win32'
datadog-kyototycoon==1.9.0
datadog-lighttpd==1.7.0
datadog-linkerd==2.3.0
datadog-linux-proc-extras==1.2.0; sys_platform == 'linux2'
datadog-mapr==1.0.1; sys_platform == 'linux2'
datadog-mapreduce==1.7.0
datadog-marathon==1.11.0; sys_platform != 'win32'
datadog-mcache==1.8.0; sys_platform != 'win32'
datadog-mesos-master==1.6.0; sys_platform != 'win32'
datadog-mesos-slave==2.0.1; sys_platform != 'win32'
datadog-mongo==1.12.0
datadog-mysql==1.10.0
datadog-nagios==1.5.1
datadog-network==1.12.2
datadog-nfsstat==1.4.1; sys_platform == 'linux2'
datadog-nginx-ingress-controller==1.1.0
datadog-nginx==3.5.0
datadog-openldap==1.4.0
datadog-openmetrics==1.3.0
datadog-openstack-controller==1.6.0
datadog-openstack==1.8.3
datadog-oracle==1.10.1
datadog-pdh-check==1.8.0; sys_platform == 'win32'
datadog-pgbouncer==1.8.0; sys_platform != 'win32'
datadog-php-fpm==1.7.0
datadog-postfix==1.5.1; sys_platform != 'win32'
datadog-postgres==3.4.0
datadog-powerdns-recursor==1.5.0
datadog-presto==2.0.1
datadog-process==1.10.3
datadog-prometheus==3.2.0
datadog-rabbitmq==1.11.0
datadog-redisdb==1.14.0
datadog-riak==1.6.0
datadog-riakcs==2.1.0
datadog-sap-hana==1.0.0
datadog-snmp==2.1.0
datadog-solr==1.2.0
datadog-spark==1.10.1
datadog-sqlserver==1.15.0; sys_platform != 'darwin'
datadog-squid==1.4.1
datadog-ssh-check==1.9.0
datadog-statsd==1.3.0
datadog-supervisord==1.3.0
datadog-system-core==1.5.3
datadog-system-swap==1.6.3
datadog-tcp-check==2.3.2
datadog-teamcity==1.6.0
datadog-tls==1.3.0
datadog-tokumx==2.1.0
datadog-tomcat==1.2.0
datadog-twemproxy==1.4.0
datadog-twistlock==1.4.0
datadog-varnish==1.5.0
datadog-vault==1.7.1
datadog-vertica==1.3.1
datadog-vsphere==4.3.0
datadog-win32-event-log==2.2.0; sys_platform == 'win32'
datadog-windows-service==2.3.0; sys_platform == 'win32'
datadog-wmi-check==1.6.0; sys_platform == 'win32'
datadog-yarn==1.11.0
datadog-zk==2.3.0; sys_platform != 'win32'
