init_config:

instances:

  ## @param host - string - required
  ## ASP .NET host to connect to.
  #
  - host: localhost
  
  ## @param port - integer - required
  ## ASP .NET port to connect to. 
  #
    port: 26379

  ## @param tags  - list of key:value element - optional 
  ## List of tags to attach to every metric, event and service check emitted by this integration.
  ## 
  ## Learn more about tagging: https://docs.datadoghq.com/tagging/
  #
  #  tags:
  #    - <KEY_1>:<VALUE_1>
  #    - <KEY_2>:<VALUE_2>

