<?xml version="1.0" encoding="UTF-8"?>
<domain xsi:schemaLocation="http://xmlns.oracle.com/weblogic/security/wls http://xmlns.oracle.com/weblogic/security/wls/1.0/wls.xsd http://xmlns.oracle.com/weblogic/domain http://xmlns.oracle.com/weblogic/1.0/domain.xsd http://xmlns.oracle.com/weblogic/security http://xmlns.oracle.com/weblogic/1.0/security.xsd http://xmlns.oracle.com/weblogic/security/xacml http://xmlns.oracle.com/weblogic/security/xacml/1.0/xacml.xsd" xmlns="http://xmlns.oracle.com/weblogic/domain" xmlns:sec="http://xmlns.oracle.com/weblogic/security" xmlns:wls="http://xmlns.oracle.com/weblogic/security/wls" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <name>domain1</name>
  <domain-version>14.1.1.0.0</domain-version>
  <security-configuration xmlns:xacml="http://xmlns.oracle.com/weblogic/security/xacml" xmlns:pas="http://xmlns.oracle.com/weblogic/security/providers/passwordvalidator">
    <name>domain1</name>
    <realm>
      <sec:authentication-provider xsi:type="wls:default-authenticatorType">
        <sec:name>DefaultAuthenticator</sec:name>
      </sec:authentication-provider>
      <sec:authentication-provider xsi:type="wls:default-identity-asserterType">
        <sec:name>DefaultIdentityAsserter</sec:name>
        <sec:active-type>AuthenticatedUser</sec:active-type>
        <sec:active-type>weblogic-jwt-token</sec:active-type>
      </sec:authentication-provider>
      <sec:role-mapper xsi:type="xacml:xacml-role-mapperType">
        <sec:name>XACMLRoleMapper</sec:name>
      </sec:role-mapper>
      <sec:authorizer xsi:type="xacml:xacml-authorizerType">
        <sec:name>XACMLAuthorizer</sec:name>
      </sec:authorizer>
      <sec:adjudicator xsi:type="wls:default-adjudicatorType">
        <sec:name>DefaultAdjudicator</sec:name>
      </sec:adjudicator>
      <sec:credential-mapper xsi:type="wls:default-credential-mapperType">
        <sec:name>DefaultCredentialMapper</sec:name>
      </sec:credential-mapper>
      <sec:cert-path-provider xsi:type="wls:web-logic-cert-path-providerType">
        <sec:name>WebLogicCertPathProvider</sec:name>
      </sec:cert-path-provider>
      <sec:cert-path-builder>WebLogicCertPathProvider</sec:cert-path-builder>
      <sec:name>myrealm</sec:name>
      <sec:password-validator xsi:type="pas:system-password-validatorType">
        <sec:name>SystemPasswordValidator</sec:name>
        <pas:min-password-length>8</pas:min-password-length>
        <pas:min-numeric-or-special-characters>1</pas:min-numeric-or-special-characters>
      </sec:password-validator>
    </realm>
    <default-realm>myrealm</default-realm>
    <credential-encrypted>{AES256}WlFZNicRIALJbluffEId/0NXFnbC5ZjRfC5Ec+2bk38GAGSxp2SRnnGSWrJQQvNCzRWkmxFcLG+99MjP4TuLQax8vyovk9k3moMMmfMw5+mtduDnYVQOHu3QVAgY8rHA</credential-encrypted>
    <node-manager-username>dd_user</node-manager-username>
    <node-manager-password-encrypted>{AES256}1b6Rc0hxOqsxR0PE9ze3XqBc1k9Eg97heCKGQCe8FS0=</node-manager-password-encrypted>
  </security-configuration>
  <log>
    <name>domain1</name>
    <file-name>domain1.log</file-name>
  </log>
  <server>
    <name>admin-server</name>
    <iiop>
      <default-minor-version>2</default-minor-version>
      <tx-mechanism>OTS</tx-mechanism>
      <default-wide-char-codeset>UCS-2</default-wide-char-codeset>
      <default-char-codeset>US-ASCII</default-char-codeset>
      <use-full-repository-id-list>false</use-full-repository-id-list>
      <use-stateful-authentication>true</use-stateful-authentication>
      <use-serial-format-version2>false</use-serial-format-version2>
      <system-security>supported</system-security>
    </iiop>
<!--    <machine>Machine-0</machine>-->
    <iiop-enabled>true</iiop-enabled>
    <default-iiop-user>dd_user</default-iiop-user>
    <default-iiop-password-encrypted>{AES256}1b6Rc0hxOqsxR0PE9ze3XqBc1k9Eg97heCKGQCe8FS0=</default-iiop-password-encrypted>
    <listen-address/>
    <network-access-point>
      <name>T3Channel</name>
      <public-address>kubernetes</public-address>
      <listen-port>30012</listen-port>
      <public-port>30012</public-port>
    </network-access-point>
  </server>
  <server-template>
    <name>cluster-1-template</name>
    <ssl>
      <name>cluster-1-template</name>
      <enabled>false</enabled>
      <listen-port>8100</listen-port>
    </ssl>
    <listen-port>8001</listen-port>
    <cluster>cluster-1</cluster>
  </server-template>
  <cluster>
    <name>cluster-1</name>
    <cluster-messaging-mode>unicast</cluster-messaging-mode>
    <dynamic-servers>
      <name>cluster-1</name>
      <server-template>cluster-1-template</server-template>
      <calculated-listen-ports>false</calculated-listen-ports>
      <server-name-prefix>managed-server</server-name-prefix>
      <dynamic-cluster-size>2</dynamic-cluster-size>
      <max-dynamic-cluster-size>2</max-dynamic-cluster-size>
    </dynamic-servers>
  </cluster>
  <production-mode-enabled>true</production-mode-enabled>
  <embedded-ldap>
    <name>domain1</name>
    <credential-encrypted>{AES256}X1M/FLl5TKkXUF1aSe4xsIE1JOK/1bomYGzz+GlH79km4Nx2pqKVt96url44QsqE</credential-encrypted>
  </embedded-ldap>
  <configuration-version>14.1.1.0.0</configuration-version>
  <app-deployment>
    <name>sample</name>
    <target>cluster-1,admin-server</target>
    <source-path>/u01/oracle/user_projects/domains/domain1/sample.war</source-path>
    <staging-mode>nostage</staging-mode>
  </app-deployment>
  <admin-server-name>admin-server</admin-server-name>
</domain>