instances:

    ## @param host - required
    ## @type  string
    ## @desc  Cassandra hostname to connect to.
    #
  - host: localhost

    ## @param port - required 
    ## @type  integer
    ## @desc  Cassandra port to connect to.
    #
    port: 7199

    ## @param cassandra_aliasing - required
    ## @type  boolean
    ## @desc  Description of this parameter
    #
    cassandra_aliasing: true

    ## @param tags - optional
    ## @type  list of key:value element
    ## @desc  List of tags to attach to every metrics, events and service checks emitted by this integration.
    ##        Learn more about tagging: https://docs.datadoghq.com/tagging/
    #
    # tags:
    #   - <KEY>:<VALUE>
    
    ## @param user - optional
    ## @type  string
    ## @desc  <USERNAME> for the Cassandra status endpoint authentication.
    #
    # user: <USERNAME>

    ## @param password - optional
    ## @type  string
    ## @desc  <PASSWORD> for the Cassandra status endpoint authentication.
    #
    # password: <PASSWORD>

    ## @param process_name_regex - optional
    ## @type  string
    ## @desc  Instead of specifying a host, and port. The agent can connect using the attach api.
    ##        This requires the JDK to be installed and the path to tools.jar to be set below.
    #
    # process_name_regex: .*<PROCESS_NAME>.* 

    ## @param tools_jar_path - optional
    ## @type  string
    ## @desc  Needs to be set when process_name_regex is set
    #
    # tools_jar_path: /usr/lib/jvm/java-7-openjdk-amd64/lib/tools.jar 
    
    ## @param name - optional
    ## @type  string 
    ## @desc  Description of the parameter 
    #
    # name: cassandra_instance

    ## @param java_bin_path - optional
    ## @type  string
    ## @desc  Should be set if the agent cannot find your java executable
    #
    # java_bin_path: <JAVA_PATH>

    ## @param java_options - optional
    ## @type  string
    ## @desc  Java JVM options
    #
    # java_options: "-Xmx200m -Xms50m"
    
    ## @param trust_store_path - optional
    ## @type  string
    ## @desc  If ssl is enabled, set the path to your trustStore
    #
    # trust_store_path: <TRUSTSTORE_PATH>.jks

    ## @param trust_store_password - optional
    ## @type  string
    ## @desc  If ssl is enabled, set your <PASSWORD> here.
    #
    # trust_store_password: <PASSWORD>

## Log Section (Available for Agent >=6.0)
#
#logs:

    ##   type - required - type of log input source (tcp / udp / file)
    ##   port / path - required - Set port if type is tcp or udp. Set path if type is file
    ##   service - required - name of the service owning the log
    ##   source - required - attribute that defines which integration is sending the logs
    ##   sourcecategory - optional -  Multiple value attribute. Can be used to refine the source attribtue
    ##   tags - optional - add tags to each logs collected

    ## Gathering all your Cassandra logs
    #
    # - type: file
    #   path: /var/log/cassandra/*.log
    #   source: cassandra
    #   sourcecategory: database
    #   service: myapplication
    
    
init_config:

  ## @param is_jmx - optional
  ## @type  boolean
  ## @desc  Specify if this configuration file is for a JMX integration
  #
  is_jmx: true
  
  ## @param collect_default_metrics - required
  ## @type  boolean
  ## @desc  Whether or not this check should collect all default metrics
  #
  collect_default_metrics: true

  ## List of metrics to be collected by the integration
  ## Read http://docs.datadoghq.com/integrations/java/ to learn how to customize it
  ## Agent 5: Customize all your metrics below
  ## Agent 6: The default metrics to be collected are kept in metrics.yaml, but you can still add your own metrics here

  conf:
    - include:
        domain: org.apache.cassandra.metrics
        type: ClientRequest
        name:
          - Latency
        attribute:
          - 75thPercentile
          - 95thPercentile
          - OneMinuteRate
    - include:
        domain: org.apache.cassandra.metrics
        type: DroppedMessage
        name:
          - Dropped
        attribute:
          - OneMinuteRate
    - include:
        domain: org.apache.cassandra.metrics
        type: ThreadPools
        scope:
          - MutationStage
          - CounterMutationStage
          - ReadStage
          - ViewMutationStage
        name:
          - PendingTasks
          - CurrentlyBlockedTasks
        path:
          - request
    - include:
        domain: org.apache.cassandra.metrics
        type: ThreadPools
        scope:
          - MemtableFlushWriter
          - HintsDispatcher
          - MemtablePostFlush
          - MigrationStage
          - MiscStage
          - SecondaryIndexManagement
        name:
          - PendingTasks
          - CurrentlyBlockedTasks
        path:
          - internal
    - include:
        domain: org.apache.cassandra.metrics
        type: Storage
        name:
          - Load
          - Exceptions
    - include:
        domain: org.apache.cassandra.metrics
        type: Table
        bean_regex:
          - .*keyspace=.*
        name:
          - ReadLatency
          - WriteLatency
        attribute:
          - 75thPercentile
          - 95thPercentile
          - 99thPercentile
          - OneMinuteRate
      exclude:
        keyspace:
          - system
          - system_auth
          - system_distributed
          - system_schema
          - system_traces
    - include:
        domain: org.apache.cassandra.metrics
        type: Table
        bean_regex:
          - .*keyspace=.*
        name:
          - RangeLatency
          - CasPrepareLatency
          - CasProposeLatency
          - CasCommitLatency
          - ViewLockAcquireTime
          - ViewReadTime
        attribute:
          - 75thPercentile
          - 95thPercentile
          - OneMinuteRate
      exclude:
        keyspace:
          - system
          - system_auth
          - system_distributed
          - system_schema
          - system_traces
    - include:
        domain: org.apache.cassandra.metrics
        type: Table
        bean_regex:
          - .*keyspace=.*
        name:
          - SSTablesPerReadHistogram
          - TombstoneScannedHistogram
          - WaitingOnFreeMemtableSpace
        attribute:
          - 75thPercentile
          - 95thPercentile
      exclude:
        keyspace:
          - system
          - system_auth
          - system_distributed
          - system_schema
          - system_traces
    - include:
        domain: org.apache.cassandra.metrics
        type: Table
        bean_regex:
          - .*keyspace=.*
        name:
          - ColUpdateTimeDeltaHistogram
        attribute:
          - Min
          - 75thPercentile
          - 95thPercentile
      exclude:
        keyspace:
          - system
          - system_auth
          - system_distributed
          - system_schema
          - system_traces
    - include:
        domain: org.apache.cassandra.metrics
        type: Table
        bean_regex:
          - .*keyspace=.*
        name:
          - BloomFilterFalseRatio
          - CompressionRatio
          - KeyCacheHitRate
          - LiveSSTableCount
          - MaxPartitionSize
          - MeanPartitionSize
          - MeanRowSize
          - MaxRowSize
          - PendingCompactions
          - SnapshotsSize
        attribute:
          - Value
      exclude:
        keyspace:
          - system
          - system_auth
          - system_distributed
          - system_schema
          - system_traces
    - include:
        domain: org.apache.cassandra.metrics
        type: Table
        bean_regex:
          - .*keyspace=.*
        name:
          - CompactionBytesWritten
          - BytesFlushed
          - PendingFlushes
          - LiveDiskSpaceUsed
          - TotalDiskSpaceUsed
          - RowCacheHitOutOfRange
          - RowCacheHit
          - RowCacheMiss
        attribute:
          - Count
      exclude:
        keyspace:
          - system
          - system_auth
          - system_distributed
          - system_schema
          - system_traces
    - include:
        domain: org.apache.cassandra.metrics
        type: Cache
        scope: KeyCache
        name:
          - HitRate
        attribute:
          - Count
    - include:
        domain: org.apache.cassandra.metrics
        type: CommitLog
        name:
          - PendingTasks
          - TotalCommitLogSize
        attribute:
          - Value
    - include:
        domain: org.apache.cassandra.db
        type: Tables
        attribute:
          DroppableTombstoneRatio:
            alias: cassandra.db.droppable_tombstone_ratio
    # Young Gen Collectors (Minor Collections)
    - include:
        domain: java.lang
        type: GarbageCollector
        name: Copy
        attribute:
          CollectionCount:
            metric_type: counter
            alias: jmx.gc.minor_collection_count
          CollectionTime:
            metric_type: counter
            alias: jmx.gc.minor_collection_time
    - include:
        domain: java.lang
        type: GarbageCollector
        name: PS Scavenge
        attribute:
          CollectionCount:
            metric_type: counter
            alias: jmx.gc.minor_collection_count
          CollectionTime:
            metric_type: counter
            alias: jmx.gc.minor_collection_time
    - include:
        domain: java.lang
        type: GarbageCollector
        name: ParNew
        attribute:
          CollectionCount:
            metric_type: counter
            alias: jmx.gc.minor_collection_count
          CollectionTime:
            metric_type: counter
            alias: jmx.gc.minor_collection_time
    - include:
        domain: java.lang
        type: GarbageCollector
        name: G1 Young Generation
        attribute:
          CollectionCount:
            metric_type: counter
            alias: jmx.gc.minor_collection_count
          CollectionTime:
            metric_type: counter
            alias: jmx.gc.minor_collection_time
    # Old Gen Collectors (Major collections)
    - include:
        domain: java.lang
        type: GarbageCollector
        name: MarkSweepCompact
        attribute:
          CollectionCount:
            metric_type: counter
            alias: jmx.gc.major_collection_count
          CollectionTime:
            metric_type: counter
            alias: jmx.gc.major_collection_time
    - include:
        domain: java.lang
        type: GarbageCollector
        name: PS MarkSweep
        attribute:
          CollectionCount:
            metric_type: counter
            alias: jmx.gc.major_collection_count
          CollectionTime:
            metric_type: counter
            alias: jmx.gc.major_collection_time
    - include:
        domain: java.lang
        type: GarbageCollector
        name: ConcurrentMarkSweep
        attribute:
          CollectionCount:
            metric_type: counter
            alias: jmx.gc.major_collection_count
          CollectionTime:
            metric_type: counter
            alias: jmx.gc.major_collection_time
    - include:
        domain: java.lang
        type: GarbageCollector
        name: G1 Mixed Generation
        attribute:
          CollectionCount:
            metric_type: counter
            alias: jmx.gc.major_collection_count
          CollectionTime:
            metric_type: counter
            alias: jmx.gc.major_collection_time
     # Deprecated metrics for pre Cassandra 3.0 versions compatibility.
     # If you are using cassandra 2, the metrics below will be used,
     # otherwise they will be ignored.
    - include:
        domain: org.apache.cassandra.metrics
        type: ColumnFamily
        bean_regex:
          - .*keyspace=.*
        name:
          - ReadLatency
          - WriteLatency
        attribute:
          - 75thPercentile
          - 95thPercentile
          - 99thPercentile
          - OneMinuteRate
      exclude:
        keyspace:
          - system
          - system_auth
          - system_distributed
          - system_schema
          - system_traces
    - include:
        domain: org.apache.cassandra.metrics
        type: ColumnFamily
        bean_regex:
          - .*keyspace=.*
        name:
          - RangeLatency
          - CasPrepareLatency
          - CasProposeLatency
          - CasCommitLatency
          - ViewLockAcquireTime
          - ViewReadTime
        attribute:
          - 75thPercentile
          - 95thPercentile
          - OneMinuteRate
      exclude:
        keyspace:
          - system
          - system_auth
          - system_distributed
          - system_schema
          - system_traces
    - include:
        domain: org.apache.cassandra.metrics
        type: ColumnFamily
        bean_regex:
          - .*keyspace=.*
        name:
          - SSTablesPerReadHistogram
          - TombstoneScannedHistogram
          - WaitingOnFreeMemtableSpace
        attribute:
          - 75thPercentile
          - 95thPercentile
      exclude:
        keyspace:
          - system
          - system_auth
          - system_distributed
          - system_schema
          - system_traces
    - include:
        domain: org.apache.cassandra.metrics
        type: ColumnFamily
        bean_regex:
          - .*keyspace=.*
        name:
          - ColUpdateTimeDeltaHistogram
        attribute:
          - Min
          - 75thPercentile
          - 95thPercentile
      exclude:
        keyspace:
          - system
          - system_auth
          - system_distributed
          - system_schema
          - system_traces
    - include:
        domain: org.apache.cassandra.metrics
        type: ColumnFamily
        bean_regex:
          - .*keyspace=.*
        name:
          - BloomFilterFalseRatio
          - CompressionRatio
          - KeyCacheHitRate
          - LiveSSTableCount
          - MaxPartitionSize
          - MeanPartitionSize
          - MeanRowSize
          - MaxRowSize
          - PendingCompactions
          - SnapshotsSize
        attribute:
          - Value
      exclude:
        keyspace:
          - system
          - system_auth
          - system_distributed
          - system_schema
          - system_traces
    - include:
        domain: org.apache.cassandra.metrics
        type: ColumnFamily
        bean_regex:
          - .*keyspace=.*
        name:
          - PendingFlushes
          - LiveDiskSpaceUsed
          - TotalDiskSpaceUsed
          - RowCacheHitOutOfRange
          - RowCacheHit
          - RowCacheMiss
        attribute:
          - Count
      exclude:
        keyspace:
          - system
          - system_auth
          - system_distributed
          - system_schema
          - system_traces
    - include:
        domain: org.apache.cassandra.db
        type: ColumnFamilies
        attribute:
          DroppableTombstoneRatio:
            alias: cassandra.db.droppable_tombstone_ratio
