instances:

  ## @param host - string - required
  ## Cassandra host to connect to
  #
  - host: localhost

  ## @param port - integer - required
  ## Cassandra port to connect to
  #
    port: 7199

  ## @param cassandra_aliasing - boolean - required
  ## XXXXXXXXXXX
  #
    cassandra_aliasing: true

  ## @param tags  - list of key:value element - optional 
  ## List of tags to attach to every metric, event and service check emitted by this integration.
  ## The 'environment' tag depends on the <cluster_name> in Cassandra configuration:
  ##   - if the environment information (eg 'prod' or 'test') is included in the <cluster_name>, just use <cluster_name>.
  ##   - otherwise it's good to add the information to the 'environment' tag (eg 'prod-<cluster_name>').
  ## This will prevent aggregating metrics matchingly named clusters in distinct environments.
  ## The 'datacenter' tag should be the name of the Cassandra data center the node belongs to.
  ##
  ## Learn more about tagging: https://docs.datadoghq.com/tagging/
  #
  #  tags:
  #    - environment: default_environment
  #    - datacenter: default_datacenter
    
  ## @param user - string - optional
  ##
  #
  #  user: <USERNAME>
  
  ## @param password - string - optional
  ## XXXXXXXXXXX
  #
  #  password: <PASSWORD>

  ## @param process_name_regex - string - optional
  ## XXXXXXXXXXX
  #
  #  process_name_regex: .*process_name.* 

  ## @param tools_jar_path - string - optional
  ## Instead of specifying a host, and port. The agent can connect using the attach api.
  ## This requires the JDK to be installed and the path to tools.jar to be set below.
  ## Note: It needs to be set when process_name_regex parameter is set
  #
  #  tools_jar_path: /usr/lib/jvm/java-7-openjdk-amd64/lib/tools.jar
  
  ## @param name - string - optional
  ## XXXXXXXXXXX
  #
  #   name: activemq_instance

    ## @param java_bin_path - string - optional
    ## java_bin_path should be set if the agent cannot find your java executable
    #
    #  java_bin_path: <JAVA_PATH>

    ## @param java_options - string - optional
    ## List of Java JVM options.
    #
    #  java_options: "-Xmx200m -Xms50m"

    ## @param trust_store_path - string - optional
    ## trust_store_path should be set if ssl is enabled.
    ## path to your trusted store
    #
    #  trust_store_path: <TRUSTSTORE.JKS_PATH>

    ## @param trust_store_password - string - optional
    ## trust_store_password should be set if ssl is enabled
    ## password for your TrustStore.jks file
    #
    #  trust_store_password: password


## Log Section (Available for Agent >=6.0)
##
## type - mandatory - Type of log input source (tcp / udp / file / windows_event)
## port / path / channel - mandatory - Set port if type is tcp or udp. Set path if type is file and channel if windows_event
## service - mandatory - Name of the service owning the log
## source  - mandatory - Attribute that defines which integration is sending the logs
## sourcecategory - optional - Multiple value attribute. Can be used to refine the source attribute
## tags: - optional - Add tags to each logs collected
##
## Discover Datadog log collection: https://docs.datadoghq.com/logs/log_collection/

#logs:
#  - type: file
#    path: /var/log/cassandra/*.log
#    source: cassandra
#    sourcecategory: database
#    service: myapplication
    
    
init_config:

  ## @param is_jmx - boolean - required - default: true
  ## Whether or not this file is a configuration for a JMX integration
  #
  is_jmx: true
  
  ## @param collect_default_metrics - boolean - required - default: true
  ## Whether or not the check should collect all default metrics for this integration.
  #
  collect_default_metrics: true

  ## List of metrics to be collected by the integration
  ## Read http://docs.datadoghq.com/integrations/java/ to learn how to customize it
  ## Agent 5: Customize all your metrics below
  ## Agent 6: The default metrics to be collected are kept in metrics.yaml, but you can still add your own metrics here

  conf:
    - include:
        domain: org.apache.cassandra.metrics
        type: ClientRequest
        name:
          - Latency
        attribute:
          - 75thPercentile
          - 95thPercentile
          - OneMinuteRate
    - include:
        domain: org.apache.cassandra.metrics
        type: DroppedMessage
        name:
          - Dropped
        attribute:
          - OneMinuteRate
    - include:
        domain: org.apache.cassandra.metrics
        type: ThreadPools
        scope:
          - MutationStage
          - CounterMutationStage
          - ReadStage
          - ViewMutationStage
        name:
          - PendingTasks
          - CurrentlyBlockedTasks
        path:
          - request
    - include:
        domain: org.apache.cassandra.metrics
        type: ThreadPools
        scope:
          - MemtableFlushWriter
          - HintsDispatcher
          - MemtablePostFlush
          - MigrationStage
          - MiscStage
          - SecondaryIndexManagement
        name:
          - PendingTasks
          - CurrentlyBlockedTasks
        path:
          - internal
    - include:
        domain: org.apache.cassandra.metrics
        type: Storage
        name:
          - Load
          - Exceptions
    - include:
        domain: org.apache.cassandra.metrics
        type: Table
        bean_regex:
          - .*keyspace=.*
        name:
          - ReadLatency
          - WriteLatency
        attribute:
          - 75thPercentile
          - 95thPercentile
          - 99thPercentile
          - OneMinuteRate
      exclude:
        keyspace:
          - system
          - system_auth
          - system_distributed
          - system_schema
          - system_traces
    - include:
        domain: org.apache.cassandra.metrics
        type: Table
        bean_regex:
          - .*keyspace=.*
        name:
          - RangeLatency
          - CasPrepareLatency
          - CasProposeLatency
          - CasCommitLatency
          - ViewLockAcquireTime
          - ViewReadTime
        attribute:
          - 75thPercentile
          - 95thPercentile
          - OneMinuteRate
      exclude:
        keyspace:
          - system
          - system_auth
          - system_distributed
          - system_schema
          - system_traces
    - include:
        domain: org.apache.cassandra.metrics
        type: Table
        bean_regex:
          - .*keyspace=.*
        name:
          - SSTablesPerReadHistogram
          - TombstoneScannedHistogram
          - WaitingOnFreeMemtableSpace
        attribute:
          - 75thPercentile
          - 95thPercentile
      exclude:
        keyspace:
          - system
          - system_auth
          - system_distributed
          - system_schema
          - system_traces
    - include:
        domain: org.apache.cassandra.metrics
        type: Table
        bean_regex:
          - .*keyspace=.*
        name:
          - ColUpdateTimeDeltaHistogram
        attribute:
          - Min
          - 75thPercentile
          - 95thPercentile
      exclude:
        keyspace:
          - system
          - system_auth
          - system_distributed
          - system_schema
          - system_traces
    - include:
        domain: org.apache.cassandra.metrics
        type: Table
        bean_regex:
          - .*keyspace=.*
        name:
          - BloomFilterFalseRatio
          - CompressionRatio
          - KeyCacheHitRate
          - LiveSSTableCount
          - MaxPartitionSize
          - MeanPartitionSize
          - MeanRowSize
          - MaxRowSize
          - PendingCompactions
          - SnapshotsSize
        attribute:
          - Value
      exclude:
        keyspace:
          - system
          - system_auth
          - system_distributed
          - system_schema
          - system_traces
    - include:
        domain: org.apache.cassandra.metrics
        type: Table
        bean_regex:
          - .*keyspace=.*
        name:
          - CompactionBytesWritten
          - BytesFlushed
          - PendingFlushes
          - LiveDiskSpaceUsed
          - TotalDiskSpaceUsed
          - RowCacheHitOutOfRange
          - RowCacheHit
          - RowCacheMiss
        attribute:
          - Count
      exclude:
        keyspace:
          - system
          - system_auth
          - system_distributed
          - system_schema
          - system_traces
    - include:
        domain: org.apache.cassandra.metrics
        type: Cache
        scope: KeyCache
        name:
          - HitRate
        attribute:
          - Count
    - include:
        domain: org.apache.cassandra.metrics
        type: CommitLog
        name:
          - PendingTasks
          - TotalCommitLogSize
        attribute:
          - Value
    - include:
        domain: org.apache.cassandra.db
        type: Tables
        attribute:
          DroppableTombstoneRatio:
            alias: cassandra.db.droppable_tombstone_ratio
    # Young Gen Collectors (Minor Collections)
    - include:
        domain: java.lang
        type: GarbageCollector
        name: Copy
        attribute:
          CollectionCount:
            metric_type: counter
            alias: jmx.gc.minor_collection_count
          CollectionTime:
            metric_type: counter
            alias: jmx.gc.minor_collection_time
    - include:
        domain: java.lang
        type: GarbageCollector
        name: PS Scavenge
        attribute:
          CollectionCount:
            metric_type: counter
            alias: jmx.gc.minor_collection_count
          CollectionTime:
            metric_type: counter
            alias: jmx.gc.minor_collection_time
    - include:
        domain: java.lang
        type: GarbageCollector
        name: ParNew
        attribute:
          CollectionCount:
            metric_type: counter
            alias: jmx.gc.minor_collection_count
          CollectionTime:
            metric_type: counter
            alias: jmx.gc.minor_collection_time
    - include:
        domain: java.lang
        type: GarbageCollector
        name: G1 Young Generation
        attribute:
          CollectionCount:
            metric_type: counter
            alias: jmx.gc.minor_collection_count
          CollectionTime:
            metric_type: counter
            alias: jmx.gc.minor_collection_time
    # Old Gen Collectors (Major collections)
    - include:
        domain: java.lang
        type: GarbageCollector
        name: MarkSweepCompact
        attribute:
          CollectionCount:
            metric_type: counter
            alias: jmx.gc.major_collection_count
          CollectionTime:
            metric_type: counter
            alias: jmx.gc.major_collection_time
    - include:
        domain: java.lang
        type: GarbageCollector
        name: PS MarkSweep
        attribute:
          CollectionCount:
            metric_type: counter
            alias: jmx.gc.major_collection_count
          CollectionTime:
            metric_type: counter
            alias: jmx.gc.major_collection_time
    - include:
        domain: java.lang
        type: GarbageCollector
        name: ConcurrentMarkSweep
        attribute:
          CollectionCount:
            metric_type: counter
            alias: jmx.gc.major_collection_count
          CollectionTime:
            metric_type: counter
            alias: jmx.gc.major_collection_time
    - include:
        domain: java.lang
        type: GarbageCollector
        name: G1 Mixed Generation
        attribute:
          CollectionCount:
            metric_type: counter
            alias: jmx.gc.major_collection_count
          CollectionTime:
            metric_type: counter
            alias: jmx.gc.major_collection_time
     # Deprecated metrics for pre Cassandra 3.0 versions compatibility.
     # If you are using cassandra 2, the metrics below will be used,
     # otherwise they will be ignored.
    - include:
        domain: org.apache.cassandra.metrics
        type: ColumnFamily
        bean_regex:
          - .*keyspace=.*
        name:
          - ReadLatency
          - WriteLatency
        attribute:
          - 75thPercentile
          - 95thPercentile
          - 99thPercentile
          - OneMinuteRate
      exclude:
        keyspace:
          - system
          - system_auth
          - system_distributed
          - system_schema
          - system_traces
    - include:
        domain: org.apache.cassandra.metrics
        type: ColumnFamily
        bean_regex:
          - .*keyspace=.*
        name:
          - RangeLatency
          - CasPrepareLatency
          - CasProposeLatency
          - CasCommitLatency
          - ViewLockAcquireTime
          - ViewReadTime
        attribute:
          - 75thPercentile
          - 95thPercentile
          - OneMinuteRate
      exclude:
        keyspace:
          - system
          - system_auth
          - system_distributed
          - system_schema
          - system_traces
    - include:
        domain: org.apache.cassandra.metrics
        type: ColumnFamily
        bean_regex:
          - .*keyspace=.*
        name:
          - SSTablesPerReadHistogram
          - TombstoneScannedHistogram
          - WaitingOnFreeMemtableSpace
        attribute:
          - 75thPercentile
          - 95thPercentile
      exclude:
        keyspace:
          - system
          - system_auth
          - system_distributed
          - system_schema
          - system_traces
    - include:
        domain: org.apache.cassandra.metrics
        type: ColumnFamily
        bean_regex:
          - .*keyspace=.*
        name:
          - ColUpdateTimeDeltaHistogram
        attribute:
          - Min
          - 75thPercentile
          - 95thPercentile
      exclude:
        keyspace:
          - system
          - system_auth
          - system_distributed
          - system_schema
          - system_traces
    - include:
        domain: org.apache.cassandra.metrics
        type: ColumnFamily
        bean_regex:
          - .*keyspace=.*
        name:
          - BloomFilterFalseRatio
          - CompressionRatio
          - KeyCacheHitRate
          - LiveSSTableCount
          - MaxPartitionSize
          - MeanPartitionSize
          - MeanRowSize
          - MaxRowSize
          - PendingCompactions
          - SnapshotsSize
        attribute:
          - Value
      exclude:
        keyspace:
          - system
          - system_auth
          - system_distributed
          - system_schema
          - system_traces
    - include:
        domain: org.apache.cassandra.metrics
        type: ColumnFamily
        bean_regex:
          - .*keyspace=.*
        name:
          - PendingFlushes
          - LiveDiskSpaceUsed
          - TotalDiskSpaceUsed
          - RowCacheHitOutOfRange
          - RowCacheHit
          - RowCacheMiss
        attribute:
          - Count
      exclude:
        keyspace:
          - system
          - system_auth
          - system_distributed
          - system_schema
          - system_traces
    - include:
        domain: org.apache.cassandra.db
        type: ColumnFamilies
        attribute:
          DroppableTombstoneRatio:
            alias: cassandra.db.droppable_tombstone_ratio
