instances:
  - host: localhost
    port: 7199
    cassandra_aliasing: true
    # Tags are used to be able to filter and aggregate metrics properly, in all the charts.
    #
    # The 'environment' tag depends on the <cluster_name> in Cassandra configuration:
    #   - if the environment information (eg 'prod' or 'test') is included in the <cluster_name>, just use <cluster_name>.
    #   - otherwise it's good to add the information to the 'environment' tag (eg 'prod-<cluster_name>').
    # This will prevent aggregating metrics matchingly named clusters in distinct environments.
    #
    # The 'datacenter' tag should be the name of the Cassandra data center the node belongs to.
    # tags:
    #   environment: default_environment
    #   datacenter: default_datacenter
    
    # user: username
    # password: password
    # process_name_regex: .*process_name.* # Instead of specifying a host, and port. The agent can connect using the attach api.
                                           # This requires the JDK to be installed and the path to tools.jar to be set below.
    # tools_jar_path: /usr/lib/jvm/java-7-openjdk-amd64/lib/tools.jar # To be set when process_name_regex is set
    # name: cassandra_instance
    # java_bin_path: /path/to/java # Optional, should be set if the agent cannot find your java executable
    # java_options: "-Xmx200m -Xms50m" # Optional, Java JVM options
    # trust_store_path: /path/to/trustStore.jks # Optional, should be set if ssl is enabled
    # trust_store_password: password

## Log Section (Available for Agent >=6.0)

#logs:

    # - type : (mandatory) type of log input source (tcp / udp / file)
    #   port / path : (mandatory) Set port if type is tcp or udp. Set path if type is file
    #   service : (mandatory) name of the service owning the log
    #   source : (mandatory) attribute that defines which integration is sending the logs
    #   sourcecategory : (optional) Multiple value attribute. Can be used to refine the source attribute
    #   tags: (optional) add tags to each logs collected
    
    # - type: file
    #   path: /var/log/cassandra/*.log
    #   source: cassandra
    #   sourcecategory: database
    #   service: myapplication
    
    
init_config:
  is_jmx: true
  collect_default_metrics: true

  # List of metrics to be collected by the integration
  # Read http://docs.datadoghq.com/integrations/java/ to learn how to customize it
  # Agent 5: Customize all your metrics below
  # Agent 6: The default metrics to be collected are kept in metrics.yaml, but you can still add your own metrics here
  conf:
    - include:
        domain: org.apache.cassandra.metrics
        type: ClientRequest
        name:
          - Latency
        attribute:
          - 75thPercentile
          - 95thPercentile
          - OneMinuteRate
    - include:
        domain: org.apache.cassandra.metrics
        type: DroppedMessage
        name:
          - Dropped
        attribute:
          - OneMinuteRate
    - include:
        domain: org.apache.cassandra.metrics
        type: ThreadPools
        scope:
          - MutationStage
          - CounterMutationStage
          - ReadStage
          - ViewMutationStage
        name:
          - PendingTasks
          - CurrentlyBlockedTasks
        path:
          - request
    - include:
        domain: org.apache.cassandra.metrics
        type: ThreadPools
        scope:
          - MemtableFlushWriter
          - HintsDispatcher
          - MemtablePostFlush
          - MigrationStage
          - MiscStage
          - SecondaryIndexManagement
        name:
          - PendingTasks
          - CurrentlyBlockedTasks
        path:
          - internal
    - include:
        domain: org.apache.cassandra.metrics
        type: Storage
        name:
          - Load
          - Exceptions
    - include:
        domain: org.apache.cassandra.metrics
        type: Table
        bean_regex:
          - .*keyspace=.*
        name:
          - ReadLatency
          - WriteLatency
        attribute:
          - 75thPercentile
          - 95thPercentile
          - 99thPercentile
          - OneMinuteRate
      exclude:
        keyspace:
          - system
          - system_auth
          - system_distributed
          - system_schema
          - system_traces
    - include:
        domain: org.apache.cassandra.metrics
        type: Table
        bean_regex:
          - .*keyspace=.*
        name:
          - RangeLatency
          - CasPrepareLatency
          - CasProposeLatency
          - CasCommitLatency
          - ViewLockAcquireTime
          - ViewReadTime
        attribute:
          - 75thPercentile
          - 95thPercentile
          - OneMinuteRate
      exclude:
        keyspace:
          - system
          - system_auth
          - system_distributed
          - system_schema
          - system_traces
    - include:
        domain: org.apache.cassandra.metrics
        type: Table
        bean_regex:
          - .*keyspace=.*
        name:
          - SSTablesPerReadHistogram
          - TombstoneScannedHistogram
          - WaitingOnFreeMemtableSpace
        attribute:
          - 75thPercentile
          - 95thPercentile
      exclude:
        keyspace:
          - system
          - system_auth
          - system_distributed
          - system_schema
          - system_traces
    - include:
        domain: org.apache.cassandra.metrics
        type: Table
        bean_regex:
          - .*keyspace=.*
        name:
          - ColUpdateTimeDeltaHistogram
        attribute:
          - Min
          - 75thPercentile
          - 95thPercentile
      exclude:
        keyspace:
          - system
          - system_auth
          - system_distributed
          - system_schema
          - system_traces
    - include:
        domain: org.apache.cassandra.metrics
        type: Table
        bean_regex:
          - .*keyspace=.*
        name:
          - BloomFilterFalseRatio
          - CompressionRatio
          - KeyCacheHitRate
          - LiveSSTableCount
          - MaxPartitionSize
          - MeanPartitionSize
          - MeanRowSize
          - MaxRowSize
          - PendingCompactions
          - SnapshotsSize
        attribute:
          - Value
      exclude:
        keyspace:
          - system
          - system_auth
          - system_distributed
          - system_schema
          - system_traces
    - include:
        domain: org.apache.cassandra.metrics
        type: Table
        bean_regex:
          - .*keyspace=.*
        name:
          - CompactionBytesWritten
          - BytesFlushed
          - PendingFlushes
          - LiveDiskSpaceUsed
          - TotalDiskSpaceUsed
          - RowCacheHitOutOfRange
          - RowCacheHit
          - RowCacheMiss
        attribute:
          - Count
      exclude:
        keyspace:
          - system
          - system_auth
          - system_distributed
          - system_schema
          - system_traces
    - include:
        domain: org.apache.cassandra.metrics
        type: Cache
        scope: KeyCache
        name:
          - HitRate
        attribute:
          - Count
    - include:
        domain: org.apache.cassandra.metrics
        type: CommitLog
        name:
          - PendingTasks
          - TotalCommitLogSize
        attribute:
          - Value
    - include:
        domain: org.apache.cassandra.db
        type: Tables
        attribute:
          DroppableTombstoneRatio:
            alias: cassandra.db.droppable_tombstone_ratio
    # Young Gen Collectors (Minor Collections)
    - include:
        domain: java.lang
        type: GarbageCollector
        name: Copy
        attribute:
          CollectionCount:
            metric_type: counter
            alias: jmx.gc.minor_collection_count
          CollectionTime:
            metric_type: counter
            alias: jmx.gc.minor_collection_time
    - include:
        domain: java.lang
        type: GarbageCollector
        name: PS Scavenge
        attribute:
          CollectionCount:
            metric_type: counter
            alias: jmx.gc.minor_collection_count
          CollectionTime:
            metric_type: counter
            alias: jmx.gc.minor_collection_time
    - include:
        domain: java.lang
        type: GarbageCollector
        name: ParNew
        attribute:
          CollectionCount:
            metric_type: counter
            alias: jmx.gc.minor_collection_count
          CollectionTime:
            metric_type: counter
            alias: jmx.gc.minor_collection_time
    - include:
        domain: java.lang
        type: GarbageCollector
        name: G1 Young Generation
        attribute:
          CollectionCount:
            metric_type: counter
            alias: jmx.gc.minor_collection_count
          CollectionTime:
            metric_type: counter
            alias: jmx.gc.minor_collection_time
    # Old Gen Collectors (Major collections)
    - include:
        domain: java.lang
        type: GarbageCollector
        name: MarkSweepCompact
        attribute:
          CollectionCount:
            metric_type: counter
            alias: jmx.gc.major_collection_count
          CollectionTime:
            metric_type: counter
            alias: jmx.gc.major_collection_time
    - include:
        domain: java.lang
        type: GarbageCollector
        name: PS MarkSweep
        attribute:
          CollectionCount:
            metric_type: counter
            alias: jmx.gc.major_collection_count
          CollectionTime:
            metric_type: counter
            alias: jmx.gc.major_collection_time
    - include:
        domain: java.lang
        type: GarbageCollector
        name: ConcurrentMarkSweep
        attribute:
          CollectionCount:
            metric_type: counter
            alias: jmx.gc.major_collection_count
          CollectionTime:
            metric_type: counter
            alias: jmx.gc.major_collection_time
    - include:
        domain: java.lang
        type: GarbageCollector
        name: G1 Mixed Generation
        attribute:
          CollectionCount:
            metric_type: counter
            alias: jmx.gc.major_collection_count
          CollectionTime:
            metric_type: counter
            alias: jmx.gc.major_collection_time
     # Deprecated metrics for pre Cassandra 3.0 versions compatibility.
     # If you are using cassandra 2, the metrics below will be used,
     # otherwise they will be ignored.
    - include:
        domain: org.apache.cassandra.metrics
        type: ColumnFamily
        bean_regex:
          - .*keyspace=.*
        name:
          - ReadLatency
          - WriteLatency
        attribute:
          - 75thPercentile
          - 95thPercentile
          - 99thPercentile
          - OneMinuteRate
      exclude:
        keyspace:
          - system
          - system_auth
          - system_distributed
          - system_schema
          - system_traces
    - include:
        domain: org.apache.cassandra.metrics
        type: ColumnFamily
        bean_regex:
          - .*keyspace=.*
        name:
          - RangeLatency
          - CasPrepareLatency
          - CasProposeLatency
          - CasCommitLatency
          - ViewLockAcquireTime
          - ViewReadTime
        attribute:
          - 75thPercentile
          - 95thPercentile
          - OneMinuteRate
      exclude:
        keyspace:
          - system
          - system_auth
          - system_distributed
          - system_schema
          - system_traces
    - include:
        domain: org.apache.cassandra.metrics
        type: ColumnFamily
        bean_regex:
          - .*keyspace=.*
        name:
          - SSTablesPerReadHistogram
          - TombstoneScannedHistogram
          - WaitingOnFreeMemtableSpace
        attribute:
          - 75thPercentile
          - 95thPercentile
      exclude:
        keyspace:
          - system
          - system_auth
          - system_distributed
          - system_schema
          - system_traces
    - include:
        domain: org.apache.cassandra.metrics
        type: ColumnFamily
        bean_regex:
          - .*keyspace=.*
        name:
          - ColUpdateTimeDeltaHistogram
        attribute:
          - Min
          - 75thPercentile
          - 95thPercentile
      exclude:
        keyspace:
          - system
          - system_auth
          - system_distributed
          - system_schema
          - system_traces
    - include:
        domain: org.apache.cassandra.metrics
        type: ColumnFamily
        bean_regex:
          - .*keyspace=.*
        name:
          - BloomFilterFalseRatio
          - CompressionRatio
          - KeyCacheHitRate
          - LiveSSTableCount
          - MaxPartitionSize
          - MeanPartitionSize
          - MeanRowSize
          - MaxRowSize
          - PendingCompactions
          - SnapshotsSize
        attribute:
          - Value
      exclude:
        keyspace:
          - system
          - system_auth
          - system_distributed
          - system_schema
          - system_traces
    - include:
        domain: org.apache.cassandra.metrics
        type: ColumnFamily
        bean_regex:
          - .*keyspace=.*
        name:
          - PendingFlushes
          - LiveDiskSpaceUsed
          - TotalDiskSpaceUsed
          - RowCacheHitOutOfRange
          - RowCacheHit
          - RowCacheMiss
        attribute:
          - Count
      exclude:
        keyspace:
          - system
          - system_auth
          - system_distributed
          - system_schema
          - system_traces
    - include:
        domain: org.apache.cassandra.db
        type: ColumnFamilies
        attribute:
          DroppableTombstoneRatio:
            alias: cassandra.db.droppable_tombstone_ratio
