instances:

    ## @param jmx_url - string - required
    ## JBoss/WildFly URL to connect to
    #
  - jmx_url: "service:jmx:remote+http://localhost:9990"

    ## @param tags - list of key:value element - optional
    ## List of tags to attach to every metric, event and service check emitted by this integration.
    ##
    ## Learn more about tagging: https://docs.datadoghq.com/tagging/
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>

    ## @param user - string - required
    ## JMX username
    #
    user: <USERNAME>

    ## @param password - string - required
    ## JMX User Password.
    #
    password: <PASSWORD>

    ## @param process_name_regex - string - optional
    ## Instead of specifying a host and port, the Agent can connect using the attach API.
    ## This requires the JDK to be installed and the path to tools.jar to be set below in tools_jar_path parameter.
    #
    # process_name_regex: .*process_name.*

    ## @param tools_jar_path - string - optional
    ## Instead of specifying a host, and port. The agent can connect using the attach api.
    ## This requires the JDK to be installed and the path to tools.jar to be set below.
    ## Note: It needs to be set when process_name_regex parameter is set
    #
    # tools_jar_path: /usr/lib/jvm/java-7-openjdk-amd64/lib/tools.jar

    ## @param name - string - optional
    ## Set your instance name.
    #
    # name: jboss_instance

    ## @param java_bin_path - string - optional
    ## java_bin_path should be set if the agent cannot find your java executable
    #
    # java_bin_path: <JAVA_PATH>

    ## @param java_options - string - optional
    ## List of Java JVM options.
    #
    # java_options: "-Xmx200m -Xms50m"

    ## @param trust_store_path - string - optional
    ## trust_store_path should be set if ssl is enabled.
    ## path to your trusted store
    #
    # trust_store_path: <TRUSTSTORE.JKS_PATH>

    ## @param trust_store_password - string - optional
    ## trust_store_password should be set if ssl is enabled
    ## password for your TrustStore.jks file
    #
    # trust_store_password: <PASSWORD>

    ## @param key_store_path - string - optional
    ## key_store_path should be set if client authentication is enabled on the target JVM.
    ## path to your key store
    #
    # key_store_path: <KEYSTORE.JKS_PATH>

    ## @param key_store_password - string - optional
    ## key_store_password should be set if client authentication is enabled on the target JVM.
    ## password for your KeyStore.jks file
    #
    # key_store_password: <PASSWORD>

    ## @param rmi_registry_ssl - boolean - optional - default: false
    ## Whether or not the agent should connect to the rmi registry using ssl.
    #
    # rmi_registry_ssl: false

init_config:

  ## @param is_jmx - boolean - required - default: true
  ## Whether or not this file is a configuration for a JMX integration
  #
  is_jmx: true

  ## @param collect_default_metrics - boolean - required - default: true
  ## Whether or not the check should collect all default metrics for this integration.
  #
  collect_default_metrics: true

  ## @param custom_jar_paths - list - optional
  ## When using JBoss default JMX implementation, the client JAR which allows connecting to it.
  ## See documentation: https://docs.datadoghq.com/integrations/java/#monitoring-jboss-wildfly-applications
  #
  # custom_jar_paths:
  #   - /path/to/jboss-cli-client.jar

  ## @param conf - list of objects - required
  ## List of metrics to be collected by the integration
  ## Read http://docs.datadoghq.com/integrations/java/ to learn how to customize it
  ## Agent 5: Customize all your metrics below
  ## Agent 6: The default metrics to be collected are kept in metrics.yaml, but you can still add your own metrics here
  ## inspired from:
  ## https://github.com/nlighten/wildfly_exporter/blob/master/client/src/main/java/nl/nlighten/prometheus/wildfly/JbossJdbcPoolExports.java #noqa
  ## https://github.com/prometheus/jmx_exporter/blob/master/example_configs/wildfly-10.yaml
  #
  conf:
  - include:
      bean_regex:
        - jboss\.as:subsystem=datasources,(?:xa-)*data-source=(.*),statistics=(.*)
      tags:
        datasource: $1
        statistics: $2
      attribute:
        ActiveCount:
          alias: jboss.jdbc_connections.count
          metric_type: gauge
        WaitCount:
          alias: jboss.jdbc_connections.request_wait
          metric_type: gauge
        IdleCount:
          alias: jboss.jdbc_connections.idle
          metric_type: gauge
        InUseCount:
          alias: jboss.jdbc_connections.active
          metric_type: gauge
        XACommitCount:
          alias: jboss.jdbc_xacommit.count
          metric_type: gauge
        XARollbackCount:
          alias: jboss.jdbc_xarollback.count
          metric_type: gauge
        XARecoverCount:
          alias: jboss.jdbc_xarecover.count
          metric_type: gauge
        PreparedStatementCacheCurrentSize:
          alias: jboss.jdbc_preparedstatementcache.size
          metric_type: gauge
        PreparedStatementCacheMissCount:
          alias: jboss.jdbc_preparedstatementcache.miss
          metric_type: gauge
        PreparedStatementCacheHitCount:
          alias: jboss.jdbc_preparedstatementcache.hit
          metric_type: gauge

  - include:
      bean:
        - jboss.as:subsystem=transactions
      attribute:
        numberOfAbortedTransactions:
          alias: jboss.transactions.aborted
          metric_type: gauge
        numberOfApplicationRollbacks:
          alias: jboss.transactions.application_rollbacks
          metric_type: gauge
        numberOfCommittedTransactions:
          alias: jboss.transactions.committed
          metric_type: gauge
        numberOfHeuristics:
          alias: jboss.transactions.heuristics
          metric_type: gauge
        numberOfInflightTransactions:
          alias: jboss.transactions.inflight
          metric_type: gauge
        numberOfNestedTransactions:
          alias: jboss.transactions.nested
          metric_type: gauge
        numberOfResourceRollbacks:
          alias: jboss.transactions.resource_rollbacks
          metric_type: gauge
        numberOfSystemRollbacks:
          alias: jboss.transactions.system_rollbacks
          metric_type: gauge
        numberOfTimedOutTransactions:
          alias: jboss.transactions.timed_out
          metric_type: gauge
        numberOfTransactions:
          alias: jboss.transactions.count
          metric_type: gauge



    ## Undertow
    ## inspired from:
    ## https://github.com/nlighten/wildfly_exporter/blob/master/client/src/main/java/nl/nlighten/prometheus/wildfly/UndertowExports.java

  - include:
      bean_regex:
        - jboss\.as:subsystem=undertow,server=.*,http-listener=.*
      attribute:
        errorCount:
          alias: jboss.undertow_listener.error_count
          metric_type: gauge
        processingTime:
          alias: jboss.undertow_listener.processing_time
          metric_type: gauge
        requestCount:
          alias: jboss.undertow_listener.request_count
          metric_type: gauge
        bytesSent:
          alias: jboss.undertow_listener.bytes_sent
          metric_type: gauge
        bytesReceived:
          alias: jboss.undertow_listener.bytes_received
          metric_type: gauge

  - include:
      bean_regex:
        - jboss\.as\.expr:deployment=(.*),subsystem=undertow
      tags:
        deployment: $1
      attribute:
        activeSessions:
          alias: jboss.undertow_session.active
          metric_type: gauge
        rejectedSessions:
          alias: jboss.undertow_session.rejected
          metric_type: gauge
        sessionsCreated:
          alias: jboss.undertow_session.created
          metric_type: gauge
        expiredSessions:
          alias: jboss.undertow_session.expired
          metric_type: gauge
        sessionAvgAliveTime:
          alias: jboss.undertow_session.alivetime_avg
          metric_type: gauge
        sessionMaxAliveTime:
          alias: jboss.undertow_session.alivetime_max
          metric_type: gauge

## Log Section (Available for Agent >=6.0)
##
## type - mandatory - Type of log input source (tcp / udp / file / windows_event)
## port / path / channel_path - mandatory - Set port if type is tcp or udp. Set path if type is file. Set channel_path if type is windows_event
## service - mandatory - Name of the service that generated the log
## source  - mandatory - Attribute that defines which Integration sent the logs
## tags: - optional - Add tags to the collected logs
##
## Discover Datadog log collection: https://docs.datadoghq.com/logs/log_collection/
##
## JBoss/Wildfly logs are located in the log subfolder of the jboss home folder.
#
# logs:
#   - type: file
#     path: /opt/jboss/wildfly/standalone/log/*.log
#     source: jboss_wildfly
#     service: <APPLICATION_NAME>
#     log_processing_rules:
#       - type: multi_line
#         name: log_start_with_date
#         pattern: \d{4}-\d{2}-\d{2}
