# Ignore everything
*/*
*.*

# But not these files
!.gitignore
!docker-compose.yml
!common/
!common/config/
!common/config/adminserver/env
!common/config/db/env
!common/config/jobservice/app.conf
!common/config/jobservice/env
!common/config/nginx/nginx.conf
!common/config/registry/config.yml
!common/config/registry/root.crt
!common/config/ui/app.conf
!common/config/ui/env
!common/config/ui/private_key.pem

!data/
!data/secretkey

