init_config:

instances:
    ## @param server - string - required
    ## ProxySQL host.
    #
  - server: <SERVER_URL>

    ## @param port - integer - required
    ## ProxySQL port for the admin interface.
    #
    port: <PROXYSQL_ADMIN_PORT>

    ## @param user - string - required
    ## ProxySQL admin user. It must be able to connect remotely.
    #
    user: <PROXYSQL_ADMIN_USER>

    ## @param pass - string - required
    ## ProxySQL admin password.
    #
    pass: <PROXYSQL_ADMIN_PASSWORD>

    ## @param connect_timeout - integer - optional - default: 10
    ## Timeout in seconds for connecting to ProxySQL.
    #
    # connect_timeout: <CONNECT_TIMEOUT>

    ## @param read_timeout - integer - optional
    ## Timeout in seconds for reading data from ProxySQL. Default "No Limit"
    #
    # read_timeout: <READ_TIMEOUT>

    ## @param tags - list of key:value elements - optional
    ## A list of tags to attach to every metric, event, and service check emitted by this integration.
    ##
    ## Learn more about tagging: https://docs.datadoghq.com/tagging/
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>

    ## @param additional_metrics - list of strings - optional
    ## List of additional metrics to collect in addition to the global ones.
    ## Learn more about these metrics at: https://github.com/sysown/proxysql/wiki/STATS-(statistics)
    #
    # additional_metrics:
    #   - command_counters_metrics
    #   - connection_pool_metrics
    #   - users_metrics
    #   - memory_metrics
    #   - query_rules_metrics
