init_config:

instances:

    ## @param nagios_conf - string - required
    ## Define the path to your Nagios configuration file.
    ## The Agent reads the main Nagios configuration file to get the locations of the Nagios log files it should watch.
    ## The integration also works with Icinga v1. If you use Icinga v1, set `nagios_conf` to the location of your Icinga
    ## configuration file.
    #
  - nagios_conf: /etc/nagios3/nagios.cfg

    ## @param collect_events - boolean - optional - default: true
    ## Set collect_events to false to disable Nagios Event collection.
    #
    # collect_events: true

    ## @param passive_checks_events - boolean - optional - default: false
    ## Set passive_checks_events to collect Nagios checks events.
    #
    # passive_checks_events: false

    ## @param collect_host_performance_data - boolean - optional - default: false
    ## With the default configuration, the Nagios check doesn't collect any metrics.
    ## Set `collect_host_performance_data` to `true` to collect Nagios host performance data.
    #
    # collect_host_performance_data: false

    ## @param collect_service_performance_data - boolean - optional - default: false
    ## With the default configuration, the Nagios check doesn't collect any metrics.
    ## Set `collect_service_performance_data` to `true` to collect Nagios service performance data.
    #
    # collect_service_performance_data: false

    ## @param tags - list of strings following the pattern: "key:value" - optional
    ## List of tags to attach to every metric, event and service check emitted by this integration.
    ##
    ## Learn more about tagging: https://docs.datadoghq.com/tagging/
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>
