init_config:

instances:

    ## @param url - string - required
    ## Riak stats url to connect to.
    #
  - url: http://127.0.0.1:8098/stats

    ## @param min_collection_interval - integer - required - default: 60
    ## Riak statistics are calculated on a per-minute sliding window,
    ## Change the default collection interval if need be
    #
    min_collection_interval: 60

    ## @param cacert - string - optional
    ## Path to the TLS CA certificate file (ca.pem).
    #
    # cacert: <TLS_CA_CERT_PATH>

    ## @param disable_cert_verify - boolean - optional - default: false
    ## Set to true to disable CA cert verification.
    #
    # disable_cert_verify: false

    ## @param tags - list of key:value elements - optional
    ## List of tags to attach to every metric, event, and service check emitted by this Integration.
    ##
    ## Learn more about tagging: https://docs.datadoghq.com/tagging/
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>

## Log Section (Available for Agent >=6.0)
##
## type - mandatory - Type of log input source (tcp / udp / file / windows_event)
## port / path / channel_path - mandatory - Set port if type is tcp or udp. Set path if type is file. Set channel_path if type is windows_event
## service - mandatory - Name of the service that generated the log
## source  - mandatory - Attribute that defines which Integration sent the logs
## tags: - optional - Add tags to the collected logs
##
## Discover Datadog log collection: https://docs.datadoghq.com/logs/log_collection/
#
# logs:
#   - type: file
#     path: /var/log/riak/console.log
#     source: riak
#     service: <SERVICE_NAME>
#
#   - type: file
#     path: /var/log/riak/error.log
#     source: riak
#     service: <SERVICE_NAME>
#     log_processing_rules:
#       - type: multi_line
#         name: new_log_start_with_date
#         pattern: \d{4}\-\d{2}\-\d{2}
#
#   - type: file
#     path: /var/log/riak/crash.log
#     source: riak
#     service: <SERVICE_NAME>
#     log_processing_rules:
#       - type: multi_line
#         name: new_log_start_with_date
#         pattern: \d{4}\-\d{2}\-\d{2}
