init_config:
    ## @param collect_service_metrics - boolean - optional - default: true
    ## Change to `false` to omit collecting service level metrics
    #
    # collect_service_metrics: true

    ## @param collect_service_status - boolean - optional - default: false
    ## Change to `false` to omit collecting services status
    #
    # collect_service_status: false

instances:

    ## @param url - string - required
    ## The URL of the Ambari Server, include http:// or https://
    #
  - url: localhost

    ## @param auth_type - string - optional
    ## The type of authentication to use.
    ## The available values are "basic" and "digest".
    #
    # auth_type: <AUTH_TYPE>

    ## @param user - string - optional
    ## Username created to connect to the Ambari server if using basic authentication
    #
    # username: admin

    ## @param password - string - optional
    ## Password associated with the Ambari server user if using basic authentication
    #
    # password: <UNIQUEPASSWORD>

    ## @param services - object - optional
    ## Required if collecting component metrics or service status.
    ## Note that each level of values is required.  This is essentially whitelisting
    ## metrics headers that are pulled for each components listed under their respective services.
    ## Listing no components or no metrics under a service will cause that service to be skipped for components metrics check.
    #
    # services:
    #     <SERVICE_NAME_1>:
    #       <COMPONENT_NAME_1>:
    #         - <METRIC_HEADER_1>
    #         - <METRIC_HEADER_2>
    #       <COMPONENT_NAME_2>:
    #         - <METRIC_HEADER_1>
    #         - <METRIC_HEADER_2>
    #     <SERVICE_NAME_2>:
    #       <COMPONENT_NAME_1>: []
    #       <COMPONENT_NAME_2>: []

    ## @param tags  - list of key:value elements - optional
    ## List of tags to attach to every metric, event and service check emitted by this integration.
    ##
    ## Learn more about tagging: https://docs.datadoghq.com/tagging/
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>

    ## @param tls_cert - string - optional
    ## Path to certificate to connect to the Ambari server if using TLS authentication
    #
    # tls_cert: <PATH_TO_CERTIFICATE>

    ## @param tls_private_key - string - optional
    ## Path to certificate private key to connect to the Ambari server if using TLS authentication
    #
    # tls_private_key: <PATH_TO_PRIVATE_KEY>

    ## @param tls_verify - boolean - optional - default: true
    ## Whether or not to verify TLS certificates (default true)
    #
    # tls_verify: true

    ## @param tls_ignore_warning - boolean - optional - default: false
    ## Ignore warnings for lack of SSL validation
    #
    # tls_ignore_warning = false

    ## @param timeout - integer - optional - default: 10
    ## Customizes the Ambari connection timeout (in seconds).
    #
    # timeout: 10

    ## @param headers - object - optional
    ## Map of headers to send on every request
    #
    # headers:
    #   <KEY_1>: <VALUE_1>
    #   <KEY_2>: <VALUE_2>

    ## @param persist_connections - boolean - optional - default: false
    ## Whether or not to persist cookies and use connection pooling
    #
    # persist_connections: false

    ## @param proxy - object - optional
    ## Proxy configuration
    #
    # proxy:
    #   http: <HTTP_PROXY>
    #   https: <HTTPS_PROXY>
    #   no_proxy:
    #     - <HOSTNAME_1>
    #     - <HOSTNAME_2>

    ## @param skip_proxy - boolean - optional - default: false
    ## Whether or not to skip the proxy configured in the Agent's config file when
    ## making the request to the PerfServlet
    #
    # skip_proxy: false

## Log Section (Available for Agent >=6.0)
##
## type - mandatory - Type of log input source (tcp / udp / file / windows_event)
## port / path / channel_path - mandatory - Set port if type is tcp or udp. Set path if type is file. Set channel_path if type is windows_event
## service - mandatory - Name of the service that generated the log
## source  - mandatory - Attribute that defines which Integration sent the logs
## tags: - optional - Add tags to the collected logs
##
## Discover Datadog log collection: https://docs.datadoghq.com/logs/log_collection/
#
# logs:
#   - type: file
#     path: /var/log/ambari-server/ambari-alerts.log
#     source: ambari
#     service: ambari
#     log_processing_rules:
#        - type: multi_line
#          name: new_log_start_with_date
#          pattern: \d{4}\-(0?[1-9]|1[012])\-(0?[1-9]|[12][0-9]|3[01])  # 2019-04-22 15:47:00,999
#   - type: file
#     path: /var/log/ambari-server/ambari-audit.log
#     source: ambari
#     service: ambari
#     log_processing_rules:
#        - type: multi_line
#          name: new_log_start_with_date
#          pattern: \d{4}\-(0?[1-9]|1[012])\-(0?[1-9]|[12][0-9]|3[01])  # 2019-05-25T13:13:17.875Z
#   - type: file
#     path: /var/log/ambari-server/config-changes.log
#     source: ambari
#     service: ambari
#   - type: file
#     path: /var/log/ambari-server/ambari-eclipselink.log
#     source: ambari
#     service: ambari
#   - type: file
#     path: /var/log/ambari-server/server-check-database.log
#     source: ambari
#     service: ambari
#   - type: file
#     path: /var/log/ambari-server/ambari-server-command.log
#     source: ambari
#     service: ambari
#     log_processing_rules:
#        - type: multi_line
#          name: new_log_start_with_date
#          pattern: (INFO|ERROR|WARN)  # ERROR 2019-04-22
#   - type: file
#     path: /var/log/ambari-server/ambari-server-pkgmgr.log
#     source: ambari
#     service: ambari
#   - type: file
#     path: /var/log/ambari-server/ambari-server.log
#     source: ambari
#     service: ambari
#   - type: file
#     path: /var/log/ambari-server/ambari-stack-merger.log
#     source: ambari
#     service: ambari
