## All options defined here are available to all instances.
#
# init_config: {}

## Every instance is scheduled independent of the others.
#
instances:

  -
    ## @param tags - list of strings - optional
    ## A list of tags to attach to every metric and service check emitted by this instance.
    ##
    ## Learn more about tagging at https://docs.datadoghq.com/tagging
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>

    ## @param include_interrupt_metrics - boolean - optional - default: false
    ## Optionally include CPU/IRQ interrupt metrics.  This can dramatically increase cardinality
    ## for large systems, so use with caution.
    #
    # include_interrupt_metrics: false
