[env.collectors.datadog-checks]

[envs.default]
# If you bump the `confluent-kafka` version, also bump the `librdkafka` version in the `32_install_kerberos.sh` file
post-install-commands = [
  "python -m pip uninstall -y confluent-kafka",
  "python -m pip install --no-binary confluent-kafka confluent-kafka==2.11.1",
]

[[envs.default.matrix]]
python = ["3.13"]
kafka_version = ["3.3"]
auth = ["ssl", "kerberos", "noauth"]

[envs.default.overrides]
# See mappings between kafka version and confluent versions here: https://docs.confluent.io/platform/current/installation/versions-interoperability.html
matrix.kafka_version.env-vars = [
  { key = "CONFLUENT_VERSION", value = "7.3.0", if = ["3.3"] },
]
matrix.auth.env-vars = "AUTHENTICATION"

[envs.latest.env-vars]
CONFLUENT_VERSION = "latest"