# kafka-python==1.4.7; sys_platform != 'win32'  # commented out until this is actually released
git+https://github.com/dpkp/kafka-python@ea35fdfe1d66eb481e3406ad161a1255573dd50f#egg=kafka-python==1.4.7.dev0; sys_platform != 'win32'
kazoo==2.6.1; sys_platform != 'win32'
