init_config:

  ## @param postfix_user - string - required
  ## The user running dd-agent must have passwordless sudo access for the find
  ## command to run the postfix check.  Here's an example:
  ## example /etc/sudoers entry:
  ##   dd-agent ALL=(postfix) NOPASSWD:/usr/bin/find /var/spool/postfix/incoming -type f
  ##
  ## Redhat/CentOS/Amazon Linux flavours need to add:
  ##          Defaults:dd-agent !requiretty
  #
  postfix_user: postfix

  ## @param postqueue - boolean - optional - default: false
  ## Set `postqueue: true` to gather mail queue counts using `postqueue -p` without the use of sudo.
  ## Postqueue binary is ran with set-group ID privileges, so that it can connect to Postfix daemon processes.
  ## Only `tags` keys are used from `instances` definition.
  ## Postfix has internal access controls that limit activities on the mail queue. By default,
  ## Postfix allows `anyone` to view the queue. On production systems where the Postfix installation
  ## may be configured with stricter access controls, you may need to grant the dd-agent user access to view
  ## the mail queue.
  ##
  ## postconf -e "authorized_mailq_users = dd-agent"
  ##
  ## http://www.postfix.org/postqueue.1.html
  ##
  ## authorized_mailq_users (static:anyone)
  ## List of users who are authorized to view the queue.
  #
  # postqueue: false

instances:

    ## @param directory - string - required
    ## Path to the postfix directory.
    #
  - directory: /var/spool/postfix

    ## @param queues - list of string - required
    ## List of queues to monitor.
    #
    queues:
      - incoming
      - active
      - deferred

    ## @param tags - list of key:value elements - optional
    ## List of tags to attach to every metric, event and service check emitted by this integration.
    ##
    ## Learn more about tagging: https://docs.datadoghq.com/tagging/
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>

    ## @param config_directory - string - optional
    ## The config_directory option only applies when `postqueue: true`.
    ## The config_directory is the location of the Postfix configuration directory
    ## where main.cf lives.
    #
    # config_directory: /etc/postfix

## Log Section (Available for Agent >=6.0)
##
## type - mandatory - Type of log input source (tcp / udp / file / windows_event)
## port / path / channel_path - mandatory - Set port if type is tcp or udp. Set path if type is file. Set channel_path if type is windows_event
## service - mandatory - Name of the service that generated the log
## source  - mandatory - Attribute that defines which Integration sent the logs
## tags: - optional - Add tags to the collected logs
##
## Discover Datadog log collection: https://docs.datadoghq.com/logs/log_collection/
#
# logs:
#   - type: file
#     path: /var/log/mail.log
#     service: <SERVICE_NAME>
#     source: postfix
