## NB: This check requires the python environment on which gunicorn runs to
## have the `setproctitle` module installed (https://pypi.python.org/pypi/setproctitle/)

init_config:

  ## @param gunicorn - string - optional - default: gunicorn
  ## Command or path to gunicorn (e.g. `/usr/local/bin/gunicorn` or `docker exec container gunicorn`)
  ## can be overwritten on an instance
  #
  # gunicorn: gunicorn

instances:

    ## @param proc_name - string - required
    ## The name of the gunicorn process. For the following gunicorn server:
    ##
    ## gunicorn --name <WEB_APP_NAME> <WEB_APP_CONFIG>.ini
    ##
    ## the name is `<WEB_APP_NAME>`
    #
  - proc_name: <WEB_APP_NAME>

    ## @param gunicorn - string - optional - default: gunicorn
    ## command or path to gunicorn (e.g. `/usr/local/bin/gunicorn` or `docker exec container gunicorn`)
    #
    # gunicorn: gunicorn

    ## @param tags - list of strings following the pattern: "key:value" - optional
    ## List of tags to attach to every metric and service check emitted by this integration.
    ##
    ## Learn more about tagging at https://docs.datadoghq.com/tagging
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>

## Log Section (Available for Agent >=6.0)
##
## type - mandatory - Type of log input source (tcp / udp / file / windows_event)
## port / path / channel_path - mandatory - Set port if type is tcp or udp. Set path if type is file. Set channel_path if type is windows_event
## service - mandatory - Name of the service that generated the log
## source  - mandatory - Attribute that defines which Integration sent the logs
## tags: - optional - Add tags to the collected logs
##
## Discover Datadog log collection: https://docs.datadoghq.com/logs/log_collection/
#
# logs:
#   - type: file
#     path: /var/log/gunicorn/access.log
#     service: <SERVICE>
#     source: gunicorn

#   - type: file
#     path: /var/log/gunicorn/error.log
#     service: <SERVICE>
#     source: gunicorn
#     log_processing_rules:
#        - type: multi_line
#          name: log_start_with_date
#          pattern: \[\d{4}-\d{2}-\d{2}
