## WARNING: Ensure the user account running the Agent (typically dd-agent) has read
## access to the monitored directory and files.

init_config:

instances:

    ## @param directory - string - required
    ## The directory to monitor. On windows, please make sure you escape back-slashes otherwise the YAML
    ##  parser fails (eg. - directory: "C:\\Users\\foo\\Downloads").
    #
  - directory: <DIRECTORY_PATH>

    ## @param name - string - optional - default: <DIRECTORY>
    ## Tag metrics with specified name.
    #
    # name: <DIRECTORY>

    ## @param dirtagname - string - optional - default: <NAME>
    ## The name of the key for the tag used for the directory, the value is the value of "name" (see above).
    ## The resulting tag attached is "<dirtagname>:<name>".
    #
    # dirtagname: <DIRECTORY_TAG_KEY>

    ## @param filetagname - string - optional - default: <FILE_NAME>
    ## The name of the key for the tag used for each file, the value is the filename.
    ## The resulting tag is "<filetagname>:<filename>". Only used if filegauges is set to true and if the directory
    ## contains 20 files or less (including sub-directories).
    #
    # filetagname: <TAG_KEY_FILENAME>

    ## @param filegauges - boolean - optional - default: false
    ## When true stats are an individual gauge per file (max. 20 files!) and not a histogram of the whole directory.
    #
    # filegauges: false

    ## @param pattern - string - optional - default: *
    ## the `fnmatch` pattern to use when reading the "directory"'s files.
    ## The pattern is matched against the files' absolute paths and relative paths in "directory".
    #
    # pattern: *

    ## @param exclude_dirs - list of strings - optional
    ## a list of regular expressions used to blacklist directory names.
    ## e.g. node_modules, vendor
    #
    # exclude_dirs:
    #   - ^__pycache__$
    #   - ^build$
    #   - ^node_modules$
    #   - ^vendor$

    ## @param dirs_patterns_full - boolean - optional - default: false
    ## Make exclude_dirs patterns operate on the full directory path (may be slightly slower)
    ## Setting this option to `false` excludes any directory in the traversal with the provided name.
    ## Setting this option to `true` allows you to specify the absolute path. This ensures multiple directories with the same
    ## name aren't all excluded.
    #
    # dirs_patterns_full: false

    ## @param recursive - boolean - optional - default: false
    ## When true the stats recurse into directories.
    #
    # recursive: false

    ## @param countonly - boolean - optional - default: false
    ## When true the stats only count the number of files matching the pattern.
    #
    # countonly: false

    ## @param ignore_missing - boolean - optional - default: false
    ## When true the check does not raise an exception on missing/inaccessible directories.
    #
    # ignore_missing: false

    ## @param ignore_missing - boolean - optional - default: true
    ## Following symlinks when traversing directories.
    #
    # follow_symlinks: true

    ## @param tags - list of key:value elements - optional
    ## List of tags to attach to every metric, event and service check emitted by this integration.
    ##
    ## Learn more about tagging: https://docs.datadoghq.com/tagging/
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>
