[env.collectors.datadog-checks]

[[envs.default.matrix]]
python = ["2.7", "3.8"]
version = ["2.4"]

[envs.default.overrides]
matrix.version.env-vars = [
  { key = "OPENLDAP_VERSION", value = "2_4_44", if = ["2.4"] },
]
