## All options defined here are available to all instances.
#
init_config:

    ## @param queue_manager_process - string - optional
    ## A regular expression that must match the command line of a running process in
    ## order for the check to run, which is useful if running MQ in a failover mode.
    ## A `<queue_manager>` placeholder is supported which represents the value of
    ## the `queue_manager` option defined in each check instance.
    ##
    ## This option is only available on Agent 7+.
    #
    # queue_manager_process: amqpcsea <queue_manager>

    ## @param queue_manager_process_limit - integer - optional - default: 1
    ## The maximum number of processes that can be matched at any given moment by
    ## the `queue_manager_process` option.
    ##
    ## Note that if this limit is lower than the actual limit the check will ignore
    ## some active queue managers, while if this limit is higher than the actual
    ## limit you may see increased CPU usage during check runs.
    #
    # queue_manager_process_limit: 1

    ## @param service - string - optional
    ## Attach the tag `service:<SERVICE>` to every metric, event, and service check emitted by this integration.
    ##
    ## Additionally, this sets the default `service` for every log source.
    #
    # service: <SERVICE>

## Every instance is scheduled independently of the others.
#
instances:

    ## @param channel - string - required
    ## The IBMMQ Channel to connect to.
    #
  - channel: DEV.ADMIN.SVRCONN

    ## @param queue_manager - string - required
    ## The name of the queue manager.
    #
    queue_manager: datadog

    ## @param host - string - optional - default: localhost
    ## The host IBM MQ is running on.
    #
    # host: localhost

    ## @param port - integer - optional - default: 1414
    ## The port IBM MQ is listening on.
    #
    # port: 1414

    ## @param connection_name - string - optional
    ## Connection name used to connect to IBM MQ with following syntax `<HOSTNAME>(<PORT>)`.
    ##
    ## Multiple connection names can be provided using comma as separator.
    ## The connections are usually tried in the order they are specified in the connection list
    ## until a connection is successfully established.
    ##
    ## Example `localhost(8080)` or `localhost(8080),localhost(8080),my.server(9090)`
    ##
    ## Either `host/port` or `connection_name` configuration must be provided.
    #
    # connection_name: <CONNECTION_NAME>

    ## @param override_hostname - boolean - optional - default: false
    ## If enabled, the check sends the provided `host` as hostname instead of the agent's host.
    ## In this case the `mq_host` tag will not be emitted. This cannot be used alongside `connection_name`
    #
    # override_hostname: false

    ## @param username - string - optional
    ## <USERNAME> of the IBMMQ Channel to connect to.
    #
    # username: <USERNAME>

    ## @param password - string - optional
    ## <PASSWORD> of the IBMMQ Channel to connect to.
    #
    # password: <PASSWORD>

    ## @param queues - list of strings - optional
    ## The IBMMQ queues to get data from (no queue metrics will be sent, but the check will run without it).
    ## This will be in addition to any queues discovered using `auto_discover_queues`, `queue_regex` or
    ## `queue_patterns`.
    #
    # queues:
    #   - <QUEUE_NAME>

    ## @param queue_patterns - list of strings - optional
    ## Collect from queues that match a MQ pattern
    ## Note: Do not use in conjunction with `auto_discover_queues` or `queue_regex` as it may lead to
    ## unexpected results.
    #
    # queue_patterns:
    #   - DEV.*
    #   - SYSTEM.*

    ## @param queue_regex - list of strings - optional
    ## Collect from queues that match a regex
    ## Note: Do not use in conjunction with `auto_discover_queues` or `queue_patterns` as it may lead to
    ## unexpected results.
    #
    # queue_regex:
    #   - ^DEV\..*$
    #   - ^SYSTEM\..*$

    ## @param channels - list of strings - optional
    ## Check the status of the following channels
    #
    # channels:
    #   - <CHANNEL_NAME>

    ## @param auto_discover_channels - boolean - optional - default: true
    ## Autodiscover channels to monitor. This finds all discoverable channels.
    ##
    ## Note: autodiscovered channels are in addition to the ones provided in `channels`.
    ## Disabling this option will stop autodiscovery only for status metrics but not for property metrics.
    #
    # auto_discover_channels: true

    ## @param channel_status_mapping - mapping - optional
    ## Custom channel status mapping for service check `ibm_mq.channel.status`.
    ##
    ## The key is the IBM MQ channel status. Valid keys are: `inactive`, `binding`, `starting`, `running`, `stopping`,
    ## `retrying`, `stopped`, `requesting`, `paused`, and `initializing`.
    ## The value is the Datadog service check level. Valid values are: `ok`, `warning`, `critical`, and `unknown`.
    ## If a channel status is not mapped, it is mapped to `unknown`.
    #
    # channel_status_mapping:
    #   inactive: critical
    #   binding: warning
    #   starting: warning
    #   running: ok
    #   stopping: critical
    #   retrying: warning
    #   stopped: critical
    #   requesting: warning
    #   paused: warning
    #   initializing: warning

    ## @param auto_discover_queues - boolean - optional - default: false
    ## Autodiscover the queues to monitor. This will discover all available queues. If you have dynamic queues
    ## it will discover and monitor them all which can drive CPU usage up. If you want to be more specific about the
    ## queues to monitor use `queue_patterns` or `queue_regex` instead.
    ## Warning: this can lead to some warnings in your logs
    #
    # auto_discover_queues: false

    ## @param collect_statistics_metrics - boolean - optional - default: false
    ## Collect metrics from Statistics Messages. Statistics collected are:
    ##   - channel statistics (MQCMD_STATISTICS_CHANNEL)
    ##   - queue statistics (MQCMD_STATISTICS_Q)
    #
    # collect_statistics_metrics: false

    ## @param collect_reset_queue_metrics - boolean - optional - default: true
    ## Collect metrics from Reset Queue Statistics. Statistics collected are:
    ##   - reset queue statistics (MQCMD_RESET_Q_STATS)
    ##
    ## Note: Collecting reset queue statistics will also reset the performance data and requires `+chg`
    ## permissions. More information found here:
    ## https://www.ibm.com/docs/en/ibm-mq/9.1?topic=formats-reset-queue-statistics
    #
    # collect_reset_queue_metrics: true

    ## @param mqcd_version - number - optional - default: 6
    ## Which channel definition version to use. Supported values are 1 to 9 including.
    ## If you're having connection issues make sure it matches your MQ version.
    ## TLS encryption requires MQCD of version at least 7.
    #
    # mqcd_version: 6

    ## @param convert_endianness - boolean - optional - default: false
    ## If you are monitoring IBM MQ remotely and if the Agent and the server are using different endianness,
    ## set this field to true. For example, you will need to enable this option if you are monitoring a server that
    ## is running on AIX or IBM i.
    #
    # convert_endianness: false

    ## @param queue_manager_timezone - string - optional - default: Etc/UTC
    ## Time zone of the queue manager in IANA/Olson timezone format, if it differs from Etc/UTC. Canonical IANA
    ## time zone names must be used for accurate time calculations during daylight saving time periods.
    ## E.g. `America/New_York` instead of `EST`.
    ## https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
    ## Used to calculate `ibm_mq.queue.last_put_time` and `ibm_mq.queue.last_get_time` metrics.
    #
    # queue_manager_timezone: Etc/UTC

    ## @param timeout - integer - optional - default: 5
    ## The number of seconds to wait for IBM MQ to respond.
    #
    # timeout: 5

    ## @param ssl_auth - boolean - optional - default: false
    ## Whether or not to use SSL auth while connecting to the channel.
    #
    # ssl_auth: false

    ## @param try_basic_auth - boolean - optional - default: true
    ## Whether or not to try connecting with just username and password before SSL when `ssl_auth` is enabled.
    ##
    ## WARNING: There is a known issue with the client library in which disabling
    ## this option has the potential to cause a memory leak.
    ##
    ## Note: When used in combination with `queue_manager_process`, the default is `false` instead. This option
    ## also prevents connection memory leaks.
    #
    # try_basic_auth: false

    ## @param ssl_cipher_spec - string - optional
    ## The TLS/SSL cipher to use. It should match the value of the channels SSLCIPH attribute. For an enumeration
    ## see: https://www.ibm.com/docs/en/ibm-mq/9.3?topic=jms-tls-cipherspecs-ciphersuites-in-mq-classes
    #
    # ssl_cipher_spec: <SSL_CIPHER_SPEC>

    ## @param ssl_key_repository_location - string - optional - default: /var/mqm/ssl-db/client/KeyringClient
    ## It specifies the location of the key database file in which keys and certificates are stored.
    ## The key database file must have a file name of the form zzz.kdb , where zzz is user-selectable.
    ## The KeyRepository field contains the path to this file, along with the file name stem
    ## (all characters in the file name up to but not including the final .kdb).
    ## Each key database file has an associated password stash file. This holds encoded passwords that are used to
    ## allow programmatic access to the key database. The password stash file must reside in the same directory and
    ## have the same file stem as the key database, and must end with the suffix .sth.
    #
    # ssl_key_repository_location: /var/mqm/ssl-db/client/KeyringClient

    ## @param ssl_certificate_label - string - optional
    ## Certificate label used for SSL connection.
    #
    # ssl_certificate_label: <SSL_CERTIFICATE_LABEL>

    ## @param queue_tag_re - mapping - optional
    ## Instruct the check to apply additional tags to matching
    ## queues
    ##
    ## Multiple comma-separated tags are supported. You must properly quote the string if the
    ## pattern contains special characters e.g. colons.
    #
    # queue_tag_re:
    #   SYSTEM.*: queue_type:system
    #   DEV.*: role:dev,queue_type:default

    ## @param queue_manager_process - string - optional
    ## A regular expression that must match the command line of a running process in
    ## order for the check to run, which is useful if running MQ in a failover mode.
    ## A `<queue_manager>` placeholder is supported which represents the value of
    ## the `queue_manager` option.
    ##
    ## This option is only available on Agent 7+.
    ##
    ## This overrides the `queue_manager_process` option in the `init_config` section
    ## but the `queue_manager_process_limit` option still applies.
    #
    # queue_manager_process: amqpcsea <queue_manager>

    ## @param tags - list of strings - optional
    ## A list of tags to attach to every metric and service check emitted by this instance.
    ##
    ## Learn more about tagging at https://docs.datadoghq.com/tagging
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>

    ## @param service - string - optional
    ## Attach the tag `service:<SERVICE>` to every metric, event, and service check emitted by this integration.
    ##
    ## Overrides any `service` defined in the `init_config` section.
    #
    # service: <SERVICE>

    ## @param min_collection_interval - number - optional - default: 15
    ## This changes the collection interval of the check. For more information, see:
    ## https://docs.datadoghq.com/developers/write_agent_check/#collection-interval
    #
    # min_collection_interval: 15

    ## @param empty_default_hostname - boolean - optional - default: false
    ## This forces the check to send metrics with no hostname.
    ##
    ## This is useful for cluster-level checks.
    #
    # empty_default_hostname: false

    ## @param metric_patterns - mapping - optional
    ## A mapping of metrics to include or exclude, with each entry being a regular expression.
    ##
    ## Metrics defined in `exclude` will take precedence in case of overlap.
    #
    # metric_patterns:
    #   include:
    #   - <INCLUDE_REGEX>
    #   exclude:
    #   - <EXCLUDE_REGEX>

## Log Section
##
## type - required - Type of log input source (tcp / udp / file / windows_event).
## port / path / channel_path - required - Set port if type is tcp or udp.
##                                         Set path if type is file.
##                                         Set channel_path if type is windows_event.
## source  - required - Attribute that defines which integration sent the logs.
## encoding - optional - For file specifies the file encoding. Default is utf-8. Other
##                       possible values are utf-16-le and utf-16-be.
## service - optional - The name of the service that generates the log.
##                      Overrides any `service` defined in the `init_config` section.
## tags - optional - Add tags to the collected logs.
##
## Discover Datadog log collection: https://docs.datadoghq.com/logs/log_collection/
#
# logs:
#   - type: file
#     path: /var/mqm/log/<APPNAME>/active/AMQERR01.LOG
#     source: ibm_mq
#     log_processing_rules:
#     - type: multi_line
#       name: new_log_start_with_date
#       pattern: \d{2}/\d{2}/\d{4}
