#
# At the time of writing (Jan 30 2020), this was the latest version of these
# libraries.
#
tuf==0.12.2
in-toto==0.4.2
#
# Make sure TUF and in-toto use the same version of this library, which they
# both use in common. At the time of writing (Jan 30 2020), this was the latest
# version of the library.
#
securesystemslib[crypto,pynacl]==0.14.2
