init_config:

  ## @param is_jmx - boolean - required - default: true
  ## Whether or not this file is a configuration for a JMX integration
  #
  is_jmx: true

  ## @param collect_default_metrics - boolean - required - default: true
  ## Whether or not the check should collect all default metrics for this integration.
  #
  collect_default_metrics: true

instances:

  ## @param host - string - required
  ## Presto host to connect to
  #
  - host: localhost

  ## @param port - integer - required
  ## Presto port to connect to
  #
    port: 7199

  ## @param tags  - list of key:value element - optional
  ## List of tags to attach to every metric and service check emitted by this integration.
  ## The 'environment' tag depends on the <node_environment> in the Presto node.properties configuration:
  ##   - if the environment information (eg 'prod' or 'test') is included in the <node_environment>, just use <node_environment>.
  ##   - otherwise it's good to add the information to the 'environment' tag (eg 'prod-<node_environment>').
  ## This will prevent aggregation of metrics from like-named clusters in distinct environments.
  ## The 'node_type' tag should be the Presto server type (coordinator or worker).
  ##
  ## Learn more about tagging: https://docs.datadoghq.com/tagging/
  #
  #  tags:
  #    - environment: <NODE_ENVIRONMENT>
  #    - node_type: <NODE_TYPE>   # coordinator or worker

  ## @param user - string - optional
  ##
  #
  #  user: <USERNAME>

  ## @param password - string - optional
  ## XXXXXXXXXXX
  #
  #  password: <PASSWORD>

  ## @param process_name_regex - string - optional
  ## XXXXXXXXXXX
  #
  #  process_name_regex: .*process_name.*

  ## @param tools_jar_path - string - optional
  ## Instead of specifying a host, and port. The agent can connect using the attach api.
  ## This requires the JDK to be installed and the path to tools.jar to be set below.
  ## Note: It needs to be set when process_name_regex parameter is set
  #
  #  tools_jar_path: /usr/lib/jvm/java-7-openjdk-amd64/lib/tools.jar

  ## @param name - string - optional
  ## XXXXXXXXXXX
  #
  #   name: coordinator_instance

  ## @param java_bin_path - string - optional
  ## java_bin_path should be set if the agent cannot find your java executable
  #
  #  java_bin_path: <JAVA_PATH>

  ## @param java_options - string - optional
  ## List of Java JVM options.
  #
  #  java_options: "-Xmx200m -Xms50m"

  ## @param trust_store_path - string - optional
  ## trust_store_path should be set if ssl is enabled.
  ## path to your trusted store
  #
  #  trust_store_path: <TRUSTSTORE.JKS_PATH>

  ## @param trust_store_password - string - optional
  ## trust_store_password should be set if ssl is enabled
  ## password for your TrustStore.jks file
  #
  #  trust_store_password: password

  ## @param key_store_path - string - optional
  ## key_store_path should be set if client authentication is enabled on the target JVM.
  ## path to your key store
  #
  #  key_store_path: <KEYSTORE.JKS_PATH>

  ## @param key_store_password - string - optional
  ## key_store_password should be set if client authentication is enabled on the target JVM.
  ## password for your KeyStore.jks file
  #
  #  key_store_password: <PASSWORD>

  ## @param rmi_registry_ssl - boolean - optional
  ## Whether or not the agent should connect to the rmi registry using ssl.
  #
  #  rmi_registry_ssl: false

  ## List of metrics to be collected by the integration
  ## Read http://docs.datadoghq.com/integrations/java/ to learn how to customize it
  ## Agent 5: Customize all your metrics below
  ## Agent 6: The default metrics to be collected are kept in metrics.yaml, but you can still add your own metrics here

  conf:
    - include:

## Log Section (Available for Agent >=6.0)
##
## type - mandatory - Type of log input source (tcp / udp / file / windows_event)
## port / path / channel - mandatory - Set port if type is tcp or udp. Set path if type is file and channel if windows_event
## service - mandatory - Name of the service owning the log
## source  - mandatory - Attribute that defines which integration is sending the logs
## sourcecategory - optional - Multiple value attribute. Can be used to refine the source attribute
## tags: - optional - Add tags to each logs collected
##
## Discover Datadog log collection: https://docs.datadoghq.com/logs/log_collection/
##
## Presto logs are located in the /var/log directory of the <node.data-dir> specfied in the Presto node.properties file.
#
# logs:
#   - type: file
#     path: /data/var/log/*.log
#     source: presto
#     sourcecategory: database
#     service: myapplication


