# This file is overwritten upon Agent upgrade.
# To make modifications to the check configuration, please copy this file
# to `vault.yaml` and make your changes on that file.

init_config:

instances:
  - api_url: http://localhost:8200/v1

  # The default configuration does not require a client token.
  # client_token: TOKEN

  # Whether or not this instance should report cluster leader change events.
  # detect_leader: false

  # tags:
  #   - instance:foo

  # If the API endpoint is behind basic auth:
  # username: USERNAME
  # password: PASSWORD

  # The (optional) ssl_verify parameter will instruct the check to validate SSL
  # certificates when connecting to Vault. Defaulting to true, set to false if
  # you want to disable SSL certificate validation.
  #
  # ssl_verify: true
  #
  # If you disable the ssl_verify above, you will still receive security
  # warnings in logs. You can disable those too using the flag below.
  #
  # ssl_ignore_warning: false

  # The (optional) skip_proxy parameter will bypass any proxy
  # settings enabled and attempt to reach Vault directly.
  #
  # skip_proxy: false

  # If you need to specify a custom timeout in seconds for API access (default is 20):
  # timeout: 20
