steps:
# https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema#checkout
- checkout: self
  fetchDepth: 10

# Azure checks out the code from the PR but leaves us in a detached state.
# Because ddev cannot work in that state, we create a branch.
# Only applies to PRs
- script: git checkout -B azure/$(System.PullRequest.SourceBranch)
  condition: eq(variables['Build.Reason'], 'PullRequest')
  displayName: 'Create branch from PR'

# Azure pulls a commit hash via git fetch rather than clone so
# we checkout the branches we need which also gets us out of a
# detached HEAD state. This may be fixed soon, see:
# https://developercommunity.visualstudio.com/content/problem/373462/git-get-sources-shallow-fetch-is-broken-subject-to.html
#- script: git checkout master
#  displayName: 'Checkout master'

# Switch to the pull request branch last. Also see:
# https://docs.microsoft.com/en-us/azure/devops/pipelines/build/variables#system-variables
- script: git checkout azure/$(System.PullRequest.SourceBranch)
  condition: eq(variables['Build.Reason'], 'PullRequest')
  displayName: 'Checkout branch'
