parameters:
  - name: repo
    default: 'core'
  - name: pip_cache_config
    displayName: 'Pip cache configuration'
    type: object
    default: {}

steps:
# Install the Python version with which to use globally last as
# these tasks prepend to PATH instead of appending to it. See:
# https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/use-python-version
- task: UsePythonVersion@0
  inputs:
    versionSpec: '2.7'
  displayName: 'Use Python 2.7'

- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.8'
  displayName: 'Use Python 3.8'

# See: https://docs.microsoft.com/en-us/azure/devops/pipelines/release/caching
- task: Cache@2
  inputs: ${{ parameters.pip_cache_config }}
  displayName: 'Cache pip dependencies'

- script: python -m pip install --disable-pip-version-check --upgrade pip setuptools
  displayName: 'Upgrade Python packaging tools'

- script: pip install --disable-pip-version-check git+git://github.com/ofek/codecov-python.git@73271695d5e8ab2d6538a06e63b400f163f26487
  displayName: 'Install Codecov'

- ${{ if eq(parameters.repo, 'core') }}:
  - script: pip install ./datadog_checks_dev[cli]
    displayName: 'Install ddev from local folder'

- ${{ if not(eq(parameters.repo, 'core')) }}:
  - script: pip install datadog-checks-dev[cli]
    displayName: 'Install ddev from PyPI'

- script: ddev config set ${{ parameters.repo }} . && ddev config set repo ${{ parameters.repo }}
  displayName: 'Configure ddev'
