parameters:
  test_run: ''
  check: ''
  test: false
  test_e2e: false
  ddtrace_flag: ''
  benchmark: false
  latest: false
  repo: ''
  coverage: true
  force_base_package: false

steps:
#- ${{ if and(eq(parameters.test, 'true'), eq(parameters.coverage, 'true'), eq(parameters.force_base_package, 'false')) }}:
#  - script: ddev test --cov --junit ${{ parameters.ddtrace_flag }} ${{ parameters.check }}
#    displayName: 'Run Unit/Integration tests'
#
#- ${{ if and(eq(parameters.test, 'true'), not(eq(parameters.coverage, 'true'))) }}:
#    - script: ddev test --junit ${{ parameters.ddtrace_flag }} ${{ parameters.check }}
#      displayName: 'Run Unit/Integration tests (no coverage)'
#
## Nightly base package check
#- ${{ if and(eq(parameters.test, 'true'), eq(parameters.force_base_package, 'true')) }}:
#    - script: ddev test --force-base-min --force-env-rebuild --junit ${{ parameters.check }}
#      displayName: 'Run Unit/Integration tests (forced install of minimum datadog_checks_base package)'

- ${{ if and(eq(parameters.test_e2e, 'true'), eq(parameters.repo, 'core'))}}:
  - script: ddev env test --new-env --junit ${{ parameters.check }} -k test_e2e_core --agent datadog/agent-dev:alex-snmp-detect-metrics-to-collect-new-handle-metric-tags
    displayName: 'Run E2E tests against latest base package'
    env:
      DD_API_KEY: $(DD_API_KEY)

#- ${{ if and(eq(parameters.test_e2e, 'true'), ne(parameters.repo, 'core'))}}:
#  - script: ddev env test --new-env --junit ${{ parameters.check }} -k test_e2e_core --agent datadog/agent-dev:alex-snmp-detect-metrics-to-collect-new-py3
#    displayName: 'Run E2E tests'
#    env:
#      DD_API_KEY: $(DD_API_KEY)

#- ${{ if eq(parameters.benchmark, 'true') }}:
#  - script: ddev test --bench --junit ${{ parameters.check }}
#    displayName: 'Run benchmarks'
#
#- ${{ if eq(parameters.latest, 'true') }}:
#    - script: ddev test --latest --junit ${{ parameters.ddtrace_flag }} ${{ parameters.check }}
#      displayName: 'Run tests and verify support for the latest version'
#
#    - script: ddev env test --base --new-env --junit ${{ parameters.ddtrace_flag }} ${{ parameters.check }}:latest
#      displayName: 'Run E2E tests for the latest version'
#      env:
#        DD_API_KEY: $(DD_API_KEY)

- task: PublishTestResults@2 # Task info: https://docs.microsoft.com/en-gb/azure/devops/pipelines/tasks/test/publish-test-results
  condition: succeededOrFailed()
  inputs:
    testResultsFiles: '**/test-*.xml'
    testRunTitle: '${{ parameters.test_run }}'
    mergeTestResults: true
