parameters:
  test_run: ''
  check: ''
  test: false
  test_e2e: false
  ddtrace_flag: ''
  benchmark: false
  latest: false
  repo: ''
  coverage: true
  force_base_package: false

steps:

- ${{ if and(eq(parameters.test_e2e, 'true'), eq(parameters.repo, 'core'))}}:
  - script: ddev env test --base --new-env --junit ${{ parameters.check }} --agent datadog/agent-dev:alex-snmp-lldp-resolve-local
    displayName: 'Run E2E tests against latest base package'
    env:
      DD_API_KEY: $(DD_API_KEY)


- task: PublishTestResults@2 # Task info: https://docs.microsoft.com/en-gb/azure/devops/pipelines/tasks/test/publish-test-results
  condition: succeededOrFailed()
  inputs:
    testResultsFiles: '**/test-*.xml'
    testRunTitle: '${{ parameters.test_run }}'
    mergeTestResults: true
