parameters:
  job_name: ''
  check: ''
  display: ''
  test: true
  test_e2e: false
  benchmark: false
  latest_metrics: false
  validate: false
  repo: 'core'
  pip_cache_config: null
  run_py2_tests: true  # Whether or not to run python2 tests
  coverage: true
  install_vcpython27: false

jobs:
- job: '${{ coalesce(parameters.job_name, parameters.check) }}_Windows'
  displayName: '${{ parameters.display }}'

  pool:
    vmImage: 'windows-2019'

  variables:
    ${{ if not(eq(parameters.run_py2_tests, 'true')) }}:
      TOX_SKIP_ENV: py27.*  # Don't run py2 tests

  steps:
  - template: './checkout-code.yml'

  - template: './set-up-windows.yml'

  - template: './install-deps.yml'
    parameters:
      repo: ${{ parameters.repo }}
      pip_cache_config: ${{ parameters.pip_cache_config }}
      run_py2_tests: ${{ parameters.run_py2_tests }}
      install_vcpython27: ${{ parameters.install_vcpython27 }}

  - template: './set-up-integrations.yml'
    parameters:
      check: ${{ parameters.check }}

  - ${{ if eq(parameters.validate, 'true') }}:
    - template: './run-validations.yml'
      parameters:
        repo: ${{ parameters.repo }}

  - template: './run-tests.yml'
    parameters:
      test_run: '${{ coalesce(parameters.job_name, parameters.check) }}.windows'
      check: ${{ parameters.check }}
      test: ${{ parameters.test }}
      test_e2e: ${{ parameters.test_e2e }}
      benchmark: ${{ parameters.benchmark }}
      latest_metrics: ${{ parameters.latest_metrics }}
      repo: ${{ parameters.repo }}
      coverage: ${{ parameters.coverage }}
