parameters:
  job_name: ''
  check: ''
  display: ''
  test: true
  test_e2e: false
  benchmark: false
  validate: false
  repo: 'core'

jobs:
- job: '${{ coalesce(parameters.job_name, parameters.check) }}_Windows'
  displayName: '${{ coalesce(parameters.display, parameters.check) }}'

  pool:
    vmImage: 'windows-2019'

  steps:
  - template: './checkout-code.yml'

  - template: './set-up-windows.yml'

  - template: './install-deps.yml'
    parameters:
      repo: ${{ parameters.repo }}

  - template: './set-up-integrations.yml'
    parameters:
      check: ${{ parameters.check }}

  - ${{ if eq(parameters.validate, 'true') }}:
    - template: './run-validations.yml'
      parameters:
        repo: ${{ parameters.repo }}

  - template: './run-tests.yml'
    parameters:
      check: ${{ parameters.check }}
      test: ${{ parameters.test }}
      test_e2e: ${{ parameters.test_e2e }}
      benchmark: ${{ parameters.benchmark }}
