init_config:

  ## @param nodetool - string - required
  ## command or path to nodetool (e.g. /usr/bin/nodetool or docker exec container nodetool) 
  ## can be overwritten on an instance
  #
  #  nodetool: /usr/bin/nodetool

instances:

  ## @param keyspaces - list of string - required
  ## The list of keyspaces to monitor.
  ## An empty list results in no metrics being sent.
  #
  - keyspaces:
      - <KEYSPACE_1>
      - <KEYSPACE_2>

  ## @param host - string - optional 
  ## Host that the Datadog Cassandra Nodetool check connects to.
  #
  #  host: localhost

  ## @param port - integer - optional
  ## The port JMX is listening to for connections.
  #
  #  port: 7199

  ## @param username - string - optional
  ## Username from the credentials needed to connect to the host. These are the credentials for the JMX server.
  ## For the check to work, this user must have a read/write access so that the Datadog Cassandra nodetool check can execute the `status` command
  #
  #  username: <USERNAME>

  ## @param password - string - optional
  ## Username from the credentials needed to connect to the host. These are the credentials for the JMX server.
  ## For the check to work, this user must have a read/write access so that the Datadog Cassandra Nodetool check can execute the `status` command 
  #
  #  password: <PASSWORD>

  ## @param tags  - list of key:value element - optional 
  ## List of tags to attach to every metric, event and service check emitted by this integration.
  ## 
  ## Learn more about tagging: https://docs.datadoghq.com/tagging/
  #
  #  tags:
  #    - <KEY_1>:<VALUE_1>
  #    - <KEY_2>:<VALUE_2>
