init_config:

  ## @param nodetool - string - required
  ## command or path to nodetool (e.g. /usr/bin/nodetool or docker exec container nodetool)
  ## can be overwritten on an instance
  ## Note: Agent v6.11+ on Windows runs as an unprivileged user (`ddagentuser`). That user needs to be granted
  ## access to the nodetool installation directory for the check to work.  
  ## The nodetool installation also sets some environment variables (e.g. `CASSANDRA_HOME` and `DSCINSTALLDIR`),
  ## but sets them as variables only for the user doing the nodetool installation. Those environment variables should
  ## be set as system-wide variables.
  #
  # nodetool: /usr/bin/nodetool

instances:

    ## @param keyspaces - list of string - required
    ## The list of keyspaces to monitor.
    ## An empty list results in no metrics being sent.
    #
  - keyspaces:
      - <KEYSPACE_1>
      - <KEYSPACE_2>

    ## @param host - string - optional
    ## Host that the Datadog Cassandra Nodetool check connects to.
    #
    # host: localhost

    ## @param port - integer - optional
    ## The port JMX is listening to for connections.
    #
    # port: 7199

    ## @param username - string - optional
    ## Username from the credentials needed to connect to the host. These are the credentials for the JMX server.
    ## For the check to work, this user must have a read/write access so that the Datadog Cassandra nodetool
    ## check can execute the `status` command
    #
    # username: <USERNAME>

    ## @param password - string - optional
    ## Username from the credentials needed to connect to the host. These are the credentials for the JMX server.
    ## For the check to work, this user must have a read/write access so that the Datadog Cassandra Nodetool
    ## check can execute the `status` command
    #
    # password: <PASSWORD>

    ## @param ssl - boolean - optional - default: false
    ## Whether or not to use the --ssl parameter to nodetool to initiate a connection over SSL to the JMX server.
    #
    # ssl: false

    ## @param tags - list of strings following the pattern: "key:value" - optional
    ## List of tags to attach to every metric, event and service check emitted by this integration.
    ##
    ## Learn more about tagging: https://docs.datadoghq.com/tagging/
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>
