init_config:

instances:

    ## @param name - string - required
    ## Name to assign to your TCP check instance.
    #
  - name: <TCP_CHECK_INSTANCE_NAME>

    ## @param host - string - required
    ## Host to connect to.
    #
    host: <TCP_HOST_TO_CONNECT_TO>

    ## @param port - integer - required
    ## Port of the host to connect to.
    #
    port: <HOST_PORT>

    ## @param timeout - integer - optional - default: 10
    ## Timeout of the TCP query in second.
    #
    # timeout: 10

    ## @param collect_response_time - boolean - optional - default: false
    ## The `collect_response_time` parameter instructs the check to create a
    ## metric 'network.tcp.response_time', tagged with the host name,
    ## reporting the response time in seconds.
    #
    # collect_response_time: false

    ## @param tags - list of strings following the pattern: "key:value" - optional
    ## List of tags to attach to every metric, event, and service check emitted by this Integration.
    ##
    ## Learn more about tagging: https://docs.datadoghq.com/tagging/
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>
