{
    debug
    admin :2019
}
:8080 {
    root * /usr/share/caddy/
    @get_tasks_project_1 {
        method GET
        path /api/Spaces-1/tasks*
        expression {uri}.contains('?')
        expression {uri}.contains('Projects-1')
    }
    route @get_tasks_project_1 {
        rewrite * /GET/api/Spaces-1/tasks/project=Projects-1/fromCompletedDate=2024-09-2314:45:58.888492+00:00/response.json
        file_server
    }
    @get_tasks_project_2 {
        method GET
        path /api/Spaces-1/tasks*
        expression {uri}.contains('?')
        expression {uri}.contains('Projects-2')
    }
    route @get_tasks_project_2 {
        rewrite * /GET/api/Spaces-1/tasks/project=Projects-2/fromCompletedDate=2024-09-2314:45:58.888492+00:00/response.json
        file_server
    }
    @get_tasks_project_3 {
        method GET
        path /api/Spaces-1/tasks*
        expression {uri}.contains('?')
        expression {uri}.contains('Projects-3')
    }
    route @get_tasks_project_3 {
        rewrite * /GET/api/Spaces-1/tasks/project=Projects-3/fromCompletedDate=2024-09-2314:45:58.888492+00:00/response.json
        file_server
    }
    @get_tasks_project_4 {
        method GET
        path /api/Spaces-1/tasks*
        expression {uri}.contains('?')
        expression {uri}.contains('Projects-4')
    }
    route @get_tasks_project_4 {
        rewrite * /GET/api/Spaces-1/tasks/project=Projects-4/fromCompletedDate=2024-09-2314:45:58.888492+00:00/response.json
        file_server
    }
    @get_spaces {
        method GET
        path /api/spaces
    }
    route @get_spaces {
        rewrite * /GET/api/spaces/response.json
        file_server
    }
    @get_spaces_1 {
        method GET
        path /api/Spaces-1
    }
    route @get_spaces_1 {
        rewrite * /GET/api/Spaces-1/response.json
        file_server
    }
    @get_projectgroups {
        method GET
        path /api/Spaces-1/projectgroups
    }
    route @get_projectgroups {
        rewrite * /GET/api/Spaces-1/projectgroups/response.json
        file_server
    }

    @get_projectgroups_1 {
        method GET
        path /api/Spaces-1/projectgroups/ProjectGroups-1
    }
    route @get_projectgroups_1 {
        rewrite * /GET/api/Spaces-1/projectgroups/ProjectGroups-1/response.json
        file_server
    }
    @get_projectgroups_2 {
        method GET
        path /api/Spaces-1/projectgroups/ProjectGroups-2
    }
    route @get_projectgroups_2 {
        rewrite * /GET/api/Spaces-1/projectgroups/ProjectGroups-2/response.json
        file_server
    }
    @get_projectgroups_3 {
        method GET
        path /api/Spaces-1/projectgroups/ProjectGroups-3
    }
    route @get_projectgroups_3 {
        rewrite * /GET/api/Spaces-1/projectgroups/ProjectGroups-3/response.json
        file_server
    }
    @get_projectgroups_1_projects {
        method GET
        path /api/Spaces-1/projectgroups/ProjectGroups-1/projects
    }
    route @get_projectgroups_1_projects {
        rewrite * /GET/api/Spaces-1/projectgroups/ProjectGroups-1/projects/response.json
        file_server
    }
    @get_projectgroups_2_projects {
        method GET
        path /api/Spaces-1/projectgroups/ProjectGroups-2/projects
    }
    route @get_projectgroups_2_projects {
        rewrite * /GET/api/Spaces-1/projectgroups/ProjectGroups-2/projects/response.json
        file_server
    }
    @get_projectgroups_3_projects {
        method GET
        path /api/Spaces-1/projectgroups/ProjectGroups-3/projects
    }
    route @get_projectgroups_3_projects {
        rewrite * /GET/api/Spaces-1/projectgroups/ProjectGroups-3/projects/response.json
        file_server
    }
    
    file_server browse
}
