init_config:

instances:

    ## @param prometheus_url - string - required
    ## The URL where your application metrics are exposed by Prometheus.
    #
  - prometheus_url: http://localhost:10252/metrics

    ## @param tags - list of strings following the pattern: "key:value" - optional
    ## List of tags to attach to every metrics, events and service checks emitted by this integration.
    ## Learn more about tagging: https://docs.datadoghq.com/tagging/
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>

    ## @param leader_election - boolean - optional - default: true
    ## Monitor the leader-election process on the kube-system:kube-controller-manager endpoints
    #
    # leader_election: true

    ## @param prometheus_timeout - integer - optional - default: 10
    ## Overrides the default timeout value in second
    #
    # prometheus_timeout: 10

    ## @param ignore_deprecated - boolean - optional - default: false
    ## Filter deprecated metrics from the kube-controller-manager  /metrics endpoints payload
    #
    # ignore_deprecated: false

    ## @param extra_queues - list strings - optional
    ## Monitor additional queues, in addition to the default ones
    #
    # extra_queues:
    #   - <NAME1>
    #   - <NAME2>

    ## @param extra_limiters - list strings - optional
    ## Monitor additional rate limiters, in addition to the default ones
    #
    # extra_limiters:
    #   - <NAME1>
    #   - <NAME2>
