init_config:

instances:

    ## @param send_histograms_buckets - boolean - required
    ## Set send_histograms_buckets to true to send the histograms bucket from Istio.
    #
  - send_histograms_buckets: true

    ## @param istiod_endpoint - string - optional
    ## Collect mixer, galley, pilot, and citadel metrics available from 
    ## the istiod deployment.
    ## 
    ## Only available for Istio >= v1.5.
    #
    istiod_endpoint: http://istiod.istio-system:8080/metrics

    ## @param istio_mesh_endpoint - string - optional
    ## To enable Istio metrics you must specify the url exposing the API
    ##
    ## Note for RHEL and SUSE users: due to compatibility issues, the check does not make use of
    ## the CPP extension to process Protocol buffer messages coming from the api. Depending
    ## on the metrics volume, the check may run very slowly.
    ##
    ## If collecting mesh metrics in Istio <`v1.5`, use 
    ## istio_mesh_endpoint: http://istio-telemetry.istio-system:42422/metrics
    #
    # istio_mesh_endpoint: http://istio-proxy.istio-system:15090/stats/prometheus

    ## @param mixer_endpoint - string - optional
    ## Define the mixer endpoint in order to collect all Prometheus metrics on the Mixer process as well
    ## as gRPC metrics related to API calls and metrics on adapter dispatch.
    ## If using Istio < v1.1, replace port 15014 with port 9093. See the changes here:
    ## https://istio.io/about/notes/1.1/#configuration-management
    #
    # mixer_endpoint: http://istio-telemetry.istio-system:15014/metrics

    ## @param pilot_endpoint - string - optional
    ## Define the pilot endpoint in order to collect all Prometheus metrics on the Pilot process.
    ## Only available for Istio >= v1.1.
    #
    # pilot_endpoint: http://istio-pilot.istio-system:15014/metrics

    ## @param galley_endpoint - string - optional
    ## Define the galley endpoint in order to collect all Prometheus metrics on the Galley process.
    ## Only available for Istio >= v1.1.
    #
    # galley_endpoint: http://istio-galley.istio-system:15014/metrics

    ## @param citadel_endpoint - string - optional
    ## Define the citadel endpoint in order to collect all Prometheus metrics on the Citadel process.
    ## Only available for Istio >= v1.1.
    #
    # citadel_endpoint: http://istio-citadel.istio-system:15014/metrics

    ## @param tags - list of key:value elements - optional
    ## List of tags to attach to every metric, event and service check emitted by this integration.
    ##
    ## Learn more about tagging: https://docs.datadoghq.com/tagging/
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>
