init_config:
# check_freq: 15 # default is 15

instances:
  - nagios_conf: /etc/nagios3/nagios.cfg
#   collect_events: True                   # default is True
#   passive_checks_events: True            # default is False
#   collect_host_performance_data: True    # default is False
#   collect_service_performance_data: True # default is False
