/*
*   Service principal for Zookeeper server.
*
*   Zookeeper server accepts client connections.
*/
Server {
    com.sun.security.auth.module.Krb5LoginModule required
    useKeyTab=true
    storeKey=true
		useTicketCache=false
    keyTab="/var/lib/secret/zookeeper.key"
    principal="zookeeper/zookeeper.kerberos-demo.local@TEST.CONFLUENT.IO";
};
