init_config:
  ## @param skip_proxy - boolean - optional - default: false
  ## Set `skip_proxy` parameter to `true` bypass any proxy settings
  ## settings enabled.
  #
  #  skip_proxy: false

  ## @param proxy - list of string - optional
  ## Set HTTP or HTTPS proxy for all instances.
  ## Use the no_proxy list to specify hosts that must bypass proxy
  #  
  # proxy:
  #    https: https://<SSL_PROXY_SERVER_FOR_HTTPS>:<PORT>
  #    http: https://<SSL_PROXY_SERVER_FOR_HTTP>:<PORT>
  #    no_proxy:
  #      - <HOSTNAME_1>
  #      - <HOSTNAME_2>


instances:

  ## @param monitor_agent_url - string - required
  ## Monitor Agent URL to connect to.
  #
  - monitor_agent_url: http://example.com:24220/api/plugins.json

  ## @param plugin_ids - list of strings - optional
  ## Enter your Plugin IDs to monitor a specific scope of plugins.
  #
  #  plugin_ids:
  #    - <PLUGIN_ID_1>
  #    - <PLUGIN_ID_2>

  ## @param tag_by - string - optional
  ## Set 'tag_by' to specify how to tag metrics. By default, metrics are tagged with `plugin_id`.
  #
  #  tag_by: type

  ## @param tags  - list of key:value string - optional
  ## List of tags to attach to every metric and service check emitted by this integration.
  ##
  ## Learn more about tagging at https://docs.datadoghq.com/tagging
  #
  #  tags:
  #    - <KEY_1>:<VALUE_1>
  #    - <KEY_2>:<VALUE_2>
  
  ## @param skip_proxy - boolean - optional - default: false
  ## Set `skip_proxy` parameter to `true` bypass any proxy settings
  ## settings enabled.
  #
  #  skip_proxy: false

  ## @param proxy - list of string - optional
  ## Set HTTP or HTTPS proxy for specified instance.
  ## Use the no_proxy list to specify hosts that must bypass proxy
  #  
  # proxy:
  #    https: https://<SSL_PROXY_SERVER_FOR_HTTPS>:<PORT>
  #    http: https://<SSL_PROXY_SERVER_FOR_HTTP>:<PORT>
  #    no_proxy:
  #      - <HOSTNAME_1>
  #      - <HOSTNAME_2>
  
