init_config:

instances:
  # A list of squid instances identified by their name
  
  - name: my_squid
  #   host: localhost  # The hostname or ip address of the squid server. Default to 'localhost'
  #   port: 3128  # The port where the squid server is listening. Default to 3128
  #   cachemgr_username: foo  # The username, if needed, to access the counters report of the cache manager.
  #   cachemgr_password: bar  # The password, if needed, to access the counters report of the cache manager.
  #   port: 3128  # The port where the squid server is listening. Default to 3128
  #   tags: ['custom:tag']  # A optional list of tags that you wish to send with your squid metrics
