init_config:

  ## @param default_timeout - integer - required
  ## Default timeout to use when connecting to Mesos master url.
  #
  default_timeout: 10

instances:

  ## @param url - string - required
  ## url used to connect to the Mesos master instance.
  #
  - url: "http://localhost:5050"

  ## @param disable_ssl_validation - boolean - optional - default: false
  ## Instructs the check to skip the validation of the SSL certificate of the URL being tested for Mesos master.
  ## Defaults to false, set to true if you want to disable SSL certificate validation.
  #
  #  disable_ssl_validation: false
  
  ## @param tags  - list of key:value elements - optional
  ## List of tags to attach to every metric, event and service check emitted by this integration.
  ##
  ## Learn more about tagging: https://docs.datadoghq.com/tagging/
  #
  #  tags:
  #    - <KEY_1>:<VALUE_1>
  #    - <KEY_2>:<VALUE_2>
