init_config:

instances:

    ## @param url - string - required
    ## The Harbor HTTP url.
    #
  - url: http://<HARBOR_URL>

    ## @param auth_type - string - optional
    ## The type of authentication to use.
    ## The available values are "basic" and "digest".
    #
    # auth_type: <AUTH_TYPE>

    ## @param username - string - required
    ## The username to use for authentication against the Harbor API.
    ## Note: Some metrics and service checks requires an admin account to be collected.
    ## This includes chartmuseum.status, replication registries data, volume information.
    #
    username: <USER_ID>

    ## @param password - string - required
    ## The password used together with the username for authentication against the Harbor API.
    #
    password: <USER_PASSWORD>

    ## @param tags - list of strings following the pattern: "key:value" - optional
    ## List of tags to attach to every metric, event, and service check emitted by this integration.
    ##
    ## Learn more about tagging: https://docs.datadoghq.com/tagging/
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>

    ## @param timeout - integer - optional - default: 10
    ## The timeout for connecting to the Harbor API
    #
    # timeout: 10

    ## @param headers - object - optional
    ## Map of headers to send on every request
    #
    # headers:
    #   <KEY_1>: <VALUE_1>
    #   <KEY_2>: <VALUE_2>

    ## @param tls_verify - boolean - optional - default: true
    ## Whether or not to verify TLS certificates.
    #
    # tls_verify: true

    ## @param tls_ca_cert - string - optional
    ## The path to a CA_BUNDLE file or directory with certificates of trusted CAs. Implicitly sets tls_verify to true
    #
    # tls_ca_cert: <PATH_TO_CERT>

    ## @param tls_cert - string - optional
    ## The client side certificate to use
    #
    # tls_cert: <PATH_TO_CERT>

    ## @param tls_private_key - string - optional
    ## The private key to use if it's not included in the tls_cert file
    #
    # tls_private_key: <private_key>

    ## @param tls_ignore_warning - boolean - optional - default: false
    ## Whether or not to suppress insecure request warnings when tls_verify is false
    #
    # tls_ignore_warning: false

    ## @param proxy - object - optional
    ## Proxy configuration
    #
    # proxy:
    #   http: <HTTP_PROXY>
    #   https: <HTTPS_PROXY>
    #   no_proxy:
    #     - <HOSTNAME_1>
    #     - <HOSTNAME_2>

    ## @param skip_proxy - boolean - optional - default: false
    ## Wheter or not to skip the proxy configured in the Agent's config file when
    ## making the request to the Harbor API
    #
    # skip_proxy: false

# logs:
#   - type: file
#     path: /var/log/harbor/*.log
#     source: harbor
#     service: <SERVICE_NAME>
