init_config:

instances:
  # By default, this check will run against a single instance - the current
  # machine that the Agent is running on. It will check the PDH (Performance 
  # Data Helper) performance counters for IIS on that machine.
  #
  # If you want to check other remote machines as well, you can add one
  # instance per host. Note: If you also want to check the counters on the
  # current machine, you will have to create an instance with empty params.
  #
  # The `sites` parameter allows you to specify a list of sites you want to
  # read metrics from. With sites specified, metrics will be tagged with the
  # site name. If you don't define any sites, the check will pull all of the
  # sites, and tag each one with the site name
  #
  # PDH provides hundreds of metrics for each service.  Additional metrics
  # can be specified using the `additional_metrics` configuration.
  #
  # Here's an example of configuration that would check the current machine
  # and a remote machine called MYREMOTESERVER. For the remote host we are
  # only pulling metrics from the default site.
  #

  # "." means the current host
  - host: .
  #   tags:
  #     - myapp1
  #   sites:
  #     - Default Web Site
  #
  #   The additional metrics is a list of additional counters to collect.  The
  #   list is formatted as follows:
  #   ['<counterset name>', <counter instance name>, '<counter name>', <metric name>, <metric type>]
  #
  #   <counterset name>  is the name of the PDH Counter Set (the name of the counter)
  #   <counter instance name> is the specific counter instance to collect, for example 
  #           "Default Web Site".  Specify 'none' For all instances of the counter.
  #   <counter name> is the individual counter to report
  #   <metric name> is the name you want to show up in Datadog
  #   <metric type> is from the standard choices for all agent checks, such as gauge,
  #       rate, histogram or counter
  #   
  #   additional_metrics:
  #     - ['Web Service', none, 'CGI Requests/sec', iis.httpd_request_method.cgi, gauge]

  # - host: MYREMOTESERVER
  #   username: MYREMOTESERVER\fred
  #   password: mysecretpassword
  #   is_2008: false  # NOTE: because of a typo in IIS6/7 (typically on W2K8)
                      # where perfmon reports TotalBytesTransferred as
                      # TotalBytesTransfered, you may have to enable this
                      # to grab the IIS metrics in that environment.
  #   tags:
  #     - myapp2
  #     - east
  #   sites:
  #     - Default Web Site
