init_config:

instances:

    ## @param countersetname - string - required
    ## Each PDH query has 3 required options:
    ##   * `countersetname` is the name of the performance counter
    ##   * `metrics` is a list of metrics you want to capture, with each item in the
    ##               list being a set of [<COUNTER_NAME>, <METRIC_NAME>, <METRIC_TYPE>]:
    ##      * <COUNTER_NAME> is something like `NumberOfUsers` or `ThreadCount`.
    ##                      The standard properties are also available on the MSDN docs for each
    ##                      class. It's recommend to wrap the property in quotes to avoid YAML parsing
    ##                      issues.
    ##      * <METRIC_NAME> is the metric name you want to show up in Datadog.
    ##      * <METRIC_TYPE> is from the standard choices for all agent checks, such
    ##                      as gauge, rate, histogram or counter.
    ##
    ## The following example fetches the number of processes and users:
    ##
    ## - countersetname: Processor
    ##   metrics:
    ##     - ['% Processor Time', pdh.processor.time, gauge]
    ##     - ['% User Time', pdh.processor.user.time, gauge]
    ##
    ##
    #
  - countersetname: <PERFORMANCE_COUNTER_NAME>

    ## @param metrics - list of metrics - required
    ##
    #
    metrics:
      - ['<COUNTER_NAME>', <METRIC_NAME>, <METRIC_TYPE>]
