init_config:

instances:

    ## @param host - string - optional
    ## Host that the Datadog PDH check connects to.
    ## "." means the current host
    #
    # host: <HOST>

    ## @param username - string - optional
    ## Username from the credentials needed to connect to the host.
    #
    # username: <USER_NAME>

    ## @param password - string - optional
    ## Password from the credentials needed to connect to the host.
    #
    # password: <PASSWORD>

    ## @param admin_share - string - optional - default: c$
    ## The administrative share to connect to. Can be a drive or the `ipc$` share if available.
    ## Note that to be able to connect to remote hosts the administrative share needs to be enabled and the
    ## user needs network administrator permissions
    ## If the remote machine doesn't expose any, set this to the empty string `""` to connect without an admin share. 
    #
    # admin_share: c$

    ## The following example fetches the number of processes and users:
    ##
    ## - countersetname: Processor
    ##   metrics:
    ##     - ['% Processor Time', pdh.processor.time, gauge]
    ##     - ['% User Time', pdh.processor.user.time, gauge]

    ## @param countersetname - string - required
    ## `countersetname` is the name of the performance counter
    #
  - countersetname: <PERFORMANCE_COUNTER_NAME>

    ## @param metrics - list of metrics - required
    ## `metrics` is a list of metrics you want to capture, with each item in the
    ##  list being a set of [<COUNTER_NAME>, <METRIC_NAME>, <METRIC_TYPE>]:
    ##    * <COUNTER_NAME> is something like `NumberOfUsers` or `ThreadCount`.
    ##                     The standard properties are also available on the MSDN docs for each
    ##                     class. It's recommend to wrap the property in quotes to avoid YAML parsing
    ##                     issues.
    ##    * <METRIC_NAME> is the metric name you want to show up in Datadog.
    ##    * <METRIC_TYPE> is from the standard choices for all agent checks, such
    ##                    as gauge, rate, histogram or counter.
    #
    metrics:
      - ['<COUNTER_NAME>', <METRIC_NAME>, <METRIC_TYPE>]

    ## @param counter_data_types - list of strings - optional
    ## counter_data_types is a list of <METRIC_NAME>,<DATA_TYPE> element that
    ## allows the precision with which counters are queried on a per metric basis
    ## <METRIC_NAME>: Name of your metric
    ## <DATA_TYPE>  : Type of your metric, can be int, float
    #
    # counter_data_types:
    #   - <METRIC_NAME>,<DATA_TYPE>
    #   - active_directory.dra.inbound.bytes.total,int
    #   - active_directory.ldap.bind_time,float

    ## @param tags - list of strings following the pattern: "key:value" - optional
    ## List of tags to attach to every metric, event and service check emitted by this integration.
    ##
    ## Learn more about tagging: https://docs.datadoghq.com/tagging/
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>
