init_config:

instances:

    ## @param prometheus_url - string - required
    ## The URL where your database metrics are exposed by Prometheus.
    #
  - prometheus_url: http://localhost:9180/metrics

    ## @param metric_groups - list of strings - optional
    ## List of additional scylla metric groups to collect in addition to the default
    #
    # metric_groups:
    #   - scylla.alien
    #   - scylla.batchlog_manager
    #   - scylla.commitlog
    #   - scylla.cql
    #   - scylla.database
    #   - scylla.execution_stages
    #   - scylla.hints
    #   - scylla.httpd
    #   - scylla.io_queue
    #   - scylla.lsa
    #   - scylla.memory
    #   - scylla.memtables
    #   - scylla.query_processor
    #   - scylla.scheduler
    #   - scylla.sstables
    #   - scylla.thrift
    #   - scylla.tracing

    ## @param tags - list of key:value elements - optional
    ## List of tags to attach to every metrics, events and service checks emitted by this integration.
    ## Learn more about tagging: https://docs.datadoghq.com/tagging/
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>

    ## @param timeout - integer - optional - default: 10
    ## Overrides the default timeout value in second
    #
    # timeout: 10

    ## @param health_service_check - boolean - optional - default: true
    ## Send a service check reporting about the health of the prometheus endpoint
    ## It's named scylla.prometheus.health
    #
    # health_service_check: true

    ## @param label_to_hostname - string - optional
    ## Override the hostname with the value of one label.
    #
    # label_to_hostname: <LABEL>

    ## @param label_joins - object - optional
    ## The label join allows to target a metric and retrieve it's label via a 1:1 mapping
    #
    # label_joins:
    #   target_metric:
    #     label_to_match: <MATCHED_LABEL>
    #     labels_to_get:
    #       - <EXTRA_LABEL_1>
    #       - <EXTRA_LABEL_2>

    ## @param labels_mapper - list of key:value elements - optional
    ## The label mapper allows you to rename labels.
    ## Format is <LABEL_TO_RENAME>: <NEW_LABEL_NAME>
    #
    # labels_mapper:
    #   flavor: origin

    ## @param type_overrides - list of key:value elements - optional
    ## Type override allows you to override a type in the prometheus payload
    ## or type an untyped metrics (they're ignored by default)
    ## Supported <METRIC_TYPE> are `gauge`, `counter`, `histogram`, `summary`
    #
    # type_overrides:
    #   <METRIC_NAME>: <METRIC_TYPE>

    ## @param exclude_labels - list of strings - optional
    ## List of labels to be excluded
    #
    # exclude_labels:
    #   - timestamp

    ## @param tls_verify - boolean - optional - default: true
    ## Instructs the check to validate the TLS certificate of services.
    #
    # tls_verify: true

    ## @param tls_ignore_warning - boolean - optional - default: false
    ## If `tls_verify` is disabled, security warnings are logged by the check.
    ## Disable those by setting `tls_ignore_warning` to true.
    #
    # tls_ignore_warning: false

    ## @param tls_cert - string - optional
    ## The path to a single file in PEM format containing a certificate as well as any
    ## number of CA certificates needed to establish the certificate's authenticity for
    ## use when connecting to services. It may also contain an unencrypted private key to use.
    #
    # tls_cert: <CERT_PATH>

    ## @param tls_private_key - string - optional
    ## The unencrypted private key to use for `tls_cert` when connecting to services. This is
    ## required if `tls_cert` is set and it does not already contain a private key.
    #
    # tls_private_key: <PRIVATE_KEY_PATH>

    ## @param tls_ca_cert - string - optional
    ## The path to a file of concatenated CA certificates in PEM format or a directory
    ## containing several CA certificates in PEM format. If a directory, the directory
    ## must have been processed using the c_rehash utility supplied with OpenSSL. See:
    ## https://www.openssl.org/docs/manmaster/man3/SSL_CTX_load_verify_locations.html
    #
    # tls_ca_cert: <CA_CERT_PATH>

    ## @param extra_headers - list of key:value elements - optional
    ## A list of additional HTTP headers to send in queries to the openmetrics endpoint.
    ## Can be combined with autodiscovery template variables. Eg: "Authorization: Bearer %%env_TOKEN%%".
    ## Note: if the "Authorization" header is present it will be replaced when "bearer_token_auth" is enabled.
    #
    # extra_headers:
    #   <HEADER_NAME>: <HEADER_VALUE>

## Log Section (Available for Agent >=6.0)
##
## type - mandatory - Type of log input source (tcp / udp / file / windows_event)
## port / path / channel_path - mandatory - Set port if type is tcp or udp. Set path if type is file. Set channel_path if type is windows_event
## service - mandatory - Name of the service that generated the log
## source  - mandatory - Attribute that defines which Integration sent the logs
## tags: - optional - Add tags to the collected logs
##
## Discover Datadog log collection: https://docs.datadoghq.com/logs/log_collection/
#
# logs:
#   - type: file
#     path: <LOG_FILE_PATH>
#     source: scylla
#     service: <SERVICE>
#     #To handle multi line that starts with yyyy-mm-dd or yyyy-dd-mm use the following pattern
#     #log_processing_rules:
#     #  - type: multi_line
#     #    pattern: \d{4}\-(0?[1-9]|1[012])\-(0?[1-9]|[12][0-9]|3[01])
#     #    name: new_log_start_with_date
