{
    debug
    admin :2019
}
:80 {
    root * /usr/share/caddy/
    @get_load_balancer {
        method GET
        path /load-balancer
    }
    route @get_load_balancer {
        rewrite /load-balancer /load-balancer/get.json
        file_server
    }
    file_server browse
}
