## All options defined here are available to all instances.
#
init_config:

    ## @param service - string - optional
    ## Attach the tag `service:<SERVICE>` to every metric, event, and service check emitted by this integration.
    ##
    ## Additionally, this sets the default `service` for every log source.
    #
    # service: <SERVICE>

## Log Section
##
## type - required - Type of log input source (tcp / udp / file / windows_event).
## port / path / channel_path - required - Set port if type is tcp or udp.
##                                         Set path if type is file.
##                                         Set channel_path if type is windows_event.
## source  - required - Attribute that defines which integration sent the logs.
## encoding - optional - For file specifies the file encoding. Default is utf-8. Other
##                       possible values are utf-16-le and utf-16-be.
## service - optional - The name of the service that generates the log.
##                      Overrides any `service` defined in the `init_config` section.
## tags - optional - Add tags to the collected logs.
##
## Discover Datadog log collection: https://docs.datadoghq.com/logs/log_collection/
#
logs:
  - type: integration
    source: crest-data-systems-microsoft-scom

## Every instance is scheduled independently of the others.
#
instances:

  -
    ## @param collect_data - list of strings - optional - default: ['alerts', 'events', 'task_results', 'discovery', 'agents', 'agentless_managed_computers', 'management_servers', 'groups']
    ## Provide the entities to fetch. Please specify the exact values as mentioned in the default list.
    #
    # collect_data:
    #   - alerts
    #   - events
    #   - task_results
    #   - discovery
    #   - agents
    #   - agentless_managed_computers
    #   - management_servers
    #   - groups

    ## @param min_collection_interval - number - required
    ## This changes the collection interval of the check. For more information, see:
    ## https://docs.datadoghq.com/developers/write_agent_check/#collection-interval
    #
    min_collection_interval: 3600
