## All options defined here are available to all instances.
#
init_config:

    ## @param allowed_versions - list of strings - optional
    ## The expected versions of TLS/SSL when connecting to `server`. Any protocol versions
    ## negotiated by connections that are not in this list makes the service check
    ## `tls.version` send CRITICAL.
    #
    # allowed_versions:
    #   - TLSv1.2
    #   - TLSv1.3

    ## @param fetch_intermediate_certs - boolean - optional - default: false
    ## Whether or not to perform AIA chasing in order to load the full certificate chain.
    #
    # fetch_intermediate_certs: false

    ## @param service - string - optional
    ## Attach the tag `service:<SERVICE>` to every metric, event, and service check emitted by this integration.
    ##
    ## Additionally, this sets the default `service` for every log source.
    #
    # service: <SERVICE>

## Every instance is scheduled independently of the others.
#
instances:

    ## @param server - string - required
    ## The hostname or IP address with which to connect.
    #
  - server: <SERVER>

    ## @param port - integer - optional - default: 443
    ## The port that is used. This overrides any port specified in `server`.
    #
    # port: 443

    ## @param transport - string - optional - default: TCP
    ## The transport protocol to use when connecting to `server`.
    ## Currently, only TCP is supported.
    #
    # transport: TCP

    ## @param local_cert_path - string - optional
    ## The path to a local certificate in lieu of a server/port. In this mode, the
    ## service checks `tls.can_connect` and `tls.version` are unavailable. The
    ## certificate can be in PEM or DER format.
    #
    # local_cert_path: <LOCAL_CERT_PATH>

    ## @param server_hostname - string - optional
    ## The hostname of the service with which to connect for servers that support SNI. This
    ## is also the value used for hostname validation. If not specified, `server` parameter is used.
    ## See: https://en.wikipedia.org/wiki/Server_Name_Indication
    #
    # server_hostname: <SERVER_HOSTNAME>

    ## @param allowed_versions - list of strings - optional
    ## The expected versions of TLS/SSL when connecting to `server`. Any protocol versions
    ## negotiated by connections that are not in this list makes the service check
    ## `tls.version` send CRITICAL. By default, only TLSv1.2 and TLSv1.3 are allowed.
    ## Overrides `allowed_versions` in init_config.
    ##
    ## The supported versions are:
    ##
    ##   SSLv3
    ##   TLSv1
    ##   TLSv1.1
    ##   TLSv1.2
    ##   TLSv1.3
    #
    # allowed_versions:
    #   - TLSv1.2
    #   - TLSv1.3

    ## @param fetch_intermediate_certs - boolean - optional - default: false
    ## Whether or not to perform AIA chasing in order to load the full certificate chain.
    ##
    ## This overrides `fetch_intermediate_certs` defined in `init_config`.
    #
    # fetch_intermediate_certs: false

    ## @param send_cert_duration - boolean - optional - default: false
    ## Whether or not to send the certificate's valid issue duration as `tls.issued_days` and `tls.issued_seconds`.
    #
    # send_cert_duration: false

    ## @param intermediate_cert_refresh_interval - number - optional - default: 60
    ## When `fetch_intermediate_certs` is set to `true`, this indicates how often to
    ## refresh the intermediate certificate cache in minutes.
    #
    # intermediate_cert_refresh_interval: 60

    ## @param days_warning - number - optional - default: 14.0
    ## Number of days before certificate expiration from which the service check
    ## `tls.cert_expiration` begins emitting WARNING.
    #
    # days_warning: 14.0

    ## @param days_critical - number - optional - default: 7.0
    ## Number of days before certificate expiration from which the service check
    ## `tls.cert_expiration` begins emitting CRITICAL.
    #
    # days_critical: 7.0

    ## @param seconds_warning - integer - optional
    ## Number of seconds before certificate expiration from which the service check
    ## `tls.cert_expiration` begins emitting WARNING. Overrides `days_warning`.
    #
    # seconds_warning: <SECONDS_WARNING>

    ## @param seconds_critical - integer - optional
    ## Number of seconds before certificate expiration from which the service check
    ## `tls.cert_expiration` begins emitting CRITICAL. Overrides `days_critical`.
    #
    # seconds_critical: <SECONDS_CRITICAL>

    ## @param timeout - integer - optional - default: 10
    ## The timeout for connecting to `server`.
    #
    # timeout: 10

    ## @param name - string - optional
    ## Unique identifier for this instance that is added as a tag to all data emitted.
    #
    # name: <NAME>

    ## @param start_tls - string - optional
    ## Send protocol-specific message(s) to switch to TLS for communication.
    ## StartTLS is implemented on these protocols: smtp, pop3, imap, ftp, xmpp, xmpp-server,
    ## irc, postgres, mysql, lmtp, nntp, sieve, and ldap.
    ##
    ## Currently this checks supports only the below protocols:
    ##   postgres, mysql
    #
    # start_tls: <START_TLS>

    ## @param tags - list of strings - optional
    ## A list of tags to attach to every metric and service check emitted by this instance.
    ##
    ## Learn more about tagging at https://docs.datadoghq.com/tagging
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>

    ## @param service - string - optional
    ## Attach the tag `service:<SERVICE>` to every metric, event, and service check emitted by this integration.
    ##
    ## Overrides any `service` defined in the `init_config` section.
    #
    # service: <SERVICE>

    ## @param min_collection_interval - number - optional - default: 15
    ## This changes the collection interval of the check. For more information, see:
    ## https://docs.datadoghq.com/developers/write_agent_check/#collection-interval
    #
    # min_collection_interval: 15

    ## @param empty_default_hostname - boolean - optional - default: false
    ## This forces the check to send metrics with no hostname.
    ##
    ## This is useful for cluster-level checks.
    #
    # empty_default_hostname: false

    ## @param metric_patterns - mapping - optional
    ## A mapping of metrics to include or exclude, with each entry being a regular expression.
    ##
    ## Metrics defined in `exclude` will take precedence in case of overlap.
    #
    # metric_patterns:
    #   include:
    #   - <INCLUDE_REGEX>
    #   exclude:
    #   - <EXCLUDE_REGEX>

    ## @param tls_verify - boolean - optional - default: true
    ## Instructs the check to validate the TLS certificate(s) of the service(s).
    #
    # tls_verify: true

    ## @param tls_ca_cert - string - optional
    ## The path to a file of concatenated CA certificates in PEM format or a directory
    ## containing several CA certificates in PEM format. If a directory, the directory
    ## must have been processed using the c_rehash utility supplied with OpenSSL. See:
    ## https://www.openssl.org/docs/manmaster/man3/SSL_CTX_load_verify_locations.html
    ##
    ## Setting this implicitly sets `tls_verify` to true.
    #
    # tls_ca_cert: <CA_CERT_PATH>

    ## @param tls_cert - string - optional
    ## The path to a single file in PEM format containing a certificate as well as any
    ## number of CA certificates needed to establish the certificate's authenticity for
    ## use when connecting to services. It may also contain an unencrypted private key to use.
    ##
    ## Setting this implicitly sets `tls_verify` to true.
    #
    # tls_cert: <CERT_PATH>

    ## @param tls_private_key - string - optional
    ## The unencrypted private key to use for `tls_cert` when connecting to services. This is
    ## required if `tls_cert` is set and it does not already contain a private key.
    ##
    ## Setting this implicitly sets `tls_verify` to true.
    #
    # tls_private_key: <PRIVATE_KEY_PATH>

    ## @param tls_private_key_password - string - optional
    ## Optional password to decrypt tls_private_key.
    ##
    ## Setting this implicitly sets `tls_verify` to true.
    #
    # tls_private_key_password: <PRIVATE_KEY_PASSWORD>

    ## @param tls_validate_hostname - boolean - optional - default: true
    ## Verifies that the server's cert hostname matches the one requested.
    #
    # tls_validate_hostname: true
