init_config:

  ## @param keystone_server_url - string - required
  ## Where your identity server lives. Note that the server must support Identity API v3
  #
  keystone_server_url: "https://<KEYSTONE_SERVER_ENDPOINT>:<PORT>/"

  ## @param os_host - string - optional
  ## The hostname of this machine registered with Nova.
  ## Defaults to the Hostname detected by the Agent.
  ## See https://docs.datadoghq.com/agent/faq/how-datadog-agent-determines-the-hostname/
  #
  # os_host: <HOSTNAME>

  ## @param nova_api_version - string - optional - default: v2.1
  ## Nova API version to use - this check supports `v2` and `v2.1`.
  #
  # nova_api_version: v2.1

  ## @param hypervisor_ids - list of integers - optional
  ## IDs of Nova Hypervisors to monitor
  ## Required for OpenStack Kilo or `nova_api_version` v2 -indexing Hypervisors is restricted
  ## to `admin`s in Compute API v2-.
  ## On more recent versions, the check automatically discovers the locally running Hypervisor,
  ## based on the `hypervisor_hostname`.
  #
  # hypervisor_ids:
  #   - 1
  #   - <ID>

  ## @param exclude_server_ids - list of strings - optional
  ## IDs of servers to exclude from monitoring. By default the agent collects metrics from all
  ## guest servers that are running on the host. Regex expressions for the server IDs are supported.
  #
  # exclude_server_ids:
  #   - <SERVER_NAME>
  #   - <SERVER_PREFIX>.*

  ## @param exclude_network_ids - list of strings - optional
  ## IDs of networks to exclude from monitoring. By default the agent collects
  ## metrics from networks returned by the neutron:get_networks operation
  ## Regex expressions for the network IDs to exclude are supported.
  #
  # exclude_network_ids:
  #   - <NETWORK_NAME>
  #   - <NETWORK_PREFIX>.*

  ## @param ssl_verify - boolean - optional - default: true
  ## Whether to enable SSL certificate verification for HTTP requests. You may
  ## need to set it to false when using self-signed certs.
  #
  # ssl_verify: true

  ## @param use_agent_proxy - boolean - optional - default: true
  ## Whether the dd-agent proxy should also be used for Openstack API requests (if set).
  #
  # use_agent_proxy: true

instances:

    ## @param name - string - required
    ## Unique identifier for this instance.
    #
  - name: <INSTANCE_NAME>

    ## @param user - object - required
    ## User credentials
    ## Password authentication is the only auth method supported.
    ## `user` object expects the parameter `username`, `password`, and `user.domain.id`.
    ##
    ## `user` should resolve to a structure like:
    ##
    ##  {'password': '<PASSWORD>', 'name': '<USERNAME>', 'domain': {'id': '<DOMAINE_ID>'}}
    #
    user:
      password: <PASSWORD>
      name: datadog
      domain:
        id: <DOMAINE_ID>

    ## @param auth_scope - object - optional
    ## The authorization scope that is used to request a token from Identity API v3
    ## The auth scope must resolve to 1 of the following structures:
    ##
    ## {'project': {'name': '<PROJECT_NAME>', 'domain': '<DOMAIN_NAME>}
    ##
    ## OR
    ##
    ## {'project': {'id': '<PROJECT_ID>'}}
    ##
    ## ALPHA: DO NOT ADD an auth_scope if you wish to have un-scoped access
    ##        Simply add the relevant user credentials.
    #
    # auth_scope:
    #   project:
    #     id: <PROJECT_ID>

    ## @param collect_all_projects - boolean - optional - default: true
    ## All projects in a domain can be collected by enabling `collect_all_projects`.
    ## Note: `domain` field must be set in project.
    #
    # collect_all_projects: true

    ## @param append_tenant_id - boolean - optional - default: false
    ## In some cases, the nova url is returned without the tenant id suffixed
    ## e.g. http://172.0.0.1:8774 rather than http://172.0.0.1:8774/<TENANT_ID>
    ## Setting `append_tenant_id` to `true` manually adds this suffix for downstream requests.
    #
    # append_tenant_id: false

    ## @param tags - list of strings following the pattern: "key:value" - optional
    ## List of tags to attach to every metric, event, and service check emitted by this Integration.
    ##
    ## Learn more about tagging: https://docs.datadoghq.com/tagging/
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>
