## All options defined here are available to all instances.
#
init_config:

    ## @param keystone_server_url - string - required
    ## Where your identity server lives. Note that the server must support Identity API v3
    #
    keystone_server_url: https://<KEYSTONE_SERVER_ENDPOINT>:<PORT>/

    ## @param os_host - string - optional
    ## The hostname of this machine registered with Nova.
    ## Defaults to the Hostname detected by the Agent.
    ## See https://docs.datadoghq.com/agent/faq/how-datadog-agent-determines-the-hostname/
    #
    # os_host: <HOSTNAME>

    ## @param nova_api_version - string - optional - default: v2.1
    ## Nova API version to use - this check supports `v2` and `v2.1`.
    #
    # nova_api_version: v2.1

    ## @param hypervisor_ids - list of integers - optional
    ## IDs of Nova Hypervisors to monitor
    ## Required for OpenStack Kilo or `nova_api_version` v2 -indexing Hypervisors is restricted
    ## to `admin`s in Compute API v2-.
    ## On more recent versions, the check automatically discovers the locally running Hypervisor,
    ## based on the `hypervisor_hostname`.
    #
    # hypervisor_ids:
    #   - <1>
    #   - <ID>

    ## @param exclude_server_ids - list of strings - optional - default: []
    ## IDs of servers to exclude from monitoring. (by default the agent collects metrics from all guest servers)
    ## Regex expressions for the server IDs are supported.
    #
    # exclude_server_ids:
    #   - <SERVER_ID>
    #   - <SERVER_ID_PREFIX>*

    ## @param exclude_network_ids - list of strings - optional - default: []
    ## IDs of networks to exclude from monitoring (by default the agent collects metrics from networks returned by the
    ## neutron:get_networks operation)
    ## Regex expressions for the network IDs to exclude are supported.
    #
    # exclude_network_ids:
    #   - <NETWORK_ID>
    #   - <NETWORK_ID_PREFIX>*

    ## @param ssl_verify - boolean - optional - default: true
    ## Whether to enable SSL certificate verification for HTTP requests. You may
    ## need to set it to false when using self-signed certs.
    #
    # ssl_verify: true

    ## @param use_agent_proxy - boolean - optional - default: true
    ## Whether the dd-agent proxy should also be used for Openstack API requests (if set).
    #
    # use_agent_proxy: true

    ## @param service - string - optional
    ## Attach the tag `service:<SERVICE>` to every metric, event, and service check emitted by this integration.
    ##
    ## Additionally, this sets the default `service` for every log source.
    #
    # service: <SERVICE>

## Every instance is scheduled independently of the others.
#
instances:

    ## @param name - string - required
    ## Unique identifier for this instance.
    #
  - name: <INSTANCE_NAME>

    ## @param user - mapping - required
    ## Password authentication is the only auth method supported
    ## User expects username, password, and user domain id
    ## `user` should resolve to a structure like
    ## {'password': '<PASSWORD>', 'name': '<USER_NAME>', 'domain': {'id': '<DOMAIN_ID>'}}
    ## The check uses the Unscoped token method to collect information about all available projects to the user.
    #
    user:
      password: <PASSWORD>
      name: <USER_NAME>
      domain:
        id: <DOMAIN_ID>

    ## @param auth_scope - mapping - optional
    ## The authorization scope that is used to request a token from Identity API v3
    ## The auth scope must resolve to 1 of the following structures:
    ##
    ## {'project': {'name': '<PROJECT_NAME>', 'domain': '<DOMAIN_NAME>}
    ##
    ## OR
    ##
    ## {'project': {'id': '<PROJECT_ID>'}}
    ##
    ## ALPHA: DO NOT ADD an auth_scope if you wish to have un-scoped access
    ##        Simply add the relevant user credentials.
    #
    # auth_scope:
    #   project:
    #     id: <PROJECT_ID>

    ## @param collect_all_projects - boolean - optional - default: true
    ## All projects in a domain can be collected by enabling `collect_all_projects`.
    ## Note: `domain` field must be set in project.
    #
    # collect_all_projects: true

    ## @param append_tenant_id - boolean - optional - default: false
    ## In some cases, the nova url is returned without the tenant id suffixed
    ## e.g. http://172.0.0.1:8774 rather than http://172.0.0.1:8774/<TENANT_ID>
    ## Setting `append_tenant_id` to `true` manually adds this suffix for downstream requests.
    #
    # append_tenant_id: false

    ## @param tags - list of strings - optional
    ## A list of tags to attach to every metric and service check emitted by this instance.
    ##
    ## Learn more about tagging at https://docs.datadoghq.com/tagging
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>

    ## @param metric_patterns - mapping - optional
    ## A mapping of metrics to include or exclude, with each entry being a regular expression.
    ##
    ## Metrics defined in `exclude` will take precedence in case of overlap.
    #
    # metric_patterns:
    #   include:
    #   - <INCLUDE_REGEX>
    #   exclude:
    #   - <EXCLUDE_REGEX>

## Log Section
##
## type - required - Type of log input source (tcp / udp / file / windows_event).
## port / path / channel_path - required - Set port if type is tcp or udp.
##                                         Set path if type is file.
##                                         Set channel_path if type is windows_event.
## source  - required - Attribute that defines which integration sent the logs.
## encoding - optional - For file specifies the file encoding. Default is utf-8. Other
##                       possible values are utf-16-le and utf-16-be.
## service - optional - The name of the service that generates the log.
##                      Overrides any `service` defined in the `init_config` section.
## tags - optional - Add tags to the collected logs.
##
## Discover Datadog log collection: https://docs.datadoghq.com/logs/log_collection/
#
# logs:
#   - type: file
#     path: /var/log/apache2/*.log
#     source: openstack
#   - type: file
#     path: /var/log/libvirt/*.log
#     source: openstack
