init_config:

instances:
  ## @param services  - list of strings - required
  ## List of services to monitor.
  ##
  ## The services are treated as regular expressions to allow for advanced matching.
  ## If any service is set to `ALL`, all services registered with the SCM will be monitored.
  #
  - services:
      - <SERVICE_NAME_1>
      - <SERVICE_NAME_2>
