init_config:

instances:

    ## @param services  - list of strings - required
    ## List of services to monitor e.g. Dnscache, wmiApSrv, etc.
    ##
    ## If any service is set to `ALL`, all services registered with the SCM will be monitored.
    ##
    ## This matches all services starting with service, as if service.* is configured.
    ## For an exact match, use ^service$
    #
  - services:
      - <SERVICE_NAME_1>
      - <SERVICE_NAME_2>

    ## @param disable_legacy_service_tag - boolean - optional - default: false
    ## Whether or not to stop submitting the tag `service` that has been renamed
    ## to `windows_service` and disable the associated deprecation warning.
    #
    # disable_legacy_service_tag: false

    ## @param tags - list of strings following the pattern: "key:value" - optional
    ## List of tags to attach to every service check emitted by this integration.
    ##
    ## Learn more about tagging at https://docs.datadoghq.com/tagging
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>
