init_config:

instances:
  #
  # The HDFS NameNode check retrieves metrics from the HDFS NameNode's JMX
  # interface. This check must be installed on the NameNode. The HDFS
  # NameNode JMX URI is composed of the NameNode's hostname and port.
  #
  # The hostname and port can be found in the hdfs-site.xml conf file under
  # the property dfs.http.address or dfs.namenode.http-address
  #
  -  hdfs_namenode_jmx_uri: http://localhost:50070

  # If your service uses basic HTTP authentication, you can optionally
  # specify a username and password that will be used in the check.
  # username: user
  # password: pass

  # Optionally disable SSL validation. Sometimes when using proxies or self-signed certs
  # we'll want to override validation.
  # disable_ssl_validation: false

  # Optional tags to be applied to every emitted metric and service check.
  # tags:
  #    - optional:tag1
  #    - optional:tag2
