init_config:

instances:

    ## @param kube_state_url - string - required
    ## To enable Kube State metrics you must specify the url exposing the API
    #
  - kube_state_url: http://example.com:8080/metrics

    ## @param labels_mapper - dictionary - optional
    ## Tags are reported as set by kube-state-metrics. If you want to translate
    ## them to other tags, use the labels_mapper dictionary
    #
    # labels_mapper:
    #   namespace: kube_namespace

    ## @param label_joins - object - optional
    ## Add the tags to join from other KSM metrics.
    ## Example: Joining for deployment metrics. Based on:
    ## kube_deployment_labels{deployment="kube-dns",label_addonmanager_kubernetes_io_mode="Reconcile"}
    ## Use the following config to add the value of label_addonmanager_kubernetes_io_mode as a tag to your KSM
    ## deployment metrics.
    #
    # label_joins:
    #   kube_deployment_labels:
    #     label_to_match: deployment
    #     labels_to_get:
    #       - label_addonmanager_kubernetes_io_mode

    ## @param hostname_override - boolean - optional - default: true
    ## By default the hostname for metrics containing the node label is
    ## overriden by the value of the label, this can be deactivated (all metrics
    ## will be attached to the host running KSM)
    #
    # hostname_override: true

    ## @param tags - list of key:value element - optional
    ## List of tags to attach to every metric, event and service check emitted by this integration.
    ##
    ## Learn more about tagging: https://docs.datadoghq.com/tagging/
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>

    ## @param prometheus_timeout - integer - optional - default: 10
    ## Set a timeout for the prometheus query.
    #
    # prometheus_timeout: 10

    ## @param telemetry - boolean - optional - default: false
    ## To enable the telemetry check's metrics,  you must set this parameter to true.
    ## It will generate useful internal check metrics: message payload size, the number
    ## of metrics received, processed, ignored....
    ## Metrics can be found under `kubernetes_state.telemetry`
    #
    # telemetry: false

    ## @param join_standard_tags - boolean - optional - default: false
    ## To enable joining standard tags from labels, you must set this parameter to true.
    ## It will join standard tags found in these labels coming from info Kube State metrics (*_labels).
    ##   tags.datadoghq.com/env     => env
    ##   tags.datadoghq.com/service => service
    ##   tags.datadoghq.com/version => version
    ##
    ## Resources enabled for join_standard_tags include:
    ## Pod, Deployment, ReplicaSet, DaemonSet, StatefulSet, Job, CronJob
    ##
    #
    # join_standard_tags: false
