# Configuration for labeler - https://github.com/actions/labeler

documentation:
- "*/manifest.json"
- "*/assets/configuration/**"
- (?<!CHANGELOG)\.md$
- docs/**

dev/testing:
- .azure-pipelines/**
- .codecov.yml

dev/tooling:
- .github/workflows/**
- .github/stale.yml
- .gitlab/**
- .gitlab-ci.yml
- datadog_checks_dev/datadog_checks/dev/tooling/**

dependencies:
- datadog_checks_base/datadog_checks/base/data/agent_requirements.in

release:
- requirements-agent-release.txt
- datadog_checks_dev/datadog_checks/dev/__about__.py

changelog/no-changelog:
- requirements-agent-release.txt
- all:^(?![^/]+/datadog_checks/.*|[^/]+/setup\.py).*

integration/$1:
- ^(?!\.azure-pipelines|\.github|\.gitlab|\.in-toto|\.stubs|docs)([^/]+)/.*
