base_package:
- datadog_checks_base/**/*
changelog/no-changelog:
- any:
  - requirements-agent-release.txt
  - '**/__about__.py'
ddev:
- ddev/**/*
dependencies:
- agent_requirements.in
dependency_provider:
- datadog_checks_dependency_provider/**/*
dev/testing:
- .github/workflows/**
- .codecov.yml
dev/tooling:
- .github/workflows/**
- .github/stale.yml
- .gitlab/**
- .gitlab-ci.yml
- datadog_checks_dev/datadog_checks/dev/tooling/**
dev_package:
- datadog_checks_dev/**/*
documentation:
- '*/manifest.json'
- '*/assets/configuration/**'
- '*/CHANGELOG.md'
- '*/README.md'
- docs/**
downloader:
- datadog_checks_downloader/**/*
integration/active_directory:
- active_directory/**/*
integration/activemq:
- activemq/**/*
integration/activemq_xml:
- activemq_xml/**/*
integration/adyen:
- adyen/**/*
integration/aerospike:
- aerospike/**/*
integration/agent_metrics:
- agent_metrics/**/*
integration/airbyte:
- airbyte/**/*
integration/airflow:
- airflow/**/*
integration/amazon_app_mesh:
- amazon_app_mesh/**/*
integration/amazon_eks:
- amazon_eks/**/*
integration/amazon_eks_blueprints:
- amazon_eks_blueprints/**/*
integration/amazon_msk:
- amazon_msk/**/*
integration/ambari:
- ambari/**/*
integration/anthropic:
- anthropic/**/*
integration/anthropic_usage_and_costs:
- anthropic_usage_and_costs/**/*
integration/anyscale:
- anyscale/**/*
integration/apache:
- apache/**/*
integration/appgate_sdp:
- appgate_sdp/**/*
integration/arangodb:
- arangodb/**/*
integration/argo_rollouts:
- argo_rollouts/**/*
integration/argo_workflows:
- argo_workflows/**/*
integration/argocd:
- argocd/**/*
integration/asana:
- asana/**/*
integration/aspdotnet:
- aspdotnet/**/*
integration/authorize_net:
- authorize_net/**/*
integration/avast:
- avast/**/*
integration/avi_vantage:
- avi_vantage/**/*
integration/aws_neuron:
- aws_neuron/**/*
integration/azure_active_directory:
- azure_active_directory/**/*
integration/azure_iot_edge:
- azure_iot_edge/**/*
integration/barracuda_secure_edge:
- barracuda_secure_edge/**/*
integration/battery:
- battery/**/*
integration/bentoml:
- bentoml/**/*
integration/beyondtrust_identity_security_insights:
- beyondtrust_identity_security_insights/**/*
integration/beyondtrust_password_safe:
- beyondtrust_password_safe/**/*
integration/bitdefender:
- bitdefender/**/*
integration/bitwarden:
- bitwarden/**/*
integration/blazemeter:
- blazemeter/**/*
integration/boundary:
- boundary/**/*
integration/box:
- box/**/*
integration/brevo:
- brevo/**/*
integration/btrfs:
- btrfs/**/*
integration/cacti:
- cacti/**/*
integration/calico:
- calico/**/*
integration/carbon_black_cloud:
- carbon_black_cloud/**/*
integration/cassandra:
- cassandra/**/*
integration/cassandra_nodetool:
- cassandra_nodetool/**/*
integration/cato_networks:
- cato_networks/**/*
integration/celery:
- celery/**/*
integration/ceph:
- ceph/**/*
integration/cert_manager:
- cert_manager/**/*
integration/checkpoint_harmony_email_and_collaboration:
- checkpoint_harmony_email_and_collaboration/**/*
integration/checkpoint_harmony_endpoint:
- checkpoint_harmony_endpoint/**/*
integration/checkpoint_quantum_firewall:
- checkpoint_quantum_firewall/**/*
integration/cilium:
- cilium/**/*
integration/cisco_aci:
- cisco_aci/**/*
integration/cisco_asa:
- cisco_asa/**/*
integration/cisco_duo:
- cisco_duo/**/*
integration/cisco_sdwan:
- cisco_sdwan/**/*
integration/cisco_secure_email_threat_defense:
- cisco_secure_email_threat_defense/**/*
integration/cisco_secure_endpoint:
- cisco_secure_endpoint/**/*
integration/cisco_secure_firewall:
- cisco_secure_firewall/**/*
integration/cisco_secure_web_appliance:
- cisco_secure_web_appliance/**/*
integration/cisco_umbrella_dns:
- cisco_umbrella_dns/**/*
integration/citrix_hypervisor:
- citrix_hypervisor/**/*
integration/clickhouse:
- clickhouse/**/*
integration/cloud_foundry_api:
- cloud_foundry_api/**/*
integration/cloudera:
- cloudera/**/*
integration/cloudgen_firewall:
- cloudgen_firewall/**/*
integration/cockroachdb:
- cockroachdb/**/*
integration/cofense_triage:
- cofense_triage/**/*
integration/confluent_platform:
- confluent_platform/**/*
integration/consul:
- consul/**/*
integration/consul_connect:
- consul_connect/**/*
integration/container:
- container/**/*
integration/containerd:
- containerd/**/*
integration/contentful:
- contentful/**/*
integration/coredns:
- coredns/**/*
integration/couch:
- couch/**/*
integration/couchbase:
- couchbase/**/*
integration/crewai:
- crewai/**/*
integration/cri:
- cri/**/*
integration/crio:
- crio/**/*
integration/crowdstrike_fdr:
- crowdstrike_fdr/**/*
integration/databricks:
- databricks/**/*
integration/datadog_checks_tests_helper:
- datadog_checks_tests_helper/**/*
integration/datadog_cluster_agent:
- datadog_cluster_agent/**/*
integration/datadog_csi_driver:
- datadog_csi_driver/**/*
integration/datadog_operator:
- datadog_operator/**/*
integration/dcgm:
- dcgm/**/*
integration/delinea_privilege_manager:
- delinea_privilege_manager/**/*
integration/delinea_secret_server:
- delinea_secret_server/**/*
integration/directory:
- directory/**/*
integration/disk:
- disk/**/*
integration/dns_check:
- dns_check/**/*
integration/dnsfilter:
- dnsfilter/**/*
integration/docker_daemon:
- docker_daemon/**/*
integration/docusign:
- docusign/**/*
integration/dotnetclr:
- dotnetclr/**/*
integration/druid:
- druid/**/*
integration/duckdb:
- duckdb/**/*
integration/ecs_fargate:
- ecs_fargate/**/*
integration/eks_anywhere:
- eks_anywhere/**/*
integration/eks_fargate:
- eks_fargate/**/*
integration/elastic:
- elastic/**/*
integration/envoy:
- envoy/**/*
integration/eset_protect:
- eset_protect/**/*
integration/esxi:
- esxi/**/*
integration/etcd:
- etcd/**/*
integration/exchange_server:
- exchange_server/**/*
integration/external_dns:
- external_dns/**/*
integration/extrahop:
- extrahop/**/*
integration/falco:
- falco/**/*
integration/flink:
- flink/**/*
integration/fluentd:
- fluentd/**/*
integration/fluxcd:
- fluxcd/**/*
integration/fly_io:
- fly_io/**/*
integration/forcepoint_secure_web_gateway:
- forcepoint_secure_web_gateway/**/*
integration/forcepoint_security_service_edge:
- forcepoint_security_service_edge/**/*
integration/forescout:
- forescout/**/*
integration/foundationdb:
- foundationdb/**/*
integration/freshservice:
- freshservice/**/*
integration/gearmand:
- gearmand/**/*
integration/genesys:
- genesys/**/*
integration/gitlab:
- gitlab/**/*
integration/gitlab_runner:
- gitlab_runner/**/*
integration/gke:
- gke/**/*
integration/glusterfs:
- glusterfs/**/*
integration/go-metro:
- go-metro/**/*
integration/go_expvar:
- go_expvar/**/*
integration/godaddy:
- godaddy/**/*
integration/gpu:
- gpu/**/*
integration/greenhouse:
- greenhouse/**/*
integration/guarddog:
- guarddog/**/*
integration/gunicorn:
- gunicorn/**/*
integration/haproxy:
- haproxy/**/*
integration/harbor:
- harbor/**/*
integration/have_i_been_pwned:
- have_i_been_pwned/**/*
integration/hazelcast:
- hazelcast/**/*
integration/hdfs_datanode:
- hdfs_datanode/**/*
integration/hdfs_namenode:
- hdfs_namenode/**/*
integration/helm:
- helm/**/*
integration/hive:
- hive/**/*
integration/hivemq:
- hivemq/**/*
integration/http_check:
- http_check/**/*
integration/hubspot_content_hub:
- hubspot_content_hub/**/*
integration/hudi:
- hudi/**/*
integration/hugging_face_tgi:
- hugging_face_tgi/**/*
integration/hyperv:
- hyperv/**/*
integration/iam_access_analyzer:
- iam_access_analyzer/**/*
integration/ibm_ace:
- ibm_ace/**/*
integration/ibm_db2:
- ibm_db2/**/*
integration/ibm_i:
- ibm_i/**/*
integration/ibm_mq:
- ibm_mq/**/*
integration/ibm_spectrum_lsf:
- ibm_spectrum_lsf/**/*
integration/ibm_was:
- ibm_was/**/*
integration/iboss:
- iboss/**/*
integration/ignite:
- ignite/**/*
integration/iis:
- iis/**/*
integration/impala:
- impala/**/*
integration/incident_io:
- incident_io/**/*
integration/infiniband:
- infiniband/**/*
integration/intercom:
- intercom/**/*
integration/istio:
- istio/**/*
integration/ivanti_connect_secure:
- ivanti_connect_secure/**/*
integration/ivanti_nzta:
- ivanti_nzta/**/*
integration/jamf_pro:
- jamf_pro/**/*
integration/jboss_wildfly:
- jboss_wildfly/**/*
integration/jmeter:
- jmeter/**/*
integration/journald:
- journald/**/*
integration/juniper_srx_firewall:
- juniper_srx_firewall/**/*
integration/kafka:
- kafka/**/*
integration/kafka_actions:
- kafka_actions/**/*
integration/kafka_consumer:
- kafka_consumer/**/*
integration/kandji:
- kandji/**/*
integration/karpenter:
- karpenter/**/*
integration/keda:
- keda/**/*
integration/keeper:
- keeper/**/*
integration/keycloak:
- keycloak/**/*
integration/klaviyo:
- klaviyo/**/*
integration/kong:
- kong/**/*
integration/krakend:
- krakend/**/*
integration/kube_apiserver_metrics:
- kube_apiserver_metrics/**/*
integration/kube_controller_manager:
- kube_controller_manager/**/*
integration/kube_dns:
- kube_dns/**/*
integration/kube_metrics_server:
- kube_metrics_server/**/*
integration/kube_proxy:
- kube_proxy/**/*
integration/kube_scheduler:
- kube_scheduler/**/*
integration/kubeflow:
- kubeflow/**/*
integration/kubelet:
- kubelet/**/*
integration/kubernetes:
- kubernetes/**/*
integration/kubernetes_admission:
- kubernetes_admission/**/*
integration/kubernetes_cluster_autoscaler:
- kubernetes_cluster_autoscaler/**/*
integration/kubernetes_state:
- kubernetes_state/**/*
integration/kubernetes_state_core:
- kubernetes_state_core/**/*
integration/kubevirt:
- kubevirt/**/*
integration/kubevirt_api:
- kubevirt_api/**/*
integration/kubevirt_controller:
- kubevirt_controller/**/*
integration/kubevirt_handler:
- kubevirt_handler/**/*
integration/kuma:
- kuma/**/*
integration/kyototycoon:
- kyototycoon/**/*
integration/kyverno:
- kyverno/**/*
integration/langchain:
- langchain/**/*
integration/lastpass:
- lastpass/**/*
integration/lighttpd:
- lighttpd/**/*
integration/linkerd:
- linkerd/**/*
integration/linux_audit_logs:
- linux_audit_logs/**/*
integration/linux_proc_extras:
- linux_proc_extras/**/*
integration/litellm:
- litellm/**/*
integration/lustre:
- lustre/**/*
integration/mac_audit_logs:
- mac_audit_logs/**/*
integration/mailchimp:
- mailchimp/**/*
integration/mapr:
- mapr/**/*
integration/mapreduce:
- mapreduce/**/*
integration/marathon:
- marathon/**/*
integration/marklogic:
- marklogic/**/*
integration/mcache:
- mcache/**/*
integration/mesos_master:
- mesos_master/**/*
integration/mesos_slave:
- mesos_slave/**/*
integration/metabase:
- metabase/**/*
integration/microsoft_copilot:
- microsoft_copilot/**/*
integration/microsoft_dns:
- microsoft_dns/**/*
integration/microsoft_sysmon:
- microsoft_sysmon/**/*
integration/milvus:
- milvus/**/*
integration/mimecast:
- mimecast/**/*
integration/mongo:
- mongo/**/*
integration/mux:
- mux/**/*
integration/mysql:
- mysql/**/*
integration/nagios:
- nagios/**/*
integration/network:
- network/**/*
integration/network_path:
- network_path/**/*
integration/nfsstat:
- nfsstat/**/*
integration/nginx:
- nginx/**/*
integration/nginx_ingress_controller:
- nginx_ingress_controller/**/*
integration/ntp:
- ntp/**/*
integration/nvidia_jetson:
- nvidia_jetson/**/*
integration/nvidia_nim:
- nvidia_nim/**/*
integration/nvidia_triton:
- nvidia_triton/**/*
integration/obsidian_security:
- obsidian_security/**/*
integration/octopus_deploy:
- octopus_deploy/**/*
integration/oke:
- oke/**/*
integration/okta_workflows:
- okta_workflows/**/*
integration/oom_kill:
- oom_kill/**/*
integration/openai:
- openai/**/*
integration/openldap:
- openldap/**/*
integration/openmetrics:
- openmetrics/**/*
integration/openshift:
- openshift/**/*
integration/openstack:
- openstack/**/*
integration/openstack_controller:
- openstack_controller/**/*
integration/openvpn:
- openvpn/**/*
integration/oracle:
- oracle/**/*
integration/orca_security:
- orca_security/**/*
integration/ossec_security:
- ossec_security/**/*
integration/otel:
- otel/**/*
integration/palo_alto_cortex_xdr:
- palo_alto_cortex_xdr/**/*
integration/palo_alto_panorama:
- palo_alto_panorama/**/*
integration/pan_firewall:
- pan_firewall/**/*
integration/pdh_check:
- pdh_check/**/*
integration/pgbouncer:
- pgbouncer/**/*
integration/php_fpm:
- php_fpm/**/*
integration/ping_federate:
- ping_federate/**/*
integration/ping_one:
- ping_one/**/*
integration/pivotal_pks:
- pivotal_pks/**/*
integration/plaid:
- plaid/**/*
integration/plivo:
- plivo/**/*
integration/podman:
- podman/**/*
integration/postfix:
- postfix/**/*
integration/postgres:
- postgres/**/*
integration/postmark:
- postmark/**/*
integration/powerdns_recursor:
- powerdns_recursor/**/*
integration/presto:
- presto/**/*
integration/process:
- process/**/*
integration/prometheus:
- prometheus/**/*
integration/proofpoint_on_demand:
- proofpoint_on_demand/**/*
integration/proofpoint_tap:
- proofpoint_tap/**/*
integration/proxmox:
- proxmox/**/*
integration/proxysql:
- proxysql/**/*
integration/pulsar:
- pulsar/**/*
integration/push_security:
- push_security/**/*
integration/quarkus:
- quarkus/**/*
integration/rabbitmq:
- rabbitmq/**/*
integration/ray:
- ray/**/*
integration/redisdb:
- redisdb/**/*
integration/resend:
- resend/**/*
integration/rethinkdb:
- rethinkdb/**/*
integration/riak:
- riak/**/*
integration/riakcs:
- riakcs/**/*
integration/ringcentral:
- ringcentral/**/*
integration/sanity:
- sanity/**/*
integration/sap_hana:
- sap_hana/**/*
integration/scylla:
- scylla/**/*
integration/shopify:
- shopify/**/*
integration/sidekiq:
- sidekiq/**/*
integration/silk:
- silk/**/*
integration/silverstripe_cms:
- silverstripe_cms/**/*
integration/singlestore:
- singlestore/**/*
integration/slurm:
- slurm/**/*
integration/snmp:
- snmp/**/*
integration/snmp_american_power_conversion:
- snmp_american_power_conversion/**/*
integration/snmp_arista:
- snmp_arista/**/*
integration/snmp_aruba:
- snmp_aruba/**/*
integration/snmp_chatsworth_products:
- snmp_chatsworth_products/**/*
integration/snmp_check_point:
- snmp_check_point/**/*
integration/snmp_cisco:
- snmp_cisco/**/*
integration/snmp_dell:
- snmp_dell/**/*
integration/snmp_f5:
- snmp_f5/**/*
integration/snmp_fortinet:
- snmp_fortinet/**/*
integration/snmp_hewlett_packard_enterprise:
- snmp_hewlett_packard_enterprise/**/*
integration/snmp_juniper:
- snmp_juniper/**/*
integration/snmp_netapp:
- snmp_netapp/**/*
integration/snowflake:
- snowflake/**/*
integration/solarwinds:
- solarwinds/**/*
integration/solr:
- solr/**/*
integration/sonarqube:
- sonarqube/**/*
integration/sonatype_nexus:
- sonatype_nexus/**/*
integration/sonicwall_firewall:
- sonicwall_firewall/**/*
integration/sophos_central_cloud:
- sophos_central_cloud/**/*
integration/spark:
- spark/**/*
integration/sqlserver:
- sqlserver/**/*
integration/squid:
- squid/**/*
integration/ssh_check:
- ssh_check/**/*
integration/statsd:
- statsd/**/*
integration/streamnative:
- streamnative/**/*
integration/strimzi:
- strimzi/**/*
integration/supabase:
- supabase/**/*
integration/supabase_cloud:
- supabase_cloud/**/*
integration/supervisord:
- supervisord/**/*
integration/supply_chain_firewall:
- supply_chain_firewall/**/*
integration/suricata:
- suricata/**/*
integration/symantec_endpoint_protection:
- symantec_endpoint_protection/**/*
integration/symantec_vip:
- symantec_vip/**/*
integration/system_core:
- system_core/**/*
integration/system_swap:
- system_swap/**/*
integration/systemd:
- systemd/**/*
integration/tanium:
- tanium/**/*
integration/tcp_check:
- tcp_check/**/*
integration/tcp_queue_length:
- tcp_queue_length/**/*
integration/teamcity:
- teamcity/**/*
integration/tekton:
- tekton/**/*
integration/teleport:
- teleport/**/*
integration/temporal:
- temporal/**/*
integration/temporal_cloud:
- temporal_cloud/**/*
integration/tenable:
- tenable/**/*
integration/tenable_io:
- tenable_io/**/*
integration/teradata:
- teradata/**/*
integration/terraform:
- terraform/**/*
integration/tibco_ems:
- tibco_ems/**/*
integration/tls:
- tls/**/*
integration/tokumx:
- tokumx/**/*
integration/tomcat:
- tomcat/**/*
integration/torchserve:
- torchserve/**/*
integration/traefik_mesh:
- traefik_mesh/**/*
integration/traffic_server:
- traffic_server/**/*
integration/trellix_endpoint_security:
- trellix_endpoint_security/**/*
integration/trend_micro_email_security:
- trend_micro_email_security/**/*
integration/trend_micro_vision_one_endpoint_security:
- trend_micro_vision_one_endpoint_security/**/*
integration/trend_micro_vision_one_xdr:
- trend_micro_vision_one_xdr/**/*
integration/twemproxy:
- twemproxy/**/*
integration/twistlock:
- twistlock/**/*
integration/valence_security:
- valence_security/**/*
integration/varnish:
- varnish/**/*
integration/vault:
- vault/**/*
integration/vectra:
- vectra/**/*
integration/velero:
- velero/**/*
integration/versa:
- versa/**/*
integration/vertica:
- vertica/**/*
integration/vllm:
- vllm/**/*
integration/voltdb:
- voltdb/**/*
integration/vonage:
- vonage/**/*
integration/vsphere:
- vsphere/**/*
integration/watchguard_firebox:
- watchguard_firebox/**/*
integration/wazuh:
- wazuh/**/*
integration/weaviate:
- weaviate/**/*
integration/weblogic:
- weblogic/**/*
integration/win32_event_log:
- win32_event_log/**/*
integration/wincrashdetect:
- wincrashdetect/**/*
integration/windows_certificate:
- windows_certificate/**/*
integration/windows_performance_counters:
- windows_performance_counters/**/*
integration/windows_registry:
- windows_registry/**/*
integration/windows_service:
- windows_service/**/*
integration/winkmem:
- winkmem/**/*
integration/wlan:
- wlan/**/*
integration/wmi_check:
- wmi_check/**/*
integration/workato:
- workato/**/*
integration/yarn:
- yarn/**/*
integration/zeek:
- zeek/**/*
integration/zero_networks:
- zero_networks/**/*
integration/zerofox_cloud_platform:
- zerofox_cloud_platform/**/*
integration/zk:
- zk/**/*
integration/zscaler_private_access:
- zscaler_private_access/**/*
qa/skip-qa:
- '**/__about__.py'
- requirements-agent-release.txt
- '*/CHANGELOG.md'
release:
- '**/__about__.py'
