/*
* The service principal
*/
KafkaServer {
    com.sun.security.auth.module.Krb5LoginModule required
    useKeyTab=true
    storeKey=true
    keyTab="/var/lib/secret/localhost.key"
    principal="kafka/localhost@TEST.CONFLUENT.IO";
};

KafkaClient {
    com.sun.security.auth.module.Krb5LoginModule required
    useKeyTab=true
    storeKey=true
    keyTab="/var/lib/secret/localhost.key"
    principal="kafka/localhost@TEST.CONFLUENT.IO";
};

/*
* Zookeeper client principal
*/
Client {
    com.sun.security.auth.module.Krb5LoginModule required
    useKeyTab=true
    storeKey=true
    useTicketCache=false
    keyTab="/var/lib/secret/zookeeper-client.key"
    principal="zkclient@TEST.CONFLUENT.IO";
};
