init_config:
# Not required for this check

instances:
  - excluded_devices: [] # List of devices to exclude
# Optional tags to be applied to every emitted metric and service check.
#   tags:
#    - name:optional_tag
