init_config:

instances:
  ## @param servlet_url - string - required
  ## The URL of the PerfServlet configured to report metrics
  #
  - servlet_url: localhost

  ## @param collect_jdbc_stats - boolean - optional - default: True
  ## Whether or not to collect JDBC Connection Pool stats
  #
  # collect_jdbc_stats: True

  ## @param collect_jvm_stats - boolean - optional - default: True
  ## Whether or not to collect JVM Runtime stats
  #
  # collect_jvm_stats: True

  ## @param collect_servlet_session_stats - boolean - optional - default: True
  ## Whether or not to collect Servlet Session Manager stats
  #
  # collect_servlet_session_stats: True

  ## @param collect_thread_pool_stats - boolean - optional - default: True
  ## Whether or not to collect Thread Pools stats
  #
  # collect_thread_pool_stats: True
