init_config:

instances:
  ## @param servlet_url - string - required
  ## The URL of the PerfServlet configured to report metrics
  #
  - servlet_url: localhost

  ## @param collect_jdbc_stats - boolean - optional - default: True
  ## Whether or not to collect JDBC Connection Pool stats
  #
  # collect_jdbc_stats: True

  ## @param collect_jvm_stats - boolean - optional - default: True
  ## Whether or not to collect JVM Runtime stats
  #
  # collect_jvm_stats: True

  ## @param collect_servlet_session_stats - boolean - optional - default: True
  ## Whether or not to collect Servlet Session Manager stats
  #
  # collect_servlet_session_stats: True

  ## @param collect_thread_pool_stats - boolean - optional - default: True
  ## Whether or not to collect Thread Pools stats
  #
  # collect_thread_pool_stats: True

  ## @param custom_queries - custom - optional
  ## List of custom or additional XML attributes to parse and submit as metrics
  ## Each must contain a `metric_prefix` and `stat` element
  ## If the `stat` node has sub `stat` nodes, the name of these nodes must be specified
  ## in the order they occur within the XML document and will be displayed as tags.
  ## The metric will be named `ibmwas.<metric_prefix>.<xml_attribute_name>` and be tagged with the 
  ## `name` value of the corresponding `tagKeys` attributes. 
  #
  # custom_queries:
  #  - metric_prefix: "jdbc"
  #    stat: "JDBC Connection Custom"
  #    tagKeys:
  #      - "JDBCKey"
  #      - "JDBCKey2"
  #  - metric_prefix: "jvm"
  #    stat: "JVM Runtime Custom"
  #    tagKeys:
  #      - "JVMKey"
