init_config:

instances:
  ## @param endpoint - string - required
  ## The twistlock url
  #
  - url: 'http://localhost:8081'

  ## @param username - string - required
  ## The twistlock prometheus endpoint
  #
    username: '<USERNAME>'

  ## @param password - string - required
  ## The twistlock prometheus endpoint
  #
    password: '<PASSWORD>'


# logs:
#   - type: docker
#     image: twistlock/private
#     source: twistlock
#     service: twistlock
