init_config:

instances:

    ## @param status_url - string - required
    ## Get metrics from your FPM pool with this URL
    ## The status URLs should follow the options from your FPM pool
    ## See http://php.net/manual/en/install.fpm.configuration.php
    ##   * pm.status_path
    ## You should configure your fastcgi passthru (nginx/apache) to
    ## catch these URLs and redirect them through the FPM pool target
    ## you want to monitor (FPM `listen` directive in the config, usually
    ## a UNIX socket or TCP socket.
    #
  - status_url: http://localhost/status

    ## @param ping_url - string - required
    ## Get a reliable service check of your FPM pool with `ping_url` parameter
    ## The ping URLs should follow the options from your FPM pool
    ## See http://php.net/manual/en/install.fpm.configuration.php
    ##   * ping.path
    ## You should configure your fastcgi passthru (nginx/apache) to
    ## catch these URLs and redirect them through the FPM pool target
    ## you want to monitor (FPM `listen` directive in the config, usually
    ## a UNIX socket or TCP socket.
    #
    ping_url: http://localhost/ping

    ## @param use_fastcgi - boolean - required - default: false
    ## Communicate directly with PHP-FPM using FastCGI
    #
    use_fastcgi: false

    ## @param ping_reply - string - required
    ## Set the expected reply to the ping.
    #
    ping_reply: pong

    ## @param user - string - optional
    ## Use the `user` parameter to set your username
    ## if you have basic authentication on your ping and status pages.
    #
    # user: <USERNAME>

    ## @param password - string - optional
    ## Use the `password` parameter to set your password
    ## if you have basic authentication on your ping and status pages.
    #
    # password: <PASSWORD>

    ## @param http_host - string - optional
    ## If your FPM pool is only accessible via a specific HTTP vhost, you can
    ## pass in a custom Host header like so
    #
    # http_host: <HOST_ENDPOINT>

    ## @param timeout - integer - optional - default: 20
    ## If you need to specify a custom timeout in seconds.
    #
    # timeout: 20

    ## @param disable_ssl_validation - boolean - optional - default: false
    ## The disable_ssl_validation instructs the check to skip the validation
    ## of the SSL certificate of the URL being tested.
    ## Set to true if you want to disable SSL certificate validation.
    #
    # disable_ssl_validation: false

    ## @param tags - list of key:value elements - optional
    ## List of tags to attach to every metric, event, and service check emitted by this Integration.
    ##
    ## Learn more about tagging: https://docs.datadoghq.com/tagging/
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>
