init_config:

instances:

  -
    ## @param tags - list of strings following the pattern: "key:value" - optional
    ## List of tags to attach to every metric, event and service check emitted by this integration.
    ##
    ## Learn more about tagging: https://docs.datadoghq.com/tagging/
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>

    ## 1.7.6+ clusters expose container metrics in the prometheus format.
    ## This is the default setting. See next section for legacy clusters.

    ## @param cadvisor_metrics_endpoint - string - optional
    ## url of the cadvisor metrics prometheus endpoint.
    ## Pass an empty string, or set the cadvisor_port option to disable cadvisor metrics collection.
    #
    # cadvisor_metrics_endpoint: http://10.8.0.1:10255/metrics/cadvisor

    ## @param kubelet_metrics_endpoint - string - optional
    ## url of the kubelet metrics prometheus endpoint
    ## Pass an empty string to disable kubelet metrics collection
    #
    # kubelet_metrics_endpoint: http://10.8.0.1:10255/metrics

    ## @param send_histograms_buckets - boolean - optional
    ## The histogram buckets can be noisy and generate a lot of tags.
    ## send_histograms_buckets controls whether or not you want to pull them.
    #
    # send_histograms_buckets: true

    ## Metric collection for legacy (< 1.7.6) clusters via the kubelet's cadvisor port.
    ## This port is closed by default on k8s 1.7+ and OpenShift, enable it
    ## via the `--cadvisor-port=4194` kubelet option.

    ## @param cadvisor_port - integer - optional
    ## Port to connect to, uncomment and set accordingly to enable collection.
    #
    # cadvisor_port: 4194

    ## @param enabled_rates - list of string - optional
    ## Whitelist of rate type metrics to collect from cadvisor, these are the default
    #
    # enabled_rates:
    #   - cpu.*
    #   - network.*

    ## @param enabled_gauges - list of string - optional
    ## Whitelist of gauge type metrics to collect from cadvisor, these are the default
    #
    # enabled_gauges:
    #   - filesystem.*
