init_config:

instances:
  - unit_id: networking.service
    tags:
      - env:staging
      - cluster:test
  - unit_id: cron.service
  - unit_id: ssh.service

## @param collect_all_units - boolean - optional - default: False
  - collect_all_units = False
