## All options defined here are available to all instances.
#
init_config:

    ## @param service - string - optional
    ## Attach the tag `service:<SERVICE>` to every metric, event, and service check emitted by this integration.
    ##
    ## Additionally, this sets the default `service` for every log source.
    #
    # service: <SERVICE>

## Every instance is scheduled independently of the others.
#
instances:

    ## @param host - string - required
    ## Zookeeper host to connect to.
    #
  - host: localhost

    ## @param port - integer - optional - default: 2181
    ## Zookeeper port to connect to.
    #
    # port: 2181

    ## @param timeout - integer - optional - default: 3
    ## The read timeout in seconds.
    #
    # timeout: 3

    ## @param expected_mode - string or list of strings - optional
    ## If `expected_mode` is defined, a service check is sent where the
    ## status is determined by whether the current mode matches the expected.
    ##
    ## Available options are: `leader`, `follower`, `standalone` or an array of one or more of these.
    #
    # expected_mode: <EXPECTED_MODE>

    ## @param report_instance_mode - boolean - optional - default: true
    ## Whether to report the current instance mode as a 0/1 gauge.
    ## For example if the current instance mode is `observer` - `zookeeper.instances.observer` reports as 1.
    ## and `zookeeper.instances.(leader|follower|standalone|etc.)` reports as 0.
    #
    # report_instance_mode: true

    ## @param tags - list of strings - optional
    ## A list of tags to attach to every metric and service check emitted by this instance.
    ##
    ## Learn more about tagging at https://docs.datadoghq.com/tagging
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>

    ## @param service - string - optional
    ## Attach the tag `service:<SERVICE>` to every metric, event, and service check emitted by this integration.
    ##
    ## Overrides any `service` defined in the `init_config` section.
    #
    # service: <SERVICE>

    ## @param min_collection_interval - number - optional - default: 15
    ## This changes the collection interval of the check. For more information, see:
    ## https://docs.datadoghq.com/developers/write_agent_check/#collection-interval
    #
    # min_collection_interval: 15

    ## @param empty_default_hostname - boolean - optional - default: false
    ## This forces the check to send metrics with no hostname.
    ##
    ## This is useful for cluster-level checks.
    #
    # empty_default_hostname: false

    ## @param metric_patterns - mapping - optional
    ## A mapping of metrics to include or exclude, with each entry being a regular expression.
    ##
    ## Metrics defined in `exclude` will take precedence in case of overlap.
    #
    # metric_patterns:
    #   include:
    #   - <INCLUDE_REGEX>
    #   exclude:
    #   - <EXCLUDE_REGEX>

    ## @param use_tls - boolean - optional - default: false
    ## This instructs the Zookeeper check to connect using TLS.
    #
    # use_tls: false

    ## @param tls_verify - boolean - optional - default: true
    ## Instructs the check to validate the TLS certificate(s) of the service(s).
    #
    # tls_verify: true

    ## @param tls_ca_cert - string - optional
    ## The path to a file of concatenated CA certificates in PEM format or a directory
    ## containing several CA certificates in PEM format. If a directory, the directory
    ## must have been processed using the c_rehash utility supplied with OpenSSL. See:
    ## https://www.openssl.org/docs/manmaster/man3/SSL_CTX_load_verify_locations.html
    ##
    ## Setting this implicitly sets `tls_verify` to true.
    #
    # tls_ca_cert: <CA_CERT_PATH>

    ## @param tls_cert - string - optional
    ## The path to a single file in PEM format containing a certificate as well as any
    ## number of CA certificates needed to establish the certificate's authenticity for
    ## use when connecting to services. It may also contain an unencrypted private key to use.
    ##
    ## Setting this implicitly sets `tls_verify` to true.
    #
    # tls_cert: <CERT_PATH>

    ## @param tls_private_key - string - optional
    ## The unencrypted private key to use for `tls_cert` when connecting to services. This is
    ## required if `tls_cert` is set and it does not already contain a private key.
    ##
    ## Setting this implicitly sets `tls_verify` to true.
    #
    # tls_private_key: <PRIVATE_KEY_PATH>

    ## @param tls_private_key_password - string - optional
    ## Optional password to decrypt tls_private_key.
    ##
    ## Setting this implicitly sets `tls_verify` to true.
    #
    # tls_private_key_password: <PRIVATE_KEY_PASSWORD>

    ## @param tls_validate_hostname - boolean - optional - default: true
    ## Verifies that the server's cert hostname matches the one requested.
    #
    # tls_validate_hostname: true

## Log Section
##
## type - required - Type of log input source (tcp / udp / file / windows_event).
## port / path / channel_path - required - Set port if type is tcp or udp.
##                                         Set path if type is file.
##                                         Set channel_path if type is windows_event.
## source  - required - Attribute that defines which integration sent the logs.
## encoding - optional - For file specifies the file encoding. Default is utf-8. Other
##                       possible values are utf-16-le and utf-16-be.
## service - optional - The name of the service that generates the log.
##                      Overrides any `service` defined in the `init_config` section.
## tags - optional - Add tags to the collected logs.
##
## Discover Datadog log collection: https://docs.datadoghq.com/logs/log_collection/
#
# logs:
#   - type: file
#     path: /var/log/zookeeper.log
#     source: zookeeper
#     log_processing_rules:
#     - type: multi_line
#       name: start_with_date
#       pattern: \d{4}\-(0?[1-9]|1[012])\-(0?[1-9]|[12][0-9]|3[01])
