init_config:
  # List of metrics to extract from Prometheus
  allowed_metrics:
    - go_gc_duration_seconds
    - go_gc_duration_seconds_sum
    - go_gc_duration_seconds_count
    - go_goroutines
    - go_memstats_alloc_bytes
    - go_memstats_alloc_bytes_total
    - go_memstats_buck_hash_sys_bytes
    - go_memstats_frees_total
    - go_memstats_gc_cpu_fraction
    - go_memstats_gc_sys_bytes
    - go_memstats_heap_alloc_bytes
    - go_memstats_heap_idle_bytes
    - go_memstats_heap_inuse_bytes
    - go_memstats_heap_objects
    - go_memstats_heap_released_bytes_total
    - go_memstats_heap_sys_bytes
    - go_memstats_last_gc_time_seconds
    - go_memstats_lookups_total
    - go_memstats_mallocs_total
    - go_memstats_mcache_inuse_bytes
    - go_memstats_mcache_sys_bytes
    - go_memstats_mspan_inuse_bytes
    - go_memstats_mspan_sys_bytes
    - go_memstats_next_gc_bytes
    - go_memstats_other_sys_bytes
    - go_memstats_stack_inuse_bytes
    - go_memstats_stack_inuse_bytes
    - go_memstats_sys_bytes
    - go_threads
    - http_request_duration_microseconds
    - http_request_size_bytes
    - http_requests_total
    - http_response_size_bytes
    - process_cpu_seconds_total
    - process_max_fds
    - process_open_fds
    - process_resident_memory_bytes
    - process_start_time_seconds
    - process_virtual_memory_bytes
    - prometheus_build_info
    - prometheus_config_last_reload_success_timestamp_seconds
    - prometheus_config_last_reload_successful
    - prometheus_engine_queries
    - prometheus_engine_queries_concurrent_max
    - prometheus_engine_query_duration_seconds
    - prometheus_evaluator_duration_seconds
    - prometheus_evaluator_iterations_missed_total
    - prometheus_evaluator_iterations_skipped_total
    - prometheus_evaluator_iterations_total
    - prometheus_local_storage_checkpoint_duration_seconds
    - prometheus_local_storage_checkpoint_last_duration_seconds
    - prometheus_local_storage_checkpoint_last_size_bytes
    - prometheus_local_storage_checkpoint_series_chunks_written
    - prometheus_local_storage_checkpointing
    - prometheus_local_storage_chunk_ops_total
    - prometheus_local_storage_chunks_to_persist
    - prometheus_local_storage_fingerprint_mappings_total
    - prometheus_local_storage_inconsistencies_total
    - prometheus_local_storage_indexing_batch_duration_seconds
    - prometheus_local_storage_indexing_batch_sizes
    - prometheus_local_storage_indexing_queue_capacity
    - prometheus_local_storage_indexing_queue_length
    - prometheus_local_storage_ingested_samples_total
    - prometheus_local_storage_maintain_series_duration_seconds
    - prometheus_local_storage_memory_chunkdescs
    - prometheus_local_storage_memory_chunks
    - prometheus_local_storage_memory_dirty_series
    - prometheus_local_storage_memory_series
    - prometheus_local_storage_non_existent_series_matches_total
    - prometheus_local_storage_open_head_chunks
    - prometheus_local_storage_out_of_order_samples_total
    - prometheus_local_storage_persist_errors_total
    - prometheus_local_storage_persistence_urgency_score
    - prometheus_local_storage_queued_chunks_to_persist_total
    - prometheus_local_storage_rushed_mode
    - prometheus_local_storage_series_chunks_persisted
    - prometheus_local_storage_series_ops_total
    - prometheus_local_storage_started_dirty
    - prometheus_local_storage_target_heap_size_bytes
    - prometheus_notifications_alertmanagers_discovered
    - prometheus_notifications_dropped_total
    - prometheus_notifications_queue_capacity
    - prometheus_notifications_queue_length
    - prometheus_rule_evaluation_failures_total
    - prometheus_sd_azure_refresh_duration_seconds
    - prometheus_sd_azure_refresh_failures_total
    - prometheus_sd_consul_rpc_duration_seconds
    - prometheus_sd_consul_rpc_failures_total
    - prometheus_sd_dns_lookup_failures_total
    - prometheus_sd_dns_lookups_total
    - prometheus_sd_ec2_refresh_duration_seconds
    - prometheus_sd_ec2_refresh_failures_total
    - prometheus_sd_file_read_errors_total
    - prometheus_sd_file_scan_duration_seconds
    - prometheus_sd_gce_refresh_duration
    - prometheus_sd_gce_refresh_failures_total
    - prometheus_sd_kubernetes_events_total
    - prometheus_sd_marathon_refresh_duration_seconds
    - prometheus_sd_marathon_refresh_failures_total
    - prometheus_sd_openstack_refresh_duration_seconds
    - prometheus_sd_openstack_refresh_failures_total
    - prometheus_sd_triton_refresh_duration_seconds
    - prometheus_sd_triton_refresh_failures_total
    - prometheus_target_interval_length_seconds
    - prometheus_target_scrape_pool_sync_total
    - prometheus_target_scrapes_exceeded_sample_limit_total
    - prometheus_target_skipped_scrapes_total
    - prometheus_target_sync_length_seconds
    - prometheus_treecache_watcher_goroutines
    - prometheus_treecache_zookeeper_failures_total

instances:
    # Master URL to probe for service health status
    # If you are using gitlab CE and not EE, use this url with
    # the authorization token: http://localhost/?token=<TOKEN>
  - gitlab_url: http://localhost

    # url of the metrics endpoint of prometheus
    prometheus_endpoint: http://localhost:9090/metrics
    # The histogram buckets can be noisy and generate a lot of tags.
    # send_histograms_buckets controls whether or not you want to pull them.
    #
    # send_histograms_buckets: True
    #
    # Note that like all checks based on the PrometheusCheck class, you can add
    # tags to the instance that will be added to all the metrics of this check
    # instance.
    #
    # tags:
    #   - 'mytag1:myValue1'

    # The (optional) connect_timeout will override the default value, and fail
    # the check if the time to establish the (TCP) connection exceeds the
    # connect_timeout value (in seconds)
    # connect_timeout: 5

    # The (optional) receive_timeout will override the default value, and fail
    # the check if the time to receive the server status from the Apache server
    # exceeds the receive_timeout value (in seconds)
    # receive_timeout: 15

    # Set to `false` to disable the validation of Gitlab's SSL certificates (default: true).
    # ssl_cert_validation: true

    # If ssl_cert_validation is enabled, you can provide a custom file
    # that lists trusted CA certificates (optional).
    # ssl_ca_certs: /path/to/CA/certificate/file
