{
    debug
    admin :2019
}
:80 {
    root * /usr/share/caddy/
    @get_compute_v_2_1 {
        method GET
        path /compute/v2.1
    }
    route @get_compute_v_2_1 {
        rewrite /compute/v2.1 /compute/v2.1/get.json
        file_server
    }
    @get_limits_project_id_667aee39f2b64032b4d7585809d31e6f {
        method GET
        expression query({'project_id': '667aee39f2b64032b4d7585809d31e6f'})
        path /compute/v2.1/limits
    }
    route @get_limits_project_id_667aee39f2b64032b4d7585809d31e6f {
        rewrite /compute/v2.1/limits /compute/v2.1/limits/667aee39f2b64032b4d7585809d31e6f.json
        file_server
    }
    @get_os_quota_sets_project_id_667aee39f2b64032b4d7585809d31e6f {
        method GET
        path /compute/v2.1/os-quota-sets/667aee39f2b64032b4d7585809d31e6f
    }
    route @get_os_quota_sets_project_id_667aee39f2b64032b4d7585809d31e6f {
        rewrite /compute/v2.1/os-quota-sets/667aee39f2b64032b4d7585809d31e6f /compute/v2.1/os-quota-sets/667aee39f2b64032b4d7585809d31e6f.json
        file_server
    }
    @get_servers_detail_project_id_667aee39f2b64032b4d7585809d31e6f {
        method GET
        expression query({'project_id': '667aee39f2b64032b4d7585809d31e6f'})
        path /compute/v2.1/servers/detail
    }
    route @get_servers_detail_project_id_667aee39f2b64032b4d7585809d31e6f {
        rewrite /compute/v2.1/servers/detail /compute/v2.1/servers/detail/667aee39f2b64032b4d7585809d31e6f.json
        file_server
    }
    @get_servers_3232a743-5fcf-41f2-8c29-0c84ae18ecb2_diagnostics {
        method GET
        path /compute/v2.1/servers/3232a743-5fcf-41f2-8c29-0c84ae18ecb2/diagnostics
    }
    route @get_servers_3232a743-5fcf-41f2-8c29-0c84ae18ecb2_diagnostics {
        rewrite /compute/v2.1/servers/3232a743-5fcf-41f2-8c29-0c84ae18ecb2/diagnostics /compute/v2.1/servers/3232a743-5fcf-41f2-8c29-0c84ae18ecb2/diagnostics/get.json
        file_server
    }
    @get_servers_aa67f696-095c-4bb3-abe9-0a7747fad92e_diagnostics {
        method GET
        path /compute/v2.1/servers/aa67f696-095c-4bb3-abe9-0a7747fad92e/diagnostics
    }
    route @get_servers_aa67f696-095c-4bb3-abe9-0a7747fad92e_diagnostics {
        rewrite /compute/v2.1/servers/aa67f696-095c-4bb3-abe9-0a7747fad92e/diagnostics /compute/v2.1/servers/aa67f696-095c-4bb3-abe9-0a7747fad92e/diagnostics/get.json
        file_server
    }
    @get_servers_f498382f-dbc1-4ed9-9c8d-5ec0aa633171_diagnostics {
        method GET
        path /compute/v2.1/servers/f498382f-dbc1-4ed9-9c8d-5ec0aa633171/diagnostics
    }
    route @get_servers_f498382f-dbc1-4ed9-9c8d-5ec0aa633171_diagnostics {
        rewrite /compute/v2.1/servers/f498382f-dbc1-4ed9-9c8d-5ec0aa633171/diagnostics /compute/v2.1/servers/f498382f-dbc1-4ed9-9c8d-5ec0aa633171/diagnostics/get.json
        file_server
    }
    @get_flavors_detail {
        method GET
        path /compute/v2.1/flavors/detail
    }
    route @get_flavors_detail {
        rewrite /compute/v2.1/flavors/detail /compute/v2.1/flavors/detail/get.json
        file_server
    }
    file_server browse
}
