{
    debug
    admin :2019
}
:80 {
    root * /usr/share/caddy/
    @get_v2_1_4bfc1 {
        method GET
        header X-Auth-Token "demo_test"
        path /v2.1/4bfc1
    }
    route @get_v2_1_4bfc1 {
        rewrite /v2.1/4bfc1 /v2.1/4bfc1/get.json
        file_server
    }
    @get_limits {
        method GET
        header X-Auth-Token "demo_test"
        path /v2.1/4bfc1/limits
    }
    route @get_limits {
        rewrite /v2.1/4bfc1/limits /v2.1/4bfc1/limits/{query.tenant_id}.json
        file_server
    }
    @get_servers_detail {
        method GET
        header X-Auth-Token "demo_test"
        path /v2.1/4bfc1/servers/detail
    }
    route @get_servers_detail {
        rewrite /v2.1/4bfc1/servers/detail /v2.1/4bfc1/servers/detail/get.json
        file_server
    }
    @get_os_hypervisors_detail {
        method GET
        header X-Auth-Token "demo_test"
        path /v2.1/4bfc1/os-hypervisors/detail
    }
    route @get_os_hypervisors_detail {
        rewrite /v2.1/4bfc1/os-hypervisors/detail /v2.1/4bfc1/os-hypervisors/detail/get.json
        file_server
    }
    @get_os_aggregates_detail {
        method GET
        header X-Auth-Token "demo_test"
        path /v2.1/4bfc1/os-aggregates
    }
    route @get_os_aggregates_detail {
        rewrite /v2.1/4bfc1/os-aggregates /v2.1/4bfc1/os-aggregates/get.json
        file_server
    }
    @get_os_hypervisors_uptime {
        method GET
        header X-Auth-Token "demo_test"
        path /v2.1/4bfc1/os-hypervisors/*/uptime
    }
    route @get_os_hypervisors_uptime {
        rewrite /v2.1/4bfc1/os-hypervisors/*/uptime /v2.1/4bfc1/os-hypervisors/uptime/get.json
        file_server
    }
    file_server browse
}
