interactions:
- request:
    body: '{"data": {"type": "app_manifest", "attributes": {"manifest_version": "2.0.0",
      "app_id": "mongodb", "display_on_public_website": true, "tile": {"overview":
      "README.md#Overview", "configuration": "README.md#Setup", "support": "README.md#Support",
      "changelog": "CHANGELOG.md", "description": "Track read/write performance, most-used
      replicas, collection metrics, and more.", "title": "MongoDB", "media": [], "classifier_tags":
      ["Supported OS::Linux", "Supported OS::macOS", "Supported OS::Windows", "Category::Data
      Store", "Category::Log Collection", "Category::Autodiscovery"]}, "author": {"support_email":
      "help@datadoghq.com", "name": "Datadog", "homepage": "https://www.datadoghq.com",
      "sales_email": "info@datadoghq.com"}, "oauth": {}, "assets": {"integration":
      {"source_type_name": "MongoDB", "configuration": {"spec": "assets/configuration/spec.yaml"},
      "events": {"creates_events": true}, "metrics": {"prefix": "mongodb.", "check":
      "mongodb.connections.available", "metadata_path": "metadata.csv"}, "service_checks":
      {"metadata_path": "assets/service_checks.json"}, "process_signatures": ["mongod"]},
      "dashboards": {"mongodb": "assets/dashboards/overview.json"}, "monitors": {"[MongoDB]
      High incoming connections": "assets/monitors/high_connections.json"}, "saved_views":
      {"operations_by_type_overview": "assets/saved_views/operations_by_type_overview.json",
      "queries": "assets/saved_views/queries.json", "queries_by_type_overview": "assets/saved_views/queries_by_type_overview.json",
      "slow_queries": "assets/saved_views/slow_queries.json", "mongodb_processes":
      "assets/saved_views/mongodb_processes.json"}, "logs": {"source": "mongodb"}}}}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://app.datadoghq.com/api/beta/apps/manifest/validate
  response:
    content: '{"errors":["API input validation failed: {''app_uuid'': [u''Missing
      data for required field.'']}"]}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '499'
      x-ratelimit-reset:
      - '17'
    status_code: 400
- request:
    body: '{"data": {"type": "app_manifest", "attributes": {"manifest_version": "2.0.0",
      "app_id": "vsphere", "display_on_public_website": true, "tile": {"overview":
      "README.md#Overview", "configuration": "README.md#Setup", "support": "README.md#Support",
      "changelog": "CHANGELOG.md", "description": "Understand how vSphere resource
      usage affects your application.", "title": "vSphere", "media": [], "classifier_tags":
      ["Supported OS::Linux", "Supported OS::macOS", "Supported OS::Windows", "Category::Cloud"]},
      "author": {"support_email": "help@datadoghq.com", "name": "Datadog", "homepage":
      "https://www.datadoghq.com", "sales_email": "info@datadoghq.com"}, "oauth":
      {}, "assets": {"integration": {"source_type_name": "vSphere", "configuration":
      {"spec": "assets/configuration/spec.yaml"}, "events": {"creates_events": true},
      "metrics": {"prefix": "vsphere.", "check": "vsphere.vm.count", "metadata_path":
      "metadata.csv"}, "service_checks": {"metadata_path": "assets/service_checks.json"}},
      "dashboards": {"vsphere-overview": "assets/dashboards/vsphere_overview.json",
      "VMware vSphere TKG - Overview": "assets/dashboards/vmware_vsphere_tkg_-_overview.json"}}}}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://app.datadoghq.com/api/beta/apps/manifest/validate
  response:
    content: '{"errors":["API input validation failed: {''app_uuid'': [u''Missing
      data for required field.'']}"]}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '498'
      x-ratelimit-reset:
      - '16'
    status_code: 400
version: 1
