init_config:

instances:

    ## @param prometheus_url - string - required
    ## The URL where your application metrics are exposed by Prometheus.
    ## It could be either the address of the metrics server service or
    ## the address of the pod itself.
    ## Please note that monitoring an exposed service of the metrics server
    ## that is backed by more than one pod could lead to inaccurate metrics
    ## because of to the load balancing. In this case, it is recommended to
    ## enable endpoint checks alongside the service check and use autodiscovery
    ## to get pod IP by setting up `prometheus_url` to https://%%host%%:443/metrics
    #
  - prometheus_url: https://localhost:443/metrics

    ## @param tags - list of key:value elements - optional
    ## List of tags to attach to every metrics, events and service checks emitted by this integration.
    ## Learn more about tagging: https://docs.datadoghq.com/tagging/
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>

    ## @param prometheus_timeout - integer - optional - default: 10
    ## Overrides the default timeout value in second
    #
    # prometheus_timeout: 10
