[env.collectors.datadog-checks]

[[envs.default.matrix]]
python = ["3.12"]

[[envs.default.matrix]]
python = ["3.12"]
setup = ["legacy"]

[[envs.default.matrix]]
python = ["3.12"]
setup = ["gcp"]

[envs.default.overrides]
name."^py3.12$".e2e-env = { value = true }
name."^py3.12-legacy$".e2e-env = { value = true }
matrix.setup.e2e-env = { value = true, if = ["gcp"], env = ["TF_VAR_credentials_file", "TF_VAR_instance_name", "TF_VAR_desired_status", "TF_VAR_nat_ip", "TF_VAR_network_ip", "TF_VAR_user"] }
matrix.setup.env-vars = [
  { key = "USE_OPENSTACK_GCP", value = "true", if = ["gcp"] },
  { key = "OPENSTACK_E2E_LEGACY", value = "true", if = ["legacy"] },
]

[envs.default]
e2e-env = false
