[env.collectors.datadog-checks]

[[envs.default.matrix]]
python = ["3.8"]

[[envs.default.matrix]]
python = ["3.8"]
setup = ["sandbox"]

[envs.default.overrides]
name."^py3.8$".e2e-env = { value = true }
matrix.setup.e2e-env = { value = true, if = ["sandbox"], env = ["TF_VAR_credentials_file", "TF_VAR_instance_name", "TF_VAR_user"] }
matrix.setup.env-vars = [
  { key = "USE_OPENSTACK_SANDBOX", value = "true", if = ["sandbox"] },
]

[envs.default]
e2e-env = false
