init_config:
  # We ship a version of nfsiostat with the agent binary,
  # but if you are using a source install,
  # you may have to specify the location of nfsiostat
  # nfsiostat_path: /usr/local/sbin/nfsiostat

instances:
  # Only one instance should be used per box
  # Use the tags field to add custom tags to metrics
  # Defaults to an empty list of tags
  - tags: []
  # - tags:
  #     - optional:tag1
