init_config:

instances:

  ## @param ceph_cmd - string - optional
  ## 
  #
  #  ceph_cmd: /usr/bin/ceph

  ## @param ceph_cluster - string - optional
  ## 
  #
  #  ceph_cluster: ceph

  ## @param use_sudo - boolean - optional - default: false
  ## If your environment requires sudo, please add the following line:
  ##
  ## dd-agent ALL=(ALL) NOPASSWD:/usr/bin/ceph
  ##
  ## to your sudoers file, and uncomment the option below:
  #
  #  use_sudo: True

  ## @param collect_service_check_for - list of string - optional
  ## If you wish to customize the health checks sent as a service check, uncomment and edit the list below.
  ## It collects by default the health check listed below.
  ## The list of health checks is available here: http://docs.ceph.com/docs/master/rados/operations/health-checks/
  ## The health checks are only available if you're running ceph luminous or later
  #
  #  collect_service_check_for:
  #    - OSD_DOWN
  #    - OSD_ORPHAN
  #    - OSD_FULL
  #    - OSD_NEARFULL
  #    - POOL_FULL
  #    - POOL_NEAR_FULL
  #    - PG_AVAILABILITY
  #    - PG_DEGRADED
  #    - PG_DEGRADED_FULL
  #    - PG_DAMAGED
  #    - PG_NOT_SCRUBBED
  #    - PG_NOT_DEEP_SCRUBBED
  #    - CACHE_POOL_NEAR_FULL
  #    - TOO_FEW_PGS
  #    - TOO_MANY_PGS
  #    - OBJECT_UNFOUND
  #    - REQUEST_SLOW
  #    - REQUEST_STUCK

  ## @param tags  - list of key:value element - optional 
  ## List of tags to attach to every metric, event and service check emitted by this integration.
  ## 
  ## Learn more about tagging: https://docs.datadoghq.com/tagging/
  #
  #  tags:
  #    - name:mars_cluster
  #    - <KEY_2>:<VALUE_2>
