init_config:

instances:

    ## @param database_url - string - required
    ## `database_url` parameter should point to PgBouncer stats database url
    #
  - database_url: postgresql://<USERNAME>:<PASSWORD>@<HOSTNAME>:<PORT>/<DATABASE_URL>?sslmode=require

    ## @param host - string - optional
    ## If `database_url` is not used, set up the host to connect to with the `host` parameter.
    #
    # host: <HOSTNAME>

    ## @param port - integer - optional
    ## If `database_url` is not used, set up the port to connect to with the `port` parameter.
    #
    # port: <PORT>

    ## @param username - string - optional
    ## If `database_url` is not used, set up the user name to use with the `username` parameter.
    #
    # username: <USERNAME>

    ## @param password - string - optional
    ## If `database_url` is not used, set up the password to use with the `password` parameter.
    #
    # password: <PASSWORD>

    ## @param use_cached - boolean - optional - default: true
    ## Cache and re-use PostgreSQL connection or create a new one at each check run.
    #
    # use_cached: true

    ## @param tags - list of key:value elements - optional
    ## List of tags to attach to every metric, event, and service check emitted by this Integration.
    ##
    ## Learn more about tagging: https://docs.datadoghq.com/tagging/
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>

## Log Section (Available for Agent >=6.0)
##
## type - mandatory - Type of log input source (tcp / udp / file / windows_event)
## port / path / channel_path - mandatory - Set port if type is tcp or udp. Set path if type is file. Set channel_path if type is windows_event
## service - mandatory - Name of the service that generated the log
## source  - mandatory - Attribute that defines which Integration sent the logs
## tags: - optional - Add tags to the collected logs
##
## Discover Datadog log collection: https://docs.datadoghq.com/logs/log_collection/
#
# logs:
#   - type: file
#     path: /var/log/postgresql/pgbouncer.log
#     source: pgbouncer
#     service: <SERVICE_NAME>
