## All options defined here are available to all instances.
#
init_config:

    ## @param service - string - optional
    ## Attach the tag `service:<SERVICE>` to every metric, event, and service check emitted by this integration.
    ##
    ## Additionally, this sets the default `service` for every log source.
    #
    # service: <SERVICE>

## Every instance is scheduled independently of the others.
#
instances:

  -
    ## @param database_url - string - optional - default: postgresql://<USERNAME>:<PASSWORD>@<HOSTNAME>:<PORT>/<DATABASE_URL>?sslmode=require
    ## The PgBouncer stats database URL.
    ##
    ## If the password contains special characters, be sure to escape them using percent encoding.
    ##
    ## See: https://www.postgresql.org/docs/current/libpq-connect.html#LIBPQ-CONNSTRING
    #
    # database_url: postgresql://<USERNAME>:<PASSWORD>@<HOSTNAME>:<PORT>/<DATABASE_URL>?sslmode=require

    ## @param host - string - optional
    ## If `database_url` is not used, set up the host to connect to with the `host` parameter.
    #
    # host: <HOST>

    ## @param port - integer - optional
    ## If `database_url` is not used, set up the port to connect to with the `port` parameter.
    #
    # port: <PORT>

    ## @param username - string - optional
    ## If `database_url` is not used, set up the user name to use with the `username` parameter.
    #
    # username: <USERNAME>

    ## @param password - string - optional
    ## If `database_url` is not used, set up the password to use with the `password` parameter.
    #
    # password: <PASSWORD>

    ## @param use_cached - boolean - optional - default: true
    ## Cache and re-use PostgreSQL connection or create a new one at each check run.
    #
    # use_cached: true

    ## @param collect_per_client_metrics - boolean - optional - default: false
    ## Whether to collect detailed per-client metrics.
    ##
    ## This is useful for detailed analysis of client behavior (e.g., wait time).
    #
    # collect_per_client_metrics: false

    ## @param collect_per_server_metrics - boolean - optional - default: false
    ## Whether to collect detailed per-server metrics.
    ##
    ## This is useful for detailed analysis of server behavior (e.g., last request time).
    #
    # collect_per_server_metrics: false

    ## @param tags - list of strings - optional
    ## A list of tags to attach to every metric and service check emitted by this instance.
    ##
    ## Learn more about tagging at https://docs.datadoghq.com/tagging
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>

    ## @param service - string - optional
    ## Attach the tag `service:<SERVICE>` to every metric, event, and service check emitted by this integration.
    ##
    ## Overrides any `service` defined in the `init_config` section.
    #
    # service: <SERVICE>

    ## @param min_collection_interval - number - optional - default: 15
    ## This changes the collection interval of the check. For more information, see:
    ## https://docs.datadoghq.com/developers/write_agent_check/#collection-interval
    #
    # min_collection_interval: 15

    ## @param empty_default_hostname - boolean - optional - default: false
    ## This forces the check to send metrics with no hostname.
    ##
    ## This is useful for cluster-level checks.
    #
    # empty_default_hostname: false

    ## @param metric_patterns - mapping - optional
    ## A mapping of metrics to include or exclude, with each entry being a regular expression.
    ##
    ## Metrics defined in `exclude` will take precedence in case of overlap.
    #
    # metric_patterns:
    #   include:
    #   - <INCLUDE_REGEX>
    #   exclude:
    #   - <EXCLUDE_REGEX>

## Log Section
##
## type - required - Type of log input source (tcp / udp / file / windows_event).
## port / path / channel_path - required - Set port if type is tcp or udp.
##                                         Set path if type is file.
##                                         Set channel_path if type is windows_event.
## source  - required - Attribute that defines which integration sent the logs.
## encoding - optional - For file specifies the file encoding. Default is utf-8. Other
##                       possible values are utf-16-le and utf-16-be.
## service - optional - The name of the service that generates the log.
##                      Overrides any `service` defined in the `init_config` section.
## tags - optional - Add tags to the collected logs.
##
## Discover Datadog log collection: https://docs.datadoghq.com/logs/log_collection/
#
# logs:
#   - type: file
#     path: /var/log/postgresql/pgbouncer.log
#     source: pgbouncer
