[build-system]
requires = [
    "hatchling>=0.11.2",
    "setuptools>=66; python_version > '3.0'",
]
build-backend = "hatchling.build"

[project]
name = "datadog-mysql"
description = "The MySQL check"
readme = "README.md"
keywords = [
    "datadog",
    "datadog agent",
    "datadog check",
    "mysql",
]
authors = [
    { name = "Datadog", email = "packages@datadoghq.com" },
]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Intended Audience :: System Administrators",
    "License :: OSI Approved :: BSD License",
    "Programming Language :: Python :: 3.11",
    "Topic :: System :: Monitoring",
    "Private :: Do Not Upload",
]
dependencies = [
    "datadog-checks-base>=36.5.0",
]
dynamic = [
    "version",
]
license = "BSD-3-Clause"

[project.optional-dependencies]
deps = [
    "cachetools==3.1.1; python_version < '3.0'",
    "cachetools==5.3.3; python_version > '3.0'",
    "cryptography==3.3.2; python_version < '3.0'",
    "cryptography==42.0.5; python_version > '3.0'",
    "pymysql==0.10.1; python_version < '3.0'",
    "pymysql==1.1.0; python_version > '3.0'",
]

[project.urls]
Source = "https://github.com/DataDog/integrations-core"

[tool.hatch.version]
path = "datadog_checks/mysql/__about__.py"

[tool.hatch.build.targets.sdist]
include = [
    "/datadog_checks",
    "/tests",
    "/manifest.json",
]

[tool.hatch.build.targets.wheel]
include = [
    "/datadog_checks/mysql",
]
dev-mode-dirs = [
    ".",
]
