init_config:

instances:
  # Configuration options:
  # keyspaces: a list of keyspaces to monitor
  # host: host that nodetool will connect to.
  #   Default to localhost.
  # port: the port JMX is listening for connections.
  #   Default to 7199
  # username/password: a set of credentials to connect to the host. These are the credentials for the JMX server.
  #   For the check to work, this user must have a read/write access so that nodetool can execute the `status` command
  # tags: optional, a list of additionnal tags to be sent with the metrics

  - keyspaces: ["foo"]
