instances:

    ## @param host - string - required
    ## Presto host to connect to.
    #
  - host: localhost

    ## @param port - integer - required
    ## Presto port to connect to.
    #
    port: 9999

    ## @param tags  - list of key:value elements - optional
    ## List of tags to attach to every metric, event, and service check emitted by this Integration.
    ##
    ## Learn more about tagging: https://docs.datadoghq.com/tagging/
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>

    ## @param user - string - optional
    ## Username to use when connecting to presto.
    #
    # user: <USERNAME>

    ## @param password - string - optional
    ## Password to use when connecting to presto.
    #
    # password: <PASSWORD>

    ## @param process_name_regex - string - optional
    ## Instead of specifying a host, and port. The agent can connect using the attach api.
    ## This requires the JDK to be installed and the path to tools.jar to be set below.
    ## Note: It needs to be set when process_name_regex parameter is set
    ##
    #
    # process_name_regex: .*process_name.*

    ## @param tools_jar_path - string - optional
    ## Path to the tool.jar file to use with `process_name_regex` parameter.
    #
    # tools_jar_path: /usr/lib/jvm/java-7-openjdk-amd64/lib/tools.jar

    ## @param name - string - optional
    ## Set your instance name.
    #
    # name: hiveserver_instance

    ## @param java_bin_path - string - optional
    ## java_bin_path should be set if the agent cannot find your java executable
    #
    # java_bin_path: <JAVA_PATH>

    ## @param java_options - string - optional
    ## List of Java JVM options.
    #
    # java_options: "-Xmx200m -Xms50m"

    ## @param trust_store_path - string - optional
    ## trust_store_path should be set if ssl is enabled.
    ## path to your trusted store
    #
    # trust_store_path: <TRUSTSTORE.JKS_PATH>

    ## @param trust_store_password - string - optional
    ## trust_store_password should be set if ssl is enabled
    ## password for your TrustStore.jks file
    #
    # trust_store_password: password

    ## @param key_store_path - string - optional
    ## key_store_path should be set if client authentication is enabled on the target JVM.
    ## path to your key store
    #
    # key_store_path: <KEYSTORE.JKS_PATH>

    ## @param key_store_password - string - optional
    ## key_store_password should be set if client authentication is enabled on the target JVM.
    ## password for your KeyStore.jks file
    #
    # key_store_password: <PASSWORD>

    ## @param rmi_registry_ssl - boolean - optional - default: false
    ## Whether or not the agent should connect to the rmi registry using ssl.
    #
    # rmi_registry_ssl: false

init_config:

  ## @param is_jmx - boolean - required - default: true
  ## Whether or not this file is a configuration for a JMX integration
  #
  is_jmx: true

  ## @param collect_default_metrics - boolean - required - default: true
  ## Whether or not the check should collect all default metrics for this integration.
  #
  collect_default_metrics: true

  ## List of metrics to be collected by the integration
  ## Read http://docs.datadoghq.com/integrations/java/ to learn how to customize it
  ## Agent 5: Customize all your metrics below
  ## Agent 6: The default metrics to be collected are kept in metrics.yaml, but you can still add your own metrics here

  conf:
    # Metrics Hive Metastore related
    - include:
        bean: metrics:name=create_total_count_dbs
        attribute:
          Count:
            alias: hive.metastore.db.created
            metric_type: monotonic_count

    - include:
        bean: metrics:name=delete_total_count_dbs
        attribute:
          Count:
            alias: hive.metastore.db.deleted
            metric_type: monotonic_count
      
    - include:
        bean: metrics:name=total_count_dbs
        attribute:
          Count:
            alias: hive.metastore.db
            metric_type: gauge

    - include:
        bean: metrics:name=create_total_count_tables
        attribute:
          Count:
            alias: hive.metastore.table.created
            metric_type: monotonic_count

    - include:
        bean: metrics:name=delete_total_count_tables
        attribute:
          Count:
            alias: hive.metastore.table.deleted
            metric_type: monotonic_count
    
    - include:
        bean: metrics:name=total_count_tables
        attribute:
          Count:
            alias: hive.metastore.table
            metric_type: gauge

    - include:
        bean: metrics:name=create_total_count_partitions
        attribute:
          Count:
            alias: hive.metastore.partition.created
            metric_type: monotonic_count

    - include:
        bean: metrics:name=delete_total_count_partitions
        attribute:
          Count:
            alias: hive.metastore.partition.deleted
            metric_type: monotonic_count
    
    - include:
        bean: metrics:name=total_count_partitions
        attribute:
          Count:
            alias: hive.metastore.partition
            metric_type: gauge

    - include:
        bean: directsql_errors
        attribute:
          Count:
            alias: hive.metastore.directsql_errors
            metric_type: gauge

    - include:
        bean: metrics:name=open_connections
        attribute:
          Count:
            alias: hive.metastore.open_connections
            metric_type: gauge

    - include:
        bean: metrics:name=open_operations
        attribute:
          Count:
            alias: hive.metastore.open_operations
            metric_type: gauge

    # Metrics HiveServer2 related
    # Session
    - include:
        bean: metrics:name=hs2_active_sessions
        attribute:
          Value:
            alias: hive.server.session.active
            metric_type: gauge

    - include:
        bean: metrics:name=hs2_avg_active_session_time
        attribute:
          Value:
            alias: hive.server.session.active.time_mean
            metric_type: gauge

    - include:
        bean: metrics:name=hs2_open_sessions
        attribute:
          Value:
            alias: hive.server.session.open
            metric_type: gauge
    
    - include:
        bean: metrics:name=hs2_avg_open_session_time
        attribute:
          Value:
            alias: hive.server.session.open.time_mean
            metric_type: gauge

    # Queries
    ## TODO: type
    - include:
        bean: metrics:name=active_calls_hs2_submitted_queries
        attribute:
          Count:
            alias: hive.server.queries.submitted.active_call
            metric_type: gauge

    - include:
        bean: metrics:name=hs2_submitted_queries
        attribute:
          Max:
            alias: hive.server.queries.submitted.max
            metric_type: gauge
          Mean:
            alias: hive.server.queries.submitted.mean
            metric_type: gauge
          Min:
            alias: hive.server.queries.submitted.min
            metric_type: gauge
          75thPercentile:
            alias: hive.server.queries.submitted.75percentile
            metric_type: gauge
          95thPercentile:
            alias: hive.server.queries.submitted.95percentile
            metric_type: gauge
          Count:
            alias: hive.server.queries.submitted.count
            metric_type: gauge
          MeanRate:
            alias: hive.server.queries.submitted.meanrate
            metric_type: rate

    - include:
        bean: metrics:name=active_calls_hs2_compiling_queries
        attribute:
          Count:
            alias: hive.server.queries.compiling.active_call
            metric_type: gauge

    - include:
        bean: metrics:name=hs2_compiling_queries
        attribute:
          Max:
            alias: hive.server.queries.compiling.max
            metric_type: gauge
          Mean:
            alias: hive.server.queries.compiling.mean
            metric_type: gauge
          Min:
            alias: hive.server.queries.compiling.min
            metric_type: gauge
          75thPercentile:
            alias: hive.server.queries.compiling.75percentile
            metric_type: gauge
          95thPercentile:
            alias: hive.server.queries.compiling.95percentile
            metric_type: gauge
          Count:
            alias: hive.server.queries.compiling.count
            metric_type: gauge
          MeanRate:
            alias: hive.server.queries.compiling.meanrate
            metric_type: rate

    - include:
        bean: metrics:name=active_calls_hs2_executing_queries
        attribute:
          Count:
            alias: hive.server.api.queries.executing.active_call
            metric_type: gauge
    
    - include:
        bean: metrics:name=hs2_executing_queries
        attribute:
          Max:
            alias: hive.server.queries.executing.max
            metric_type: gauge
          Mean:
            alias: hive.server.queries.executing.mean
            metric_type: gauge
          Min:
            alias: hive.server.queries.executing.min
            metric_type: gauge
          75thPercentile:
            alias: hive.server.queries.executing.75percentile
            metric_type: gauge
          95thPercentile:
            alias: hive.server.queries.executing.95percentile
            metric_type: gauge
          Count:
            alias: hive.server.queries.executing.count
            metric_type: gauge
          MeanRate:
            alias: hive.server.queries.executing.meanrate
            metric_type: rate

    - include:
        bean: metrics:name=hs2_succeeded_queries
        attribute:
          Count:
            alias: hive.server.queries.succeeded
            type: gauge
          MeanRate:
            alias: hive.server.queries.meanrate
            type: rate

    # SQL operation
    # Pending
    - include:
        bean: metrics:name=active_calls_api_hs2_sql_operation_PENDING
        attribute:
          Count:
            alias: hive.server.api.sql_operation.pending.active_call
            metric_type: gauge

    - include:
        bean: metrics:name=api_hs2_sql_operation_PENDING
        attribute:
          Max:
            alias: hive.server.api.sql_operation.pending.max
            metric_type: gauge
          Mean:
            alias: hive.server.api.sql_operation.pending.mean
            metric_type: gauge
          Min:
            alias: hive.server.api.sql_operation.pending.min
            metric_type: gauge
          75thPercentile:
            alias: hive.server.api.sql_operation.pending.75percentile
            metric_type: gauge
          95thPercentile:
            alias: hive.server.api.sql_operation.pending.95percentile
            metric_type: gauge
          Count:
            alias: hive.server.api.sql_operation.pending.count
            metric_type: gauge
          MeanRate:
            alias: hive.server.api.sql_operation.pending.meanrate
            metric_type: rate

    - include:
        bean: metrics:name=active_calls_api_hs2_sql_operation_PENDING
        attribute:
          Count:
            alias: hive.server.api.sql_operation.pending.active_call
            metric_type: gauge

    - include:
        bean: metrics:name=api_hs2_sql_operation_PENDING
        attribute:
          Max:
            alias: hive.server.api.sql_operation.pending.max
            metric_type: gauge
          Mean:
            alias: hive.server.api.sql_operation.pending.mean
            metric_type: gauge
          Min:
            alias: hive.server.api.sql_operation.pending.min
            metric_type: gauge
          75thPercentile:
            alias: hive.server.api.sql_operation.pending.75percentile
            metric_type: gauge
          95thPercentile:
            alias: hive.server.api.sql_operation.pending.95percentile
            metric_type: gauge
          Count:
            alias: hive.server.api.sql_operation.pending.count
            metric_type: gauge
          MeanRate:
            alias: hive.server.api.sql_operation.pending.meanrate
            metric_type: rate

    # Running
    - include:
        bean: metrics:name=active_calls_api_hs2_sql_operation_RUNNING
        attribute:
          Count:
            alias: hive.server.api.sql_operation.running.active_call
            metric_type: gauge

    - include:
        bean: metrics:name=api_hs2_sql_operation_RUNNING
        attribute:
          Max:
            alias: hive.server.api.sql_operation.running.max
            metric_type: gauge
          Mean:
            alias: hive.server.api.sql_operation.running.mean
            metric_type: gauge
          Min:
            alias: hive.server.api.sql_operation.running.min
            metric_type: gauge
          75thPercentile:
            alias: hive.server.api.sql_operation.running.75percentile
            metric_type: gauge
          95thPercentile:
            alias: hive.server.api.sql_operation.running.95percentile
            metric_type: gauge
          Count:
            alias: hive.server.api.sql_operation.running.count
            metric_type: gauge
          MeanRate:
            alias: hive.server.api.sql_operation.running.meanrate
            metric_type: rate
    
    - include:
        bean: metrics:name=active_calls_api_hs2_sql_operation_RUNNING
        attribute:
          Count:
            alias: hive.server.api.sql_operation.running.active_call
            metric_type: gauge

    - include:
        bean: metrics:name=api_hs2_sql_operation_RUNNING
        attribute:
          Max:
            alias: hive.server.api.sql_operation.running.max
            metric_type: gauge
          Mean:
            alias: hive.server.api.sql_operation.running.mean
            metric_type: gauge
          Min:
            alias: hive.server.api.sql_operation.running.min
            metric_type: gauge
          75thPercentile:
            alias: hive.server.api.sql_operation.running.75percentile
            metric_type: gauge
          95thPercentile:
            alias: hive.server.api.sql_operation.running.95percentile
            metric_type: gauge
          Count:
            alias: hive.server.api.sql_operation.running.count
            metric_type: gauge
          MeanRate:
            alias: hive.server.api.sql_operation.running.meanrate
            metric_type: rate
    
    # Completed
    - include:
        bean: metrics:name=hs2_completed_sql_operation_CLOSED
        attribute:
          Count:
            alias: hive.server.sql_operation.completed.closed
            metric_type: gauge

    - include:
        bean: metrics:name=hs2_completed_sql_operation_FINISHED
        attribute:
          Count:
            alias: hive.server.sql_operation.completed.finished
            metric_type: gauge

    # User
    - include:
        bean: metrics:name=hs2_sql_operation_active_user
        attribute:
          Count:
            alias: hive.server.sql_operation.user.active
            metric_type: gauge

    # Operation
    # Initialized
    - include:
        bean: metrics:name=active_calls_api_hs2_operation_INITIALIZED
        attribute:
          Count:
            alias: hive.server.api.operation.initialized.active_call
            metric_type: gauge

    - include:
        bean: metrics:name=api_hs2_operation_INITIALIZED
        attribute:
          Max:
            alias: hive.server.api.operation.initialized.max
            metric_type: gauge
          Mean:
            alias: hive.server.api.operation.initialized.mean
            metric_type: gauge
          Min:
            alias: hive.server.api.operation.initialized.min
            metric_type: gauge
          75thPercentile:
            alias: hive.server.api.operation.initialized.75percentile
            metric_type: gauge
          95thPercentile:
            alias: hive.server.api.operation.initialized.95percentile
            metric_type: gauge
          Count:
            alias: hive.server.api.operation.initialized.count
            metric_type: gauge
          MeanRate:
            alias: hive.server.api.operation.initialized.meanrate
            metric_type: rate

    # Pending
    - include:
        bean: metrics:name=active_calls_api_hs2_operation_PENDING
        attribute:
          Count:
            alias: hive.server.api.operation.pending.active_call
            metric_type: gauge

    - include:
        bean: metrics:name=api_hs2_operation_PENDING
        attribute:
          Max:
            alias: hive.server.api.operation.pending.max
            metric_type: gauge
          Mean:
            alias: hive.server.api.operation.pending.mean
            metric_type: gauge
          Min:
            alias: hive.server.api.operation.pending.min
            metric_type: gauge
          75thPercentile:
            alias: hive.server.api.operation.pending.75percentile
            metric_type: gauge
          95thPercentile:
            alias: hive.server.api.operation.pending.95percentile
            metric_type: gauge
          Count:
            alias: hive.server.api.operation.pending.count
            metric_type: gauge
          MeanRate:
            alias: hive.server.api.operation.pending.meanrate
            metric_type: rate

    # Running
    - include:
        bean: metrics:name=active_calls_api_hs2_operation_RUNNING
        attribute:
          Count:
            alias: hive.server.api.operation.running.active_call
            metric_type: gauge

    - include:
        bean: metrics:name=api_hs2_operation_RUNNING
        attribute:
          Max:
            alias: hive.server.api.operation.running.max
            metric_type: gauge
          Mean:
            alias: hive.server.api.operation.running.mean
            metric_type: gauge
          Min:
            alias: hive.server.api.operation.running.min
            metric_type: gauge
          75thPercentile:
            alias: hive.server.api.operation.running.75percentile
            metric_type: gauge
          95thPercentile:
            alias: hive.server.api.operation.running.95percentile
            metric_type: gauge
          Count:
            alias: hive.server.api.operation.running.count
            metric_type: gauge
          MeanRate:
            alias: hive.server.api.operation.running.meanrate
            metric_type: rate

    # Completed
    - include:
        bean: metrics:name=hs2_completed_operation_FINISHED
        attribute:
          Count:
            alias: hive.server.operation.completed.finished
            metric_type: gauge

    - include:
        bean: metrics:name=hs2_completed_operation_CLOSED
        attribute:
          Count:
            alias: hive.server.operation.completed.closed.count
            metric_type: gauge