adodbapi==2.6.0.7; sys_platform == 'win32'
pyro4==4.36; sys_platform == 'win32'
testfixtures==4.14.3; sys_platform == 'win32'
serpent==1.23; sys_platform == 'win32'
pyodbc==4.0.13; sys_platform == 'win32'
