# Ignore everything
*/*
*.*

# But not these files
!.gitignore
!docker-compose.yml
!common/
!common/config/
!common/config/adminserver/env
!common/config/chartserver/env
!common/config/core/app.conf
!common/config/core/env
!common/config/core/private_key.pem
!common/config/db/env
!common/config/jobservice/config.yml
!common/config/jobservice/env
!common/config/nginx/nginx.conf
!common/config/registry/config.yml
!common/config/registry/root.crt
!common/config/registryctl/config.yml
!common/config/registryctl/env

!data/
!data/secretkey

