init_config:

instances:
    ## @param hostname - string - required
    ## The MapR host to monitor.
    #
  - mapr_host: <MAPR_HOST>

    ## @param topic_path - string - required
    ## The MapR topic path.
    #
    topic_path: /var/mapr/mapr.monitoring/metricstreams

    ## @param whitelist - list - required
    ## List regexes of metrics to collect. They will be prefixed with `mapr.`
    #
    whitelist:
    - fs.*

    ## @param mapr_ticketfile_location - string - optional
    ## The path to the MapR user ticket, if included it overrides the MAPR_TICKETFILE_LOCATION environment variable.
    ## Either the environment variable or this config option needs to be set if security is enabled on the cluster.
    #
    # mapr_ticketfile_location: <MAPR_TICKETFILE_LOCATION>

    ## @param tags  - list of key:value elements - optional
    ## A list of tags to attach to every metric, event, and service check emitted by this integration.
    ##
    ## Learn more about tagging: https://docs.datadoghq.com/tagging/
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>
