.md-typeset .tabbed-set {
  border: 1px solid #eee;
}
.md-typeset .tabbed-content {
  padding: 0.5em 1em;
}

div.doc-contents:not(.first) {
  padding-left: 25px;
  border-left: 4px solid rgba(230, 230, 230);
  margin-bottom: 80px;
}

.md-typeset h5 {
  color: var(--md-default-fg-color);
  text-transform: none;
}
