interactions:
- request:
    body: ''
    headers:
      x-github-api-version:
      - '2022-11-28'
    method: GET
    uri: https://api.github.com/search/issues?q=sha%3Acfd8020b628cc24eebadae2ab79a3a1be285885c%20repo%3ADataDog/integrations-core
  response:
    content: '{"total_count":1,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/DataDog/integrations-core/issues/15459","repository_url":"https://api.github.com/repos/DataDog/integrations-core","labels_url":"https://api.github.com/repos/DataDog/integrations-core/issues/15459/labels{/name}","comments_url":"https://api.github.com/repos/DataDog/integrations-core/issues/15459/comments","events_url":"https://api.github.com/repos/DataDog/integrations-core/issues/15459/events","html_url":"https://github.com/DataDog/integrations-core/pull/15459","id":1833090960,"node_id":"PR_kwDOAtBC5c5XAVK1","number":15459,"title":"Add
      changelog enforcement","user":{"login":"ofek","id":9677399,"node_id":"MDQ6VXNlcjk2NzczOTk=","avatar_url":"https://avatars.githubusercontent.com/u/9677399?v=4","gravatar_id":"","url":"https://api.github.com/users/ofek","html_url":"https://github.com/ofek","followers_url":"https://api.github.com/users/ofek/followers","following_url":"https://api.github.com/users/ofek/following{/other_user}","gists_url":"https://api.github.com/users/ofek/gists{/gist_id}","starred_url":"https://api.github.com/users/ofek/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ofek/subscriptions","organizations_url":"https://api.github.com/users/ofek/orgs","repos_url":"https://api.github.com/users/ofek/repos","events_url":"https://api.github.com/users/ofek/events{/privacy}","received_events_url":"https://api.github.com/users/ofek/received_events","type":"User","site_admin":false},"labels":[{"id":581315931,"node_id":"MDU6TGFiZWw1ODEzMTU5MzE=","url":"https://api.github.com/repos/DataDog/integrations-core/labels/documentation","name":"documentation","color":"7e1df4","default":true,"description":""},{"id":936341014,"node_id":"MDU6TGFiZWw5MzYzNDEwMTQ=","url":"https://api.github.com/repos/DataDog/integrations-core/labels/dev/testing","name":"dev/testing","color":"6ad86c","default":false,"description":""},{"id":936375010,"node_id":"MDU6TGFiZWw5MzYzNzUwMTA=","url":"https://api.github.com/repos/DataDog/integrations-core/labels/dev/tooling","name":"dev/tooling","color":"6ad86c","default":false,"description":""},{"id":4541502693,"node_id":"LA_kwDOAtBC5c8AAAABDrHU5Q","url":"https://api.github.com/repos/DataDog/integrations-core/labels/ddev","name":"ddev","color":"ededed","default":false,"description":null}],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":1,"created_at":"2023-08-02T12:28:48Z","updated_at":"2023-08-03T07:34:19Z","closed_at":null,"author_association":"MEMBER","active_lock_reason":null,"draft":false,"pull_request":{"url":"https://api.github.com/repos/DataDog/integrations-core/pulls/15459","html_url":"https://github.com/DataDog/integrations-core/pull/15459","diff_url":"https://github.com/DataDog/integrations-core/pull/15459.diff","patch_url":"https://github.com/DataDog/integrations-core/pull/15459.patch","merged_at":null},"body":"###
      Motivation\r\n\r\nThis will become our new process\r\n\r\n### Annotations\r\n\r\n![Screenshot
      2023-08-02 084034](https://github.com/DataDog/integrations-core/assets/9677399/49bae755-682f-4d04-a9ad-c47391dd26a7)\r\n\r\n![Screenshot
      2023-08-02 085702](https://github.com/DataDog/integrations-core/assets/9677399/f6f26e12-a71f-4dfd-99ed-6245ac253f45)","reactions":{"url":"https://api.github.com/repos/DataDog/integrations-core/issues/15459/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/DataDog/integrations-core/issues/15459/timeline","performed_via_github_app":null,"state_reason":null,"score":1.0}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - read:org, repo, workflow
      X-RateLimit-Limit:
      - '30'
      X-RateLimit-Remaining:
      - '29'
      X-RateLimit-Reset:
      - '1691100575'
      X-RateLimit-Resource:
      - search
      X-RateLimit-Used:
      - '1'
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 200
- request:
    body: ''
    headers:
      x-github-api-version:
      - '2022-11-28'
    method: GET
    uri: https://github.com/DataDog/integrations-core/pull/15459.diff
  response:
    content: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://patch-diff.githubusercontent.com/raw/DataDog/integrations-core/pull/15459.diff
    status_code: 302
- request:
    body: ''
    headers:
      x-github-api-version:
      - '2022-11-28'
    method: GET
    uri: https://patch-diff.githubusercontent.com/raw/DataDog/integrations-core/pull/15459.diff
  response:
    content: "diff --git a/.github/workflows/pr-check.yml b/.github/workflows/pr-check.yml\nnew
      file mode 100644\nindex 000000000000..82fea5a1b61e\n--- /dev/null\n+++ b/.github/workflows/pr-check.yml\n@@
      -0,0 +1,14 @@\n+name: Check PR\n+\n+on: pull_request\n+\n+concurrency:\n+ [...]
