## All options defined here are available to all instances.
#
init_config:

    ## @param default_timeout - integer - optional - default: 5
    ## Timeout to use as a default for all your instances.
    #
    # default_timeout: 5

    ## @param service - string - optional
    ## Attach the tag `service:<SERVICE>` to every metric, event, and service check emitted by this integration.
    ##
    ## Additionally, this sets the default `service` for every log source.
    #
    # service: <SERVICE>

## Every instance is scheduled independently of the others.
#
instances:

  -
    ## @param name - string - optional
    ## Name of your DNS check instance.
    ## To create multiple DNS checks, create multiple instances with unique names.
    #
    # name: <INSTANCE_NAME>

    ## @param hostname - string - required
    ## Hostname to resolve.
    #
    hostname: <HOSTNAME>

    ## @param nameserver - string - optional
    ## IP address of the name server to query.
    #
    # nameserver: <NAMESERVER>

    ## @param nameserver_port - integer - optional - default: 53
    ## Port for the name server.
    #
    # nameserver_port: 53

    ## @param resolves_as - string - optional
    ## A comma separated list of IP addresses that the hostname is expected to resolve as.
    ## Useful to ensure that the name hasn't been hijacked and points to the expected servers.
    #
    # resolves_as: <IP_ADDRESSES>

    ## @param timeout - integer - optional - default: 5
    ## Timeout to honor for this instance of the check.
    #
    # timeout: 5

    ## @param record_type - string - optional - default: A
    ## The record type to be queried to the name server.
    ##
    ## If you use NXDOMAIN as the `record_type`, an NXDOMAIN result is expected from the query,
    ## and the check instance reports response time data.
    ##
    ## In many DNS systems, NXDOMAIN results are uncached. Further a query for a unqualified domain
    ## name that one expects to return an NXDOMAIN result can result in many dns queries, depending
    ## on the resolver's configured search domain.
    ##
    ## For these reasons, these queries are good candidates to monitor the worst-case performance of a DNS lookup.
    #
    # record_type: A

    ## @param tags - list of strings - optional
    ## A list of tags to attach to every metric and service check emitted by this instance.
    ##
    ## Learn more about tagging at https://docs.datadoghq.com/tagging
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>

    ## @param service - string - optional
    ## Attach the tag `service:<SERVICE>` to every metric, event, and service check emitted by this integration.
    ##
    ## Overrides any `service` defined in the `init_config` section.
    #
    # service: <SERVICE>

    ## @param min_collection_interval - number - optional - default: 15
    ## This changes the collection interval of the check. For more information, see:
    ## https://docs.datadoghq.com/developers/write_agent_check/#collection-interval
    #
    # min_collection_interval: 15

    ## @param empty_default_hostname - boolean - optional - default: false
    ## This forces the check to send metrics with no hostname.
    ##
    ## This is useful for cluster-level checks.
    #
    # empty_default_hostname: false

    ## @param metric_patterns - mapping - optional
    ## A mapping of metrics to include or exclude, with each entry being a regular expression.
    ##
    ## Metrics defined in `exclude` will take precedence in case of overlap.
    #
    # metric_patterns:
    #   include:
    #   - <INCLUDE_REGEX>
    #   exclude:
    #   - <EXCLUDE_REGEX>
