init_config:
  # Any global configurable parameters should be added here

instances:
  #   A typical instance configuration might include a hostname and
  #   a set of customizable tags and other parameters we might need to
  #   configure the behavior of our check.
  #
  # - host: localhost
  #   tags: ['custom:tag']
