init_config:
  # Any global configurable parameters should be added here

instances:
  #   A typical instance configuration might include a hostname and
  #   a set of customizable tags and other parameters we might need to
  #   configure the behavior of our check.
  #
  # "." means the current host, any other value will have the Agent attempt to connect to a remote host.
  # Note: Remote access requires additional permissions - https://support.microsoft.com/en-us/help/922775/how-to-troubleshoot-monitoring-and-logging-issues-for-performance-coun
  # - host: .
  #   tags: ['custom:tag']
