init_config:
  ## @param skip_proxy - boolean - optional - default: false
  ## Set `skip_proxy` parameter to `true` bypass any proxy settings
  ## settings enabled.
  #
  #  skip_proxy: false

  ## @param proxy - list of string - optional
  ## Set HTTP or HTTPS proxy for all instances.
  ## Use the no_proxy list to specify hosts that must bypass proxy
  #  
  # proxy:
  #    https: https://<SSL_PROXY_SERVER_FOR_HTTPS>:<PORT>
  #    http: https://<SSL_PROXY_SERVER_FOR_HTTP>:<PORT>
  #    no_proxy:
  #      - <HOSTNAME_1>
  #      - <HOSTNAME_2>

instances:

    ## @param url - string - required
    ## Where your Consul HTTP Server Lives
    ## Point the URL at the leader to get metrics about your Consul Cluster.
    ## Remind to use https instead of http if your Consul setup is configured to do so.
    #
  - url: http://localhost:8500

    ## @param catalog_checks - boolean - optional - default: false
    ## Set to true to perform checks against the Consul service Catalog.
    #
    # catalog_checks: false

    ## @param network_latency_checks - boolean - optional - default: false
    ## Whether to enable network latency metrics collection. When enabled
    ## consul network coordinates is retrieved and latency calculated for
    ## each node and between data centers.
    ## See https://www.consul.io/docs/internals/coordinates.html
    #
    # network_latency_checks: false

    ## @param self_leader_check - boolean - optional - default: false
    ## Whether to enable self leader checks. Each instance with this enabled
    ## watches for itself to become the leader and emits an event when that
    ## happens. It is safe/expected to enable this on all nodes in a consul
    ## cluster since only the new leader emits the (single) event. This
    ## flag takes precedence over new_leader_checks.
    #
    # self_leader_check: false

    ## @param client_cert_file - string - optional
    ## Specify a local cert to use as client side certificate. If your certificate is composed of two separate files
    ## (for certificate and key) enter here the certificate file path.
    #
    # client_cert_file: '<CERTIFICATE_FILE_PATH>'

    ## @param private_key_file - string - optional
    ## If your certificate is composed of two separate files (for certificate and key):
    ## Enter here the key file path.
    #
    # private_key_file: '<KEY_FILE_PATH>'

    ## @param ca_bundle_file - string - optional - default: true
    ## Whether to verifiy SSL certificates for HTTPS requests.
    ## Possible values: `true`, `false` or '<TRUSTED_CA_BUNDLE_FILE_PATH>'
    #
    # ca_bundle_file: true

    ## @param acl_token - string - optional
    ## ACL token to use for authentication.
    #
    # acl_token: '<TOKEN>'

    ## @param single_node_install - boolean - optional - default: false
    ## Whether or not to perform the full check even when not the leader. Useful
    ## if you don't want to install the Agent on every node in a data center.
    #
    # single_node_install: false

    ## @param new_leader_checks - boolean - optional - default: false
    ## Whether to enable new leader checks from this instance
    ## Note: if this is set on multiple instances/agents in the same cluster
    ## you will receive one event per leader change per instance. See
    ## self_leader_check for a more robust option.
    #
    # new_leader_checks: false

    ## @param service_whitelist - list of strings - optional
    ## Services to restrict catalog querying to
    ## The default settings query up to 50 services. So if you have more than
    ## this many in your Consul service catalog, fill this whitelist.
    #
    # service_whitelist:
    #   - <SERVICE_1>
    #   - <SERVICE_2>

    ## @param max_services - integer - optional - default: 50
    ## Increase the maximum number of queried services.
    #
    # max_services: 50

    ## @param tags - list of key:value element - optional
    ## List of tags to attach to every metric, event, and service check emitted by this integration.
    ##
    ## Learn more about tagging at https://docs.datadoghq.com/tagging
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>

    ## @param skip_proxy - boolean - optional - default: false
    ## Set `skip_proxy` parameter to `true` bypass any proxy settings
    ## settings enabled.
    #
    #  skip_proxy: false

    ## @param proxy - list of string - optional
    ## Set HTTP or HTTPS proxy for all instances.
    ## Use the no_proxy list to specify hosts that must bypass proxy
    #  
    # proxy:
    #    https: https://<SSL_PROXY_SERVER_FOR_HTTPS>:<PORT>
    #    http: https://<SSL_PROXY_SERVER_FOR_HTTP>:<PORT>
    #    no_proxy:
    #      - <HOSTNAME_1>
    #      - <HOSTNAME_2>

## Log Section (Available for Agent >=6.0)
##
## type - mandatory - Type of log input source (tcp / udp / file / windows_event)
## port / path / channel_path - mandatory - Set port if type is tcp or udp. Set path if type is file. Set channel_path if type is windows_event
## service - mandatory - Name of the service that generated the log
## source  - mandatory - Attribute that defines which Integration sent the logs
## sourcecategory - optional - Multiple value attribute. Used to refine the source attribute
## tags: - optional - Add tags to the collected logs
##
## Discover Datadog log collection: https://docs.datadoghq.com/logs/log_collection/
#
# logs:
#   - type: file
#     path: /var/log/consul_server.log
#     source: consul
#     service: <SERVICE_NAME>
