## All options defined here are available to all instances.
#
init_config:

    ## @param gstatus_path - string - optional - default: <datadog-agent>/embedded/sbin/gstatus
    ## Deprecated and ignored. The glusterfs check now calls the `gluster` CLI
    ## directly and no longer ships or uses the `gstatus` binary. This option
    ## is retained only so a warning can be logged if it is still set.
    #
    # gstatus_path: <datadog-agent>/embedded/sbin/gstatus

    ## @param service - string - optional
    ## Attach the tag `service:<SERVICE>` to every metric, event, and service check emitted by this integration.
    ##
    ## Additionally, this sets the default `service` for every log source.
    #
    # service: <SERVICE>

## Every instance is scheduled independently of the others.
#
instances:

  -
    ## @param gluster_command - list of strings - optional
    ## Command used to invoke the `gluster` CLI, as a list of arguments. The
    ## default `["gluster"]` assumes `gluster` is on PATH. To run `gluster`
    ## inside a container, in a non-default location, or through a wrapper
    ## script, set this to the full command prefix, e.g.
    ## `["docker", "exec", "<container>", "gluster"]`.
    ##
    ## The `gluster` CLI is provided by the `glusterfs-server` package, which
    ## must be installed on the GlusterFS server node running this check.
    #
    # gluster_command:
    #   - gluster

    ## @param use_sudo - boolean - optional - default: true
    ## The `gluster` CLI requires root for status collection. Enable this
    ## option to run `gluster` with `sudo`. If enabled, add a line like the
    ## following to your sudoers file, adjusted to match `gluster_command`:
    ##
    ## dd-agent ALL=(ALL) NOPASSWD:/usr/sbin/gluster
    #
    # use_sudo: true

    ## @param tags - list of strings - optional
    ## A list of tags to attach to every metric and service check emitted by this instance.
    ##
    ## Learn more about tagging at https://docs.datadoghq.com/tagging
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>

    ## @param service - string - optional
    ## Attach the tag `service:<SERVICE>` to every metric, event, and service check emitted by this integration.
    ##
    ## Overrides any `service` defined in the `init_config` section.
    #
    # service: <SERVICE>

    ## @param min_collection_interval - number - optional - default: 60
    ## The GlusterFS integration collects cluster-wide metrics which can put additional workload on the server.
    ## Increase the collection interval to reduce the frequency.
    ##
    ## This changes the collection interval of the check. For more information, see:
    ## https://docs.datadoghq.com/developers/write_agent_check/#collection-interval
    #
    min_collection_interval: 60

    ## @param empty_default_hostname - boolean - optional - default: false
    ## This forces the check to send metrics with no hostname.
    ##
    ## This is useful for cluster-level checks.
    #
    # empty_default_hostname: false

    ## @param metric_patterns - mapping - optional
    ## A mapping of metrics to include or exclude, with each entry being a regular expression.
    ##
    ## Metrics defined in `exclude` will take precedence in case of overlap.
    #
    # metric_patterns:
    #   include:
    #   - <INCLUDE_REGEX>
    #   exclude:
    #   - <EXCLUDE_REGEX>

## Log Section
##
## type - required - Type of log input source (tcp / udp / file / windows_event).
## port / path / channel_path - required - Set port if type is tcp or udp.
##                                         Set path if type is file.
##                                         Set channel_path if type is windows_event.
## source  - required - Attribute that defines which integration sent the logs.
## encoding - optional - For file specifies the file encoding. Default is utf-8. Other
##                       possible values are utf-16-le and utf-16-be.
## service - optional - The name of the service that generates the log.
##                      Overrides any `service` defined in the `init_config` section.
## tags - optional - Add tags to the collected logs.
##
## Discover Datadog log collection: https://docs.datadoghq.com/logs/log_collection/
#
# logs:
#   - type: file
#     path: /var/log/glusterfs/glusterd.log
#     source: glusterfs
#   - type: file
#     path: /var/log/glusterfs/cli.log
#     source: glusterfs
