[env.collectors.datadog-checks]
base-package-features = ["deps", "db", "json"]

check-types = false

mypy-deps = [
  "types-mock==0.1.5",
  "types-cachetools==0.1.10",
  "types-enum34==1.1.1",
  "types-futures==3.3.1",
]

[[envs.default.matrix]]
python = ["3.13"]
version = ["9.6", "10.0", "11.0", "12.17", "13.0", "14.0", "15.0", "16.0", "17.0", "18.0"]
locale = ["UTF8"]


# We only support SQLASCII encoding in 10+
[[envs.default.matrix]]
python = ["3.13"]
version = ["10.0", "11.0", "12.17", "13.0", "14.0", "15.0", "16.0", "17.0", "18.0"]
locale = ["C"]

[envs.default.overrides]
matrix.version.env-vars = [
  { key = "POSTGRES_VERSION", if = ["9.6", "12.17"] },
  { key = "POSTGRES_VERSION", value = "10", if = ["10.0"] },
  { key = "POSTGRES_VERSION", value = "11", if = ["11.0"] },
  { key = "POSTGRES_VERSION", value = "13", if = ["13.0"] },
  { key = "POSTGRES_VERSION", value = "14", if = ["14.0"] },
  { key = "POSTGRES_VERSION", value = "15", if = ["15.0"] },
  { key = "POSTGRES_VERSION", value = "16", if = ["16.0"] },
  { key = "POSTGRES_VERSION", value = "17", if = ["17.0"] },
  { key = "POSTGRES_VERSION", value = "18", if = ["18.0"] },
]
matrix.locale.env-vars = [
  { key = "POSTGRES_LOCALE", value = "C", if = ["C"] },
  { key = "POSTGRES_LOCALE", value = "UTF8", if = ["UTF8"] },
]

[envs.latest.env-vars]
POSTGRES_VERSION = "latest"
