[build-system]
requires = [
    "hatchling>=0.11.2",
    "setuptools<61",
]
build-backend = "hatchling.build"

[project]
name = "datadog-checks-base"
description = "The Datadog Check Toolkit"
readme = "README.md"
keywords = [
    "datadog",
    "agent",
    "checks",
]
authors = [
    { name = "Datadog", email = "packages@datadoghq.com" },
]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Intended Audience :: System Administrators",
    "License :: OSI Approved :: BSD License",
    "Programming Language :: Python :: 2.7",
    "Programming Language :: Python :: 3.8",
    "Topic :: System :: Monitoring",
]
dynamic = [
    "version",
]

[project.license]
text = "BSD-3-Clause"

[project.optional-dependencies]
db = [
    "mmh3==2.5.1; python_version < '3.0'",
    "mmh3==3.0.0; python_version > '3.0'",
]
deps = [
    "binary==1.0.0",
    "cachetools==3.1.1; python_version < '3.0'",
    "cachetools==5.2.1; python_version > '3.0'",
    "contextlib2==0.6.0.post1; python_version < '3.0'",
    "cryptography==3.3.2; python_version < '3.0'",
    "cryptography==39.0.1; python_version > '3.0'",
    "ddtrace==0.32.2; sys_platform == 'win32' and python_version < '3.0'",
    "ddtrace==0.53.2; sys_platform != 'win32' or python_version > '3.0'",
    "enum34==1.1.10; python_version < '3.0'",
    "immutables==0.19; python_version > '3.0'",
    "importlib-metadata==2.1.3; python_version < '3.8'",
    "ipaddress==1.0.23; python_version < '3.0'",
    "jellyfish==0.9.0; python_version > '3.0'",
    "prometheus-client==0.12.0; python_version < '3.0'",
    "prometheus-client==0.15.0; python_version > '3.0'",
    "protobuf==3.17.3; python_version < '3.0'",
    "protobuf==3.20.2; python_version > '3.0'",
    "pydantic==1.10.4; python_version > '3.0'",
    "python-dateutil==2.8.2",
    "pywin32==228; sys_platform == 'win32' and python_version < '3.0'",
    "pywin32==304; sys_platform == 'win32' and python_version > '3.0'",
    "pyyaml==5.4.1; python_version < '3.0'",
    "pyyaml==6.0; python_version > '3.0'",
    "requests-toolbelt==0.10.1",
    "requests-unixsocket==0.3.0",
    "requests==2.27.1; python_version < '3.0'",
    "requests==2.28.1; python_version > '3.0'",
    "simplejson==3.17.6",
    "six==1.16.0",
    "typing==3.10.0.0; python_version < '3.0'",
    "uptime==3.0.1",
    "wrapt==1.14.1",
]
http = [
    "aws-requests-auth==0.4.3",
    "botocore==1.20.112; python_version < '3.0'",
    "botocore==1.29.51; python_version > '3.0'",
    "oauthlib==3.1.0; python_version < '3.0'",
    "oauthlib==3.2.2; python_version > '3.0'",
    "pyjwt==1.7.1; python_version < '3.0'",
    "pyjwt==2.6.0; python_version > '3.0'",
    "pysocks==1.7.1",
    "requests-kerberos==0.12.0; python_version < '3.0'",
    "requests-kerberos==0.14.0; python_version > '3.0'",
    "requests-ntlm==1.1.0",
    "requests-oauthlib==1.3.1",
    "win-inet-pton==1.1.0; sys_platform == 'win32' and python_version < '3.0'",
]
json = [
    "orjson==3.8.5; python_version > '3.0'",
]
kube = [
    "kubernetes==18.20.0; python_version < '3.0'",
    "kubernetes==25.3.0; python_version > '3.0'",
]

[project.urls]
Source = "https://github.com/DataDog/integrations-core"

[tool.hatch.version]
path = "datadog_checks/base/__about__.py"

[tool.hatch.build.targets.sdist]
include = [
    "/datadog_checks",
    "/tests",
]

[tool.hatch.build.targets.wheel]
include = [
    "/datadog_checks",
]
dev-mode-dirs = [
    ".",
]
