[build-system]
requires = [
    "hatchling>=0.11.2",
    "setuptools; python_version < '3.0'",
]
build-backend = "hatchling.build"

[project]
name = "datadog-checks-base"
description = "The Datadog Check Toolkit"
readme = "README.md"
license = "BSD-3-Clause"
keywords = [
    "datadog",
    "agent",
    "checks",
]
authors = [
    { name = "Datadog", email = "packages@datadoghq.com" },
]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Intended Audience :: System Administrators",
    "License :: OSI Approved :: BSD License",
    "Programming Language :: Python :: 2.7",
    "Programming Language :: Python :: 3.8",
    "Topic :: System :: Monitoring",
]
dynamic = [
    "version",
]

[project.optional-dependencies]
db = [
    "mmh3==2.5.1; python_version < '3.0'",
    "mmh3==3.0.0; python_version > '3.0'",
]
deps = [
    "binary==1.0.0",
    "cachetools==5.0.0; python_version > '3.0'",
    "cachetools==5.0.0; python_version > '3.0'",
    "contextlib2==0.6.0; python_version < '3.0'",
    "cryptography==3.3.2; python_version < '3.0'",
    "cryptography==3.4.8; python_version > '3.0'",
    "ddtrace==0.32.2; sys_platform == 'win32' and python_version < '3.0'",
    "ddtrace==0.53.2; sys_platform != 'win32' or python_version > '3.0'",
    "enum34==1.1.10; python_version < '3.0'",
    "immutables==0.16; python_version > '3.0'",
    "ipaddress==1.0.23; python_version < '3.0'",
    "jellyfish==0.9.0; python_version > '3.0'",
    "prometheus-client==0.13.1",
    "protobuf==3.19.4",
    "pydantic==1.9.0; python_version > '3.0'",
    "python-dateutil==2.8.2",
    "pywin32==303; sys_platform == 'win32' and python_version > '3.0'",
    "pywin32==303; sys_platform == 'win32' and python_version > '3.0'",
    "pyyaml==6.0",
    "requests-toolbelt==0.9.1",
    "requests-unixsocket==0.2.0",
    "requests==2.25.0",
    "simplejson==3.6.5",
    "six==1.16.0",
    "typing==3.7.4.1; python_version < '3.0'",
    "uptime==3.0.1",
    "wrapt==1.12.1",
]
http = [
    "aws-requests-auth==0.4.3",
    "botocore==1.23.54; python_version > '3.0'",
    "botocore==1.23.54; python_version > '3.0'",
    "pyjwt==2.3.0; python_version > '3.0'",
    "pyjwt==2.3.0; python_version > '3.0'",
    "pysocks==1.7.1",
    "requests-kerberos==0.12.0",
    "requests_ntlm==1.1.0",
    "win-inet-pton==1.1.0; sys_platform == 'win32' and python_version < '3.0'",
]
json = [
    "orjson==3.6.7; python_version > '3.0'",
]
kube = [
    "kubernetes==21.7.0",
]

[project.urls]
Source = "https://github.com/DataDog/integrations-core"

[tool.hatch.version]
path = "datadog_checks/base/__about__.py"

[tool.hatch.build.targets.sdist]
include = [
    "/datadog_checks",
    "/tests",
    "/requirements-dev.txt",
    "/tox.ini",
]

[tool.hatch.build.targets.wheel]
include = [
    "/datadog_checks",
]
dev-mode-dirs = [
    ".",
]
