{
    debug
    admin :2019
}
:80 {
    root * /usr/share/caddy/
    @get_identity {
        method GET
        path /identity
    }
    route @get_identity {
        rewrite /identity /identity/get.json
        file_server
    }
    @get_identity_v3 {
        method GET
        path /identity/v3
    }
    route @get_identity_v3 {
        rewrite /identity/v3 /identity/v3/get.json
        file_server
    }
    @post_identity_v3_auth_tokens_unscoped {
        method POST
        header "X-Auth-Type" "unscoped"
        path /identity/v3/auth/tokens
    }
    route @post_identity_v3_auth_tokens_unscoped {
        rewrite /identity/v3/auth/tokens /identity/v3/auth/tokens/unscoped.json
        header /identity/v3/auth/tokens/unscoped.json X-Subject-Token "demo_test"
        file_server
    }
    @post_identity_v3_auth_tokens_1e6e233e637d4d55a50a62b63398ad15 {
        method POST
        header "X-Auth-Type" "1e6e233e637d4d55a50a62b63398ad15"
        path /identity/v3/auth/tokens
    }
    route @post_identity_v3_auth_tokens_1e6e233e637d4d55a50a62b63398ad15 {
        rewrite /identity/v3/auth/tokens /identity/v3/auth/tokens/1e6e233e637d4d55a50a62b63398ad15.json
        header /identity/v3/auth/tokens/1e6e233e637d4d55a50a62b63398ad15.json X-Subject-Token "demo_test"
        file_server
    }
    @post_identity_v3_auth_tokens_6e39099cccde4f809b003d9e0dd09304 {
        method POST
        header "X-Auth-Type" "6e39099cccde4f809b003d9e0dd09304"
        path /identity/v3/auth/tokens
    }
    route @post_identity_v3_auth_tokens_6e39099cccde4f809b003d9e0dd09304 {
        rewrite /identity/v3/auth/tokens /identity/v3/auth/tokens/6e39099cccde4f809b003d9e0dd09304.json
        header /identity/v3/auth/tokens/6e39099cccde4f809b003d9e0dd09304.json X-Subject-Token "demo_test"
        file_server
    }
    @get_identity_v3_auth_projects {
        method GET
        header "X-Auth-Token" "demo_test"
        path /identity/v3/auth/projects
    }
    route @get_identity_v3_auth_projects {
        rewrite /identity/v3/auth/projects /identity/v3/auth/projects/get.json
        file_server
    }
    @get_identity_v3_domains {
        method GET
        header "X-Auth-Token" "demo_test"
        path /identity/v3/domains
    }
    route @get_identity_v3_domains {
        rewrite /identity/v3/domains /identity/v3/domains/get.json
        file_server
    }
    @get_identity_v3_projects {
        method GET
        header "X-Auth-Token" "demo_test"
        path /identity/v3/projects
    }
    route @get_identity_v3_projects {
        rewrite /identity/v3/projects /identity/v3/projects/get.json
        file_server
    }
    @get_identity_v3_groups {
        method GET
        header "X-Auth-Token" "demo_test"
        path /identity/v3/groups
    }
    route @get_identity_v3_groups {
        rewrite /identity/v3/groups /identity/v3/groups/get.json
        file_server
    }
    @get_identity_v3_users {
        method GET
        header "X-Auth-Token" "demo_test"
        path /identity/v3/users
    }
    route @get_identity_v3_users {
        rewrite /identity/v3/users /identity/v3/users/get.json
        file_server
    }
    @get_identity_v3_groups_9acda6caf16e4828935f4f681ee8b3e5_users {
        method GET
        header "X-Auth-Token" "demo_test"
        path /identity/v3/groups/9acda6caf16e4828935f4f681ee8b3e5/users
    }
    route @get_identity_v3_groups_9acda6caf16e4828935f4f681ee8b3e5_users {
        rewrite /identity/v3/groups/9acda6caf16e4828935f4f681ee8b3e5/users /identity/v3/groups/9acda6caf16e4828935f4f681ee8b3e5/users/get.json
        file_server
    }
    @get_identity_v3_groups_89b36a4c32c44b0ea8856b6357f101ea_users {
        method GET
        header "X-Auth-Token" "demo_test"
        path /identity/v3/groups/89b36a4c32c44b0ea8856b6357f101ea/users
    }
    route @get_identity_v3_groups_89b36a4c32c44b0ea8856b6357f101ea_users {
        rewrite /identity/v3/groups/89b36a4c32c44b0ea8856b6357f101ea/users /identity/v3/groups/89b36a4c32c44b0ea8856b6357f101ea/users/get.json
        file_server
    }
    @get_identity_v3_services {
        method GET
        header "X-Auth-Token" "demo_test"
        path /identity/v3/services
    }
    route @get_identity_v3_services {
        rewrite /identity/v3/services /identity/v3/services/get.json
        file_server
    }
    @get_identity_v3_registered_limits {
        method GET
        header "X-Auth-Token" "demo_test"
        path /identity/v3/registered_limits
    }
    route @get_identity_v3_registered_limits {
        rewrite /identity/v3/registered_limits /identity/v3/registered_limits/get.json
        file_server
    }
    @get_identity_v3_limits {
        method GET
        header "X-Auth-Token" "demo_test"
        path /identity/v3/limits
    }
    route @get_identity_v3_limits {
        rewrite /identity/v3/limits /identity/v3/limits/get.json
        file_server
    }
    file_server browse
}
