[env.collectors.datadog-checks]
base-package-features = ["deps", "db", "json"]

[envs.default]
dependencies = [
  "datadog_checks_tests_helper @ {root:uri}/../datadog_checks_tests_helper",
]

[[envs.default.matrix]]
python = ["3.13"]
version = ["4.4", "5.0", "6.0", "7.0", "8.0"]
flavor = ["standalone", "shard", "auth", "tls"]

# test the compatibility of mongo running on non-utc timezone
[[envs.default.matrix]]
python = ["3.13"]
version = ["8.0"]
flavor = ["standalone"]
tz = ["newyork"]

[envs.default.overrides]
matrix.version.env-vars = "MONGO_VERSION"
matrix.tz.env-vars = [
  { key = "TZ", value = "America/New_York", if = ["newyork"] },
]

[envs.default.env-vars]
COMPOSE_FILE = "mongo-{matrix:flavor}.yaml"
DDEV_SKIP_GENERIC_TAGS_CHECK = "true"
TZ="UTC"
