init_config:

instances:

    ## @param access_id - string - required
    ## Enter you RiakCS access key.
    #
  - access_id: <ACCESS_KEY>

    ## @param access_secret - string - required
    ## Enter the corresponding RiakCS access secret.
    #
    access_secret: <ACCESS_SECRET>

    ## @param is_secure - boolean - optional - default: true
    ## Uncomment and change to false if you are not using ssl.
    #
    # is_secure: true

    ## @param host - string - optional
    ## Hostname/IP of your RiakCS node.
    #
    # host: localhost

    ## @param port - integer - optional - default: 8080
    ## Port used by your RiakCS node.
    #
    # port: 8080

    ## @param s3_root - string - optional - default: s3.amazonaws.com
    ## The S3 hostname.
    #
    # s3_root: s3.amazonaws.com

    ## @param metrics - list of strings - optional
    ## For RiackCS v2.1+, the default metrics collected by this integrations includes most S3 API metrics as
    ## well as memory stats.
    ## Some have been excluded though:
    ##
    ##   * bucket_acl_(get|put)
    ##   * object_acl_(get|put)
    ##   * bucket_policy_(get|put|delete)
    ##   * _in_(one|total)
    ##   * _time_error_*
    ##   * _time_100
    ##
    ## Include them in the following list if you would like to collect them for your Datadog account.
    ## See the complete list of metrics available: https://github.com/basho/riak_cs/wiki/Riak-cs-and-stanchion-metrics
    #
    # metrics:
    #   - <METRIC_NAME>

    ## @param tags - list of strings following the pattern: "key:value" - optional
    ## List of tags to attach to every metric, event, and service check emitted by this Integration.
    ##
    ## Learn more about tagging: https://docs.datadoghq.com/tagging/
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>
