## All options defined here are available to all instances.
#
init_config:

    ## @param service - string - optional
    ## Attach the tag `service:<SERVICE>` to every metric, event, and service check emitted by this integration.
    ##
    ## Additionally, this sets the default `service` for every log source.
    #
    # service: <SERVICE>

## Every instance is scheduled independently of the others.
#
instances:

  -
    ## @param access_id - string - optional
    ## The RiakCS access key.
    #
    # access_id: <ACCESS_ID>

    ## @param access_secret - string - optional
    ## The corresponding RiakCS access secret.
    #
    # access_secret: <ACCESS_SECRET>

    ## @param is_secure - boolean - optional - default: true
    ## Use ssl to connect to instance. Disable option if not using ssl.
    #
    # is_secure: true

    ## @param host - string - optional - default: localhost
    ## Hostname or IP address of your RiakCS node.
    #
    # host: <HOST>

    ## @param port - integer - optional - default: 8080
    ## Port used by your RiakCS node.
    #
    # port: <PORT>

    ## @param s3_root - string - optional - default: s3.amazonaws.com
    ## The S3 hostname.
    #
    # s3_root: <S3_ROOT>

    ## @param metrics - list of strings - optional
    ## For RiackCS v2.1+, the default metrics collected by this integration includes S3 API metrics and memory stats,
    ## except for the following:
    ##
    ##   * bucket_acl_get
    ##   * bucket_acl_put
    ##   * object_acl_get
    ##   * object_acl_put
    ##   * bucket_policy_get
    ##   * bucket_policy_put
    ##   * bucket_policy_delete
    ##   * _in_one
    ##   * _in_total
    ##   * _time_error_*
    ##   * _time_100
    ##
    ## Include these metrics in the following list if you would like to collect them for your Datadog account.
    ## See the complete list of metrics available: https://github.com/basho/riak_cs/wiki/Riak-cs-and-stanchion-metrics
    #
    # metrics:
    #   - <METRIC_NAME>

    ## @param tags - list of strings - optional
    ## A list of tags to attach to every metric and service check emitted by this instance.
    ##
    ## Learn more about tagging at https://docs.datadoghq.com/tagging
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>

    ## @param service - string - optional
    ## Attach the tag `service:<SERVICE>` to every metric, event, and service check emitted by this integration.
    ##
    ## Overrides any `service` defined in the `init_config` section.
    #
    # service: <SERVICE>

    ## @param min_collection_interval - number - optional - default: 15
    ## This changes the collection interval of the check. For more information, see:
    ## https://docs.datadoghq.com/developers/write_agent_check/#collection-interval
    #
    # min_collection_interval: 15

    ## @param empty_default_hostname - boolean - optional - default: false
    ## This forces the check to send metrics with no hostname.
    ##
    ## This is useful for cluster-level checks.
    #
    # empty_default_hostname: false

    ## @param metric_patterns - mapping - optional
    ## A mapping of metrics to include or exclude, with each entry being a regular expression.
    ##
    ## Metrics defined in `exclude` will take precedence in case of overlap.
    #
    # metric_patterns:
    #   include:
    #   - <INCLUDE_REGEX>
    #   exclude:
    #   - <EXCLUDE_REGEX>
