trigger:
  branches:
    include:
    - master

pr:
  branches:
    include:
    - master
  paths:
    include:
    - datadog_checks_base/datadog_checks/*

variables:
  DDEV_COLOR: 1

jobs:
- template: './templates/test-all.yml'
