init_config:

  ## @param tag_event_id - boolean - optional - default: false
  ## The `tag_event_id` setting adds an event id tag to each
  ## event sent from this check.
  #
  # tag_event_id: false

  ## @param default_event_priority - string - optional - default: normal
  ## Set priority level in event stream for all events created by integration
  ## Options available are 'low' or 'normal'.
  #
  # default_event_priority: normal

instances:

  -

    ## @param host - string - optional - default: localhost
    ## By default, the local machine's event logs are captured. To capture a remote
    ## machine's event logs, specify the machine name (DCOM has to be enabled on
    ## the remote machine).
    #
    # host: <REMOTE_HOSNAME>

    ## @param username - string - optional
    ## If authentication is needed, specify a `username` here.
    #
    # username: <USERNAME>

    ## @param password - string - optional
    ## If authentication is needed, specify a `password` here.
    #
    # password: <PASSWORD>

    ## @param event_priority - string - optional - default: normal
    ## Override default event priority by setting it per instance
    ## Available values are: `normal` and `low`
    #
    # event_priority: normal

    ## FILTERS
    ## At least one filter is required:
    ## `log_file`, `source_name`, `type`, `event_id`, `message_filters`

    ## @param log_file - list of strings - optional
    ## The `log_file` filter instructs the check to only capture events
    ## that belong to one of the specified LogFiles (Application, System, Setup, Security,
    ## or application-specific LogFile).
    #
    # log_file:
    #   - <LOG_FILE>

    ## @param source_name - list of strings - optional
    ## The `source_name` filter instructs the check to only capture events
    ## that come from one of the specified SourceNames.
    #
    # source_name:
    #   - <SOURCE_NAME>

    ## @param type - list of strings - optional - default: information
    ## The `type` filter instructs the check to only capture events
    ## that have one of the specified Types.
    ## Standard values are: Critical, Error, Warning, Information, Audit Success, Audit Failure.
    #
    # type:
    #   - information

    ## @param event_id - list of strings - optional
    ## The `event_id` filter instructs the check to only capture events
    ## that have one of the specified EventCodes.
    ## The event ID can be found through http://www.eventid.net/ and viewed in the
    ## Windows Event Viewer.
    #
    # event_id:
    #   - <EVENT_ID>

    ## @param message_filters - list of strings - optional
    ## The `message_filters` filter instructs the check to only capture
    ## events which Message field matches all of the specified filters.
    ## Use % as a wildcard. See http://msdn.microsoft.com/en-us/library/aa392263(v=vs.85).aspx
    ## for more on the format for LIKE queries.
    ##
    ## NOTE: Any filter that starts with "-" is NOT a query, e.g.: '-%success%'
    ## searches for events without 'success' in the message.
    #
    # message_filters:
    #   - <MESSAGE_FILTER>

    ## @param event_format - list of strings - optional - default: Message
    ## The `event_format` parameter instructs the check to generate
    ## Datadog's event bodies with the specified list of event properties.
    ## If unspecified, the EventLog's `Message` or `InsertionStrings` are used by default.
    ## Available values are: Logfile, SourceName, EventCode, Message, InsertionStrings, TimeGenerated, Type
    #
    # event_format:
    #   - Message

    ## @param tags - list of key:value elements - optional
    ## List of tags to attach to every metric, event, and service check emitted by this Integration.
    ##
    ## Learn more about tagging: https://docs.datadoghq.com/tagging/
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>

## Log Section (Available for Agent >=6.0)
##
## type - mandatory - Type of log input source (tcp / udp / file / windows_event)
## port / path / channel_path - mandatory - Set port if type is tcp or udp. Set path if type is file and channel_path if windows_event
## service - mandatory - Name of the service owning the log
## source  - mandatory - Attribute that defines which integration is sending the logs
## tags: - optional - Add tags to each logs collected
##
## Discover Datadog log collection: https://docs.datadoghq.com/logs/log_collection/
#
# logs:
#   - type: windows_event
#     channel_path: <CHANNEL_1>
#     source: <CHANNEL_1>
#     service: <SERVICE_NAME>
#
#   - type: windows_event
#     channel_path: <CHANNEL_2>
#     source: <CHANNEL_2>
#     service: <SERVICE_NAME>
