## All options defined here are available to all instances.
#
init_config:

    ## @param tag_event_id - boolean - optional - default: false
    ## This instructs the check to add an `event_id` tag to events.
    #
    # tag_event_id: false

    ## @param tag_sid - boolean - optional - default: false
    ## This instructs the check to add an `sid` tag to events in the form
    ## `<DOMAIN>\<USER>`, such as `NT AUTHORITY\SYSTEM`.
    #
    # tag_sid: false

    ## @param event_priority - string - optional - default: normal
    ## Set priority level in event stream for all events created by the check.
    ## Options available are `low` or `normal`.
    #
    # event_priority: normal

    ## @param interpret_messages - boolean - optional - default: true
    ## Whether or not to interpret event messages for unknown sources or sources that have not been registered
    ## properly. This fallback mechanism is a best-effort approach and may not yield the exact message.
    ##
    ## For more information about registering sources, see:
    ## https://docs.microsoft.com/en-us/windows/win32/eventlog/event-sources
    #
    # interpret_messages: true

    ## @param default_event_priority - string - optional - default: normal
    ## Set priority level in event stream for all events created by the check.
    ## Options available are `low` or `normal`.
    ##
    ## This has no effect if `legacy_mode` is set to `false`. Use `event_priority` instead.
    #
    # default_event_priority: normal

    ## @param legacy_mode - boolean - optional - default: true
    ## Whether or not to use a mode of operation that is now unmaintained and will be removed in a future version.
    ##
    ## When set to `true`, WMI is used to collect events.
    ##   /\ WARNING /\
    ##   This mode, by nature of the underlying technology, is significantly more resource intensive.
    ##
    ## Setting this option to `false` is only supported on Agent versions 7 and above.
    #
    legacy_mode: false

    ## @param legacy_mode_v2 - boolean - optional - default: false
    ## Whether or not to use a mode of operation that is now unmaintained and will be removed in a future version.
    ##
    ## When set to `true`, the Python Event Log API is used to collect events.
    #
    # legacy_mode_v2: false

    ## @param service - string - optional
    ## Attach the tag `service:<SERVICE>` to every metric, event, and service check emitted by this integration.
    ##
    ## Additionally, this sets the default `service` for every log source.
    #
    # service: <SERVICE>

## Every instance is scheduled independent of the others.
## Everything under this section is sent as events.
#
instances:

  -
    ## @param path - string - optional
    ## The check will subscribe to the path for events. It must be the name of an Admin or Operational
    ## channel (you cannot subscribe to Analytic or Debug channels).
    ##
    ## The path is required if `legacy_mode` is set to `false`.
    #
    # path: <PATH>

    ## @param start - string - optional - default: now
    ## The point at which to start the event subscription.
    ##
    ## There are two choices:
    ##
    ##   - now: Subscribe to only future events that match the query criteria.
    ##   - oldest: Subscribe to all existing and future events that match the query criteria.
    ##
    ## A bookmark will be periodically updated on the filesystem to resume the subscription
    ## upon Agent restarts. The frequency with which the bookmark is updated can be controlled
    ## with the `bookmark_frequency` option.
    #
    # start: now

    ## @param query - string - optional
    ## A raw XPath or structured XML query used to filter events.
    ##
    ##   /\ WARNING /\
    ##   Queries translate to XML and therefore are case-sensitive.
    ##
    ## For detailed documentation, see the following resources:
    ##
    ##   - Examples > https://docs.microsoft.com/en-us/windows/win32/wes/consuming-events
    ##   - Event Schema > https://docs.microsoft.com/en-us/windows/win32/wes/eventschema-schema
    ##   - Query Schema > https://docs.microsoft.com/en-us/windows/win32/wes/queryschema-schema
    ##    - System > https://docs.microsoft.com/en-us/windows/win32/wes/eventschema-systempropertiestype-complextype
    ##
    ## This overrides any selected `filters`.
    #
    # query: <QUERY>

    ## @param filters - mapping - optional
    ## A mapping of properties to allowed values. Every filter (equivalent to the `and` operator)
    ## must match any value (equivalent to the `or` operator). This option is a convenience for
    ## a `query` that is relatively basic.
    ##
    ## The following properties are supported:
    ##
    ##   - source > a.k.a. provider name https://docs.microsoft.com/en-us/windows/win32/eventlog/event-sources
    ##   - type > https://docs.microsoft.com/en-us/windows/win32/eventlog/event-types
    ##   - id > https://docs.microsoft.com/en-us/windows/win32/eventlog/event-identifiers
    ##
    ##   /\ WARNING /\
    ##   Due to a limitation in the Windows events API, the maximum filtering on event IDs is 20 IDs per instance.
    ##   Because of this, you may need to split the ID filtering into multiple instances.
    ##
    ## For advanced and more granular filtering, define a `query`.
    ##
    ## If `filters` nor `query` is specified, then all events from the subscribed `path` will be collected.
    #
    # filters:
    #   source:
    #   - Microsoft-Windows-Ntfs
    #   - Service Control Manager
    #   type:
    #   - Error
    #   - Warning
    #   - Information
    #   - Success Audit
    #   - Failure Audit
    #   id:
    #   - 9000

    ## @param included_messages - list of strings - optional
    ## This instructs the check to only capture events with messages that match at least one of the
    ## provided patterns. Every pattern is considered a regular expression.
    #
    # included_messages: []

    ## @param excluded_messages - list of strings - optional
    ## This instructs the check to ignore events with messages that match at least one of the
    ## provided patterns. Every pattern is considered a regular expression.
    ##
    ## This takes precedence over `included_messages`.
    #
    # excluded_messages: []

    ## @param interpret_messages - boolean - optional - default: true
    ## Whether or not to interpret event messages for unknown sources or sources
    ## that have not been registered properly. This fallback mechanism is a
    ## best-effort approach and may not yield the exact message.
    ##
    ## For more information about registering sources, see:
    ## https://docs.microsoft.com/en-us/windows/win32/eventlog/event-sources
    ##
    ## This overrides `interpret_messages` in `init_config`.
    #
    # interpret_messages: true

    ## @param tag_event_id - boolean - optional - default: false
    ## This instructs the check to add an `event_id` tag to events.
    ##
    ## This overrides `tag_event_id` in `init_config`.
    #
    # tag_event_id: false

    ## @param tag_sid - boolean - optional - default: false
    ## This instructs the check to add an `sid` tag to events in the form
    ## `<DOMAIN>\<USER>`, such as `NT AUTHORITY\SYSTEM`.
    #
    # tag_sid: false

    ## @param event_priority - string - optional - default: normal
    ## Set priority level in event stream for all events created by the instance.
    ## Options available are `low` or `normal`.
    ##
    ## This overrides `event_priority` in `init_config`.
    #
    # event_priority: normal

    ## @param auth_type - string - optional - default: default
    ## The type of authentication to use. The available types are:
    ##
    ##   - default
    ##   - negotiate
    ##   - kerberos
    ##   - ntlm
    ##
    ## For more information, see:
    ## https://docs.microsoft.com/en-us/windows/win32/api/winevt/ne-winevt-evt_rpc_login_flags
    #
    # auth_type: default

    ## @param server - string - optional - default: localhost
    ## The name of the remote computer to connect to.
    ##
    ## If this is not selected or set to `localhost`, a connection to the
    ## local machine will be established instead.
    #
    # server: localhost

    ## @param user - string - optional
    ## The user name to use to connect to the remote computer.
    ##
    ## If this, `password`, and `domain` are all unselected, then the credentials
    ## of the current user will be used.
    #
    # user: <USER>

    ## @param password - string - optional
    ## The password for the user account.
    ##
    ## If this, `user`, and `domain` are all unselected, then the credentials
    ## of the current user will be used.
    #
    # password: <PASSWORD>

    ## @param domain - string - optional
    ## The domain to which the user account belongs.
    ##
    ## If this, `user`, and `password` are all unselected, then the credentials
    ## of the current user will be used.
    #
    # domain: <DOMAIN>

    ## @param payload_size - integer - optional - default: 10
    ## The number of events to request at a time.
    ##
    ## This is useful when connecting to remote machines with the `server` option.
    #
    # payload_size: 10

    ## @param bookmark_frequency - integer - optional
    ## How often to save the last seen event as a factor of the number of seen events.
    ## By default, the value of `payload_size` will be used.
    ##
    ## This is useful for preventing duplicate events being sent as a consequence of Agent restarts.
    #
    # bookmark_frequency: <BOOKMARK_FREQUENCY>

    ## @param legacy_mode_v2 - boolean - optional - default: false
    ## Whether or not to use a mode of operation that is now unmaintained and will be removed in a future version.
    ##
    ## When set to `true`, the Python Event Log API is used to collect events.
    #
    # legacy_mode_v2: false

    ## @param timeout - integer - optional - default: 5
    ## The number of seconds to wait for new event signals.
    ##
    ## Note: This is only used when `legacy_mode_v2` is set to `true`.
    ## Starting in Agent version 7.50.0 this option is no longer applicable and can be removed.
    #
    # timeout: 5

    ## @param legacy_mode - boolean - optional - default: true
    ## Whether or not to use a mode of operation that is now unmaintained and will be removed in a future version.
    ##
    ## When set to `true`, WMI is used to collect events.
    ##   /\ WARNING /\
    ##   This mode, by nature of the underlying technology, is significantly more resource intensive.
    ##
    ## Setting this option to `false` is only supported on Agent versions 7 and above.
    #
    # legacy_mode: true

    ## @param host - string - optional - default: localhost
    ## By default, the local machine's event logs are captured. To capture a remote
    ## machine's event logs, specify the machine name (DCOM has to be enabled on
    ## the remote machine).
    ##
    ## Note: This is only used when `legacy_mode` is set to `true`.
    #
    # host: <REMOTE_HOSTNAME>

    ## @param log_file - list of strings - optional
    ## The `log_file` filter instructs the check to only capture events
    ## that belong to one of the specified LogFiles (Application, System, Setup, Security,
    ## or application-specific LogFile).
    ##
    ## Note: This is only used when `legacy_mode` is set to `true`.
    #
    # log_file: []

    ## @param source_name - list of strings - optional
    ## The `source_name` filter instructs the check to only capture events
    ## that come from one of the specified SourceNames.
    ##
    ## Note: This is only used when `legacy_mode` is set to `true`.
    #
    # source_name: []

    ## @param type - list of strings - optional - default: ['information']
    ## The `type` filter instructs the check to only capture events
    ## that have one of the specified Types.
    ## Standard values are: Critical, Error, Warning, Information, Audit Success, Audit Failure.
    ##
    ## Note: This is only used when `legacy_mode` is set to `true`.
    #
    # type:
    #   - information

    ## @param event_id - list of strings - optional
    ## The `event_id` filter instructs the check to only capture events
    ## that have one of the specified EventCodes.
    ## The event ID can be found through http://www.eventid.net/ and viewed in the
    ## Windows Event Viewer.
    ##
    ## Note: This is only used when `legacy_mode` is set to `true`.
    #
    # event_id: []

    ## @param message_filters - list of strings - optional
    ## The `message_filters` filter instructs the check to only capture
    ## events which Message field matches all of the specified filters.
    ## Use % as a wildcard. See http://msdn.microsoft.com/en-us/library/aa392263(v=vs.85).aspx
    ## for more on the format for LIKE queries.
    ##
    ## NOTE: Any filter that starts with "-" is NOT a query, e.g.: '-%success%'
    ## searches for events without 'success' in the message.
    ##
    ##  Note: This is only used when `legacy_mode` is set to `true`.
    #
    # message_filters: []

    ## @param event_format - list of strings - optional - default: ['Message']
    ## The `event_format` parameter instructs the check to generate
    ## Datadog's event bodies with the specified list of event properties.
    ## If unspecified, the EventLog's `Message` or `InsertionStrings` are used by default.
    ## Available values are: Logfile, SourceName, EventCode, Message, InsertionStrings, TimeGenerated, Type
    ##
    ## Note: This is only used when `legacy_mode` is set to `true`.
    #
    # event_format:
    #   - Message

    ## @param tags - list of strings - optional
    ## A list of tags to attach to every metric and service check emitted by this instance.
    ##
    ## Learn more about tagging at https://docs.datadoghq.com/tagging
    #
    # tags:
    #   - <KEY_1>:<VALUE_1>
    #   - <KEY_2>:<VALUE_2>

    ## @param service - string - optional
    ## Attach the tag `service:<SERVICE>` to every metric, event, and service check emitted by this integration.
    ##
    ## Overrides any `service` defined in the `init_config` section.
    #
    # service: <SERVICE>

    ## @param min_collection_interval - number - optional - default: 15
    ## This changes the collection interval of the check. For more information, see:
    ## https://docs.datadoghq.com/developers/write_agent_check/#collection-interval
    #
    # min_collection_interval: 15

    ## @param empty_default_hostname - boolean - optional - default: false
    ## This forces the check to send metrics with no hostname.
    ##
    ## This is useful for cluster-level checks.
    #
    # empty_default_hostname: false

    ## @param metric_patterns - mapping - optional
    ## A mapping of metrics to include or exclude, with each entry being a regular expression.
    ##
    ## Metrics defined in `exclude` will take precedence in case of overlap.
    #
    # metric_patterns:
    #   include:
    #   - <INCLUDE_REGEX>
    #   exclude:
    #   - <EXCLUDE_REGEX>

## Log Section
##
## type - required - Type of log input source (tcp / udp / file / windows_event).
## port / path / channel_path - required - Set port if type is tcp or udp.
##                                         Set path if type is file.
##                                         Set channel_path if type is windows_event.
## source  - required - Attribute that defines which integration sent the logs.
## encoding - optional - For file specifies the file encoding. Default is utf-8. Other
##                       possible values are utf-16-le and utf-16-be.
## service - optional - The name of the service that generates the log.
##                      Overrides any `service` defined in the `init_config` section.
## tags - optional - Add tags to the collected logs.
##
## Discover Datadog log collection: https://docs.datadoghq.com/logs/log_collection/
#
# logs:
#   - type: windows_event
#     channel_path: <CHANNEL_1>
#     source: windows.events
#   - type: windows_event
#     channel_path: <CHANNEL_2>
#     source: windows.events
