interactions:
- request:
    body: '{"name": "my_custom_label", "color": "ff0000"}'
    headers:
      x-github-api-version:
      - '2022-11-28'
    method: POST
    uri: https://api.github.com/repos/DataDog/integrations-core/labels
  response:
    content: '{"id":6585381716,"node_id":"LA_kwDOAtBC5c8AAAABiITzVA","url":"https://api.github.com/repos/DataDog/integrations-core/labels/my_custom_label","name":"my_custom_label","color":"ff0000","default":false,"description":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"f825fed983d28311268f4cf5b8181abacec82549ae5edacafc3d067a50598f4e"'
      Location:
      - https://api.github.com/repos/DataDog/integrations-core/labels/my_custom_label
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - admin:org, admin:org_hook, admin:public_key, delete_repo, repo, user, workflow,
        write:packages
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4985'
      X-RateLimit-Reset:
      - '1708421577'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '15'
      github-authentication-token-expiration:
      - 2024-03-31 22:00:00 UTC
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 201
- request:
    body: ''
    headers:
      x-github-api-version:
      - '2022-11-28'
    method: GET
    uri: https://api.github.com/repos/DataDog/integrations-core/labels/my_custom_label
  response:
    content: '{"id":6585381716,"node_id":"LA_kwDOAtBC5c8AAAABiITzVA","url":"https://api.github.com/repos/DataDog/integrations-core/labels/my_custom_label","name":"my_custom_label","color":"ff0000","default":false,"description":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"f825fed983d28311268f4cf5b8181abacec82549ae5edacafc3d067a50598f4e"
      Last-Modified:
      - Tue, 20 Feb 2024 09:03:27 GMT
      X-Accepted-OAuth-Scopes:
      - repo
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - admin:org, admin:org_hook, admin:public_key, delete_repo, repo, user, workflow,
        write:packages
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4984'
      X-RateLimit-Reset:
      - '1708421577'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '16'
      github-authentication-token-expiration:
      - 2024-03-31 22:00:00 UTC
      x-github-api-version-selected:
      - '2022-11-28'
    status_code: 200
version: 1
