name: Compute matrix

on:
  workflow_call:
    inputs:
      repo:
        required: true
        type: string
    outputs:
      matrix:
        value: ${{ jobs.compute.outputs.data }}

defaults:
  run:
    shell: bash

env:
  PYTHON_VERSION: "3.13"
  MATRIX_SCRIPT: "ddev/src/ddev/utils/scripts/ci_matrix.py"

jobs:
  compute:
    name: Compute matrix
    runs-on: ubuntu-22.04
    outputs:
      data: "${{ steps.compute.outputs.data }}"

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        ref: "${{ github.event.pull_request.head.sha }}"

    - name: Set up Python ${{ env.PYTHON_VERSION }}
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      with:
        python-version: "${{ env.PYTHON_VERSION }}"

    - name: Fetch merge base
      env:
        GH_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      run: |-
        merge_base=$(gh api \
          repos/${{ github.repository }}/compare/${{ github.event.pull_request.base.sha }}...${{ github.event.pull_request.head.sha }} \
          --jq '.merge_base_commit.sha')
        echo "MERGE_BASE=$merge_base" >> "$GITHUB_ENV"
        git -c protocol.version=2 fetch --no-tags --no-recurse-submodules --filter=blob:none origin "$merge_base"

    - name: Fetch computation script
      if: inputs.repo != 'core'
      run: |-
        mkdir -p $(dirname ${{ env.MATRIX_SCRIPT }})
        curl -sLo ${{ env.MATRIX_SCRIPT }} https://raw.githubusercontent.com/DataDog/integrations-core/master/${{ env.MATRIX_SCRIPT }}

    - name: Compute
      id: compute
      run: |-
        python ${{ env.MATRIX_SCRIPT }} -v --ref "$MERGE_BASE" --exact >> /tmp/matrix.json
        echo "data=$(cat /tmp/matrix.json)" >> "$GITHUB_OUTPUT"

    - name: Show matrix
      run: |-
        import json
        from pathlib import Path
        from pprint import pprint

        pprint(json.loads(Path('/tmp/matrix.json').read_text(encoding='utf-8')))
      shell: python
