on: [push]

name: Datadog Static Analysis

jobs:
  static-analysis:
    # Dependabot PRs don't have access to the required secrets
    if: github.actor != 'dependabot[bot]'
    runs-on: ubuntu-latest
    name: Datadog Static Analyzer
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Check code meets quality and security standards
      id: datadog-static-analysis
      uses: DataDog/datadog-static-analyzer-github-action@447086f347f225f777e409c8f2dfbd0e3b1a452d # v3.0.0
      with:
        dd_api_key: ${{ secrets.DD_API_KEY }}
        dd_app_key: ${{ secrets.DD_STATIC_ANALYSIS_APP_KEY }}
        dd_service: integration-core
        dd_env: ci
        dd_site: datadoghq.com
        cpu_count: 2
