name: docs

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
    paths:
    - '.github/workflows/docs.yml'
    - 'docs/**'
    - 'ddev/**'
    - 'datadog_checks_dev/**'
    - 'mkdocs.yml'
    # We care about changes to base package dependencies because they get installed
    # in the docs virtualenv along with the dependencies of ddev. For example, this PR:
    # https://github.com/DataDog/integrations-core/pull/17319/files#diff-1b02d4258aa29155f48813d2eb55fc87f62abbded6d8a9fa9e3b8f08365d771aR64
    # broke the docs job (pydantic incompatible with ddev's version) but we didn't find out until later.
    - 'datadog_checks_base/pyproject.toml'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        # Fetch all history for applying timestamps to every page
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
      with:
        python-version: '3.13'
        cache: 'pip'

    - name: Upgrade Python packaging tools
      run: pip install --disable-pip-version-check --upgrade pip setuptools wheel

    - name: Install ddev
      run: |
        pip install -e ./datadog_checks_dev[cli]
        pip install -e ./ddev

    - name: Configure ddev
      run: |
        ddev config set upgrade_check false
        ddev config set repos.core .
        ddev config set repo core

    - name: Install additional dependencies for the base package
      run: |
        sudo apt-get update
        sudo apt-get install -y --no-install-recommends libkrb5-dev

    - name: Validate documentation
      run: ddev -v docs build --check

    - name: Build documentation
      run: ddev -v docs build

    - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: documentation
        path: site

  publish:
    runs-on: ubuntu-latest

    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    needs:
    - build

    permissions:
      contents: write
      
    steps:
    - uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
      with:
        name: documentation
        path: site

    - uses: peaceiris/actions-gh-pages@373f7f263a76c20808c831209c920827a82a2847 # v3.9.3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./site
        commit_message: ${{ github.event.head_commit.message }}
        # Write .nojekyll at the root, see:
        # https://help.github.com/en/github/working-with-github-pages/about-github-pages#static-site-generators
        enable_jekyll: false
        # Only deploy if there were changes
        allow_empty_commit: false
