# https://github.com/actions/labeler

name: PR Labels
on:
- pull_request

jobs:
  labeler:
    if: ${{ github.event.pull_request.head.repo.full_name == github.repository }} # only PRs from this repo
    uses: ./.github/workflows/labeler-reusable.yml
    secrets:
      repo-token: "${{ secrets.DD_CHANGELOG_CHECK_TOKEN }}"
