# https://github.com/actions/labeler

name: PR Labels
on:
- pull_request

jobs:
  apply:
    runs-on: ubuntu-latest
    steps:
    - uses: DataDog/labeler@glob-all
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
        configuration-path: .github/workflows/config/labeler.yml
