name: Reusable Labeler Workflow

on:
  workflow_call:
    secrets:
      app-id:
        required: true
      private-key:
        required: true

jobs:
  apply:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Create token
        uses: actions/create-github-app-token@v1
        id: token-generator
        with:
          app-id: ${{ secrets.app-id }}
          private-key: ${{ secrets.private-key }}
          repositories: integrations-core
      - name: Add labels
        uses: actions/labeler@v4
        with:
          configuration-path: .github/workflows/config/labeler.yml
          repo-token: "${{ steps.token-generator.outputs.token }}"
          sync-labels: ""   # workaround for sync-labels bug:
                            # https://github.com/actions/labeler/issues/112#issuecomment-1000491676
      - name: Add team labels
        run: |
          jq -r '.event.pull_request.requested_teams[].name' <<< "$GITHUB_CONTEXT" | while read -r team; do
            team_normalized=$(echo "$team" | sed 's/ /-/g')
            gh pr edit $NUMBER --add-label "team/$team_normalized"
          done
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
          GITHUB_TOKEN: "${{ steps.token-generator.outputs.token }}"
          GH_REPO: ${{ github.repository }}
          NUMBER: ${{ github.event.number }}