# https://github.com/actions/labeler

name: PR Labels
on:
- pull_request

jobs:
  apply:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        ref: paul/test-checker

    - name: Add labels
      uses: DataDog/labeler@glob-all
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
        configuration-path: .github/workflows/config/labeler.yml

    - name: Check labels
      uses: peter-evans/repository-dispatch@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        event-type: labeled
