# https://github.com/actions/labeler

name: PR Labels
on:
  pull_request_target:
    types:
      - opened
    branches:
      - master

jobs:
  apply:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
    - name: Add labels
      uses: actions/labeler@v4
      with:
        repo-token: "${{ secrets.DD_CHANGELOG_CHECK_TOKEN }}"
        configuration-path: .github/workflows/config/labeler.yml
