name: Reusable Labeler Workflow

on:
- workflow_call

jobs:
  apply:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Add labels
        uses: actions/labeler@v4
        with:
          repo-token: "${{ secrets.DD_CHANGELOG_CHECK_TOKEN }}"
          configuration-path: .github/workflows/config/labeler.yml
