name: Measure Disk Usage

on:
  pull_request:
    branches:
    - master 
env:
  PYTHON_VERSION: "3.12"

jobs:
  measure-disk-usage:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        fetch-depth: 0
    - name: Set up Python ${{ env.PYTHON_VERSION }}
      uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
      with:
        python-version: ${{ env.PYTHON_VERSION }}
    - name: Install ddev
      run: |
        pip install -e ./datadog_checks_dev[cli]
        pip install -e ./ddev

    - name: Configure ddev
      run: |
        ddev config set repos.core .
        ddev config set repo core
    - name: Measure disk usage (uncompressed)
      run: | 
        mkdir -p status_visualizations
        ddev size status --csv > size-uncompressed.csv
        ddev size status --markdown --save_to_png_path status_visualizations/uncompressed.png > size-uncompressed.txt
        cat size-uncompressed.txt
        echo "# Size (uncompressed)" >> $GITHUB_STEP_SUMMARY
        echo '```' >> $GITHUB_STEP_SUMMARY
        cat size-uncompressed.txt >> $GITHUB_STEP_SUMMARY
        echo '```' >> $GITHUB_STEP_SUMMARY
  
    - name: Measure disk usage (compressed)
      run: |
        mkdir -p status_visualizations
        ddev size status --csv --compressed > size-compressed.csv
        ddev size status --compressed --markdown --save_to_png_path status_visualizations/compressed.png > size-compressed.txt
        cat size-compressed.txt
        echo "# Size (compressed)" >> $GITHUB_STEP_SUMMARY
        echo '```' >> $GITHUB_STEP_SUMMARY
        cat size-compressed.txt >> $GITHUB_STEP_SUMMARY
        echo '```' >> $GITHUB_STEP_SUMMARY


    - name: Measure disk usage differences from last commit (uncompressed)
      if: false  # Disabled for now: size difference can be misleading due to dependencies not being built in the same PR
      run: | 
        mkdir -p diff_visualizations
        BEFORE=$(git rev-parse HEAD^)
        AFTER=$(git rev-parse HEAD)
        ddev size diff $BEFORE $AFTER --csv > diff-uncompressed.csv
        ddev size diff $BEFORE $AFTER --markdown --save_to_png_path diff_visualizations/diff-uncompressed-linux.png > diff-uncompressed.txt
        cat diff-uncompressed.txt
        echo "# Size diff (uncompressed)" >> $GITHUB_STEP_SUMMARY
        echo '```' >> $GITHUB_STEP_SUMMARY
        cat diff-uncompressed.txt >> $GITHUB_STEP_SUMMARY
        echo '```' >> $GITHUB_STEP_SUMMARY

    - name: Measure disk usage differences from last commit (compressed)
      if: false  # Disabled for now: size difference can be misleading due to dependencies not being built in the same PR
      run: | 
        mkdir -p diff_visualizations
        BEFORE=$(git rev-parse HEAD^)
        AFTER=$(git rev-parse HEAD)
        ddev size diff $BEFORE $AFTER --compressed --csv > diff-compressed.csv
        ddev size diff $BEFORE $AFTER --compressed --markdown --save_to_png_path diff_visualizations/diff-compressed-linux.png > diff-compressed.txt
        cat diff-compressed.txt
        echo "# Size diff (compressed)" >> $GITHUB_STEP_SUMMARY
        echo '```' >> $GITHUB_STEP_SUMMARY
        cat diff-compressed.txt >> $GITHUB_STEP_SUMMARY
        echo '```' >> $GITHUB_STEP_SUMMARY

    - name: Upload file sizes (uncompressed)
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: size-uncompressed.csv
        path: size-uncompressed.csv
        if-no-files-found: error

    - name: Upload file sizes (compressed)
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: size-compressed.csv
        path: size-compressed.csv
        if-no-files-found: error
  
    - name: Upload file sizes diff (uncompressed)
      if: false # Disabled for now: size difference can be misleading due to dependencies not being built in the same PR
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: diff-uncompressed.csv
        path: diff-uncompressed.csv
        if-no-files-found: error     

    - name: Upload file sizes diff (compressed)
      if: false  # Disabled for now: size difference can be misleading due to dependencies not being built in the same PR
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: diff-compressed.csv
        path: diff-compressed.csv
        if-no-files-found: error

    - name: Upload status PNGs
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: size-visuals
        path: status_visualizations/
        if-no-files-found: error

    - name: Upload diff PNGs
      if: false # Disabled for now: size difference can be misleading due to dependencies not being built in the same PR
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: diff-visuals
        path: diff_visualizations/
        if-no-files-found: error
    
