name: PR All Windows
# This is a temporary fix to avoid hitting the max 256 jobs per workflow limit
# We will remove this once we have a better solution

on:
  pull_request:
    paths:
    - datadog_checks_base/datadog_checks/**
    - datadog_checks_dev/datadog_checks/dev/*.py
    - ddev/src/**
    - "!agent_requirements.in"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.head_ref }}
  cancel-in-progress: true

jobs:
  test:
    uses: ./.github/workflows/test-all-windows.yml

    permissions:
       # needed for compute-matrix in test-target.yml
       contents: read

    with:
      repo: core

      # Options
      context: "pr"

    secrets: inherit

  save-event:
    needs:
    - test
    if: success() || failure()

    uses: ./.github/workflows/save-event.yml

  upload-coverage:
    needs:
    - test
    if: >
      !github.event.repository.private &&
      (success() || failure())
    runs-on: ubuntu-latest
    permissions:
      # needed for codecov, allows the action to get a JWT signed by Github
      id-token: write
      contents: read

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Download all coverage artifacts
      uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
      with:
        pattern: coverage-*
        path: coverage-reports
        merge-multiple: false

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@15559ed290fa727036809b67ab0f646ffa6c5158
      with:
        use_oidc: true
        directory: coverage-reports
        fail_ci_if_error: false

  submit-traces:
    needs:
    - test
    if: success() || failure()

    uses: ./.github/workflows/submit-traces.yml
    secrets: inherit
