name: PR All Windows
# This is a temporary fix to avoid hitting the max 256 jobs per workflow limit
# We will remove this once we have a better solution

on:
  pull_request:
    paths:
    - datadog_checks_base/datadog_checks/**
    - datadog_checks_dev/datadog_checks/dev/*.py
    - ddev/src/**
    - "!agent_requirements.in"
    # Also run if we modify the workflow files
    - '.github/workflows/pr-all-windows.yml'
    - '.github/workflows/test-target.yml'
    - '.github/workflows/test-all-windows.yml'
    # Also run in the action to install test-target scripts changes
    - '.github/actions/setup-test-target-scripts/**

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.head_ref }}
  cancel-in-progress: true

jobs:
  test:
    uses: ./.github/workflows/test-all-windows.yml

    permissions:
       # needed for compute-matrix in test-target.yml
       contents: read

    with:
      repo: core

      # Options
      context: "pr"

    secrets: inherit

  save-event:
    needs:
    - test
    if: success() || failure()

    uses: ./.github/workflows/save-event.yml

  upload-coverage:
    needs:
    - test
    if: >
      !github.event.repository.private &&
      (success() || failure())
    runs-on: ubuntu-latest
    permissions:
      # needed for codecov, allows the action to get a JWT signed by Github
      id-token: write
      contents: read

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Download all coverage artifacts
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        pattern: coverage-*
        path: coverage-reports
        merge-multiple: false

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de
      with:
        use_oidc: true
        directory: coverage-reports
        fail_ci_if_error: false
