name: PR All

on:
  pull_request:
    paths:
    - datadog_checks_base/datadog_checks/**
    - datadog_checks_base/pyproject.toml
    - datadog_checks_dev/datadog_checks/dev/*.py
    - datadog_checks_dev/pyproject.toml
    - ddev/src/**
    - ddev/pyproject.toml
    - "!agent_requirements.in"
    # Also run if we modify the workflow files
    - '.github/workflows/pr-all.yml'
    - '.github/workflows/test-target.yml'
    - '.github/workflows/test-all.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.head_ref }}
  cancel-in-progress: true

jobs:
  test:
    uses: ./.github/workflows/test-all.yml

    permissions:
       # needed for compute-matrix in test-target.yml
       contents: read

    with:
      repo: core
      context: "pr"
      # Avoid running flaky tests since the intention of running everything in these
      # prs is to ensure that tests can be run sucessfully. Reporting failed flaky tests
      # does not provide much value.
      pytest-args: '-m "not flaky"'

    secrets: inherit

  save-event:
    needs:
    - test
    if: success() || failure()

    uses: ./.github/workflows/save-event.yml

  upload-coverage:
    needs:
    - test
    if: >
      !github.event.repository.private &&
      (success() || failure())
    runs-on: ubuntu-latest
    permissions:
      # needed for codecov, allows the action to get a JWT signed by Github
      id-token: write
      contents: read

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Download all coverage artifacts
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        pattern: coverage-*
        path: coverage-reports
        merge-multiple: false

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de
      with:
        use_oidc: true
        directory: coverage-reports
        fail_ci_if_error: false
