name: PR test

on:
  workflow_call:
    inputs:
      repo:
        required: true
        type: string

      setup-env-vars:
        required: false
        default: ""
        type: string
      python-version:
        required: false
        default: ""
        type: string
      pytest-args:
        description: "Arguments to pass to pytest"
        required: false
        type: string
        default: ""

jobs:
  compute-matrix:
    uses: ./.github/workflows/compute-matrix.yml
    with:
      repo: "${{ inputs.repo }}"

  test:
    needs:
    - compute-matrix
    if: needs.compute-matrix.outputs.matrix != '[]' && github.event_name != 'merge_group'
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJson(needs.compute-matrix.outputs.matrix) }}

    uses: ./.github/workflows/test-target.yml
    with:
      job-name: "${{ matrix.name }}"
      target: "${{ matrix.target }}"
      platform: "${{ matrix.platform }}"
      runner: "${{ toJson(matrix.runner) }}"
      repo: "${{ inputs.repo }}"

      # Options
      standard: true
      # We never test Python in integrations-core, but some partners may want to keep testing it
      # in marketplace and integrations-extras.
      test-py2: ${{ inputs.repo != 'core' && (!matrix.python-support || contains(matrix.python-support, '2')) }}
      test-py3: ${{ !matrix.python-support || contains(matrix.python-support, '3') }}

      # For other repositories
      setup-env-vars: "${{ inputs.setup-env-vars }}"
      python-version: "${{ inputs.python-version }}"
      pytest-args: ${{ inputs.pytest-args }}
    secrets: inherit

  save-event:
    needs:
    - test
    if: success() || failure()

    uses: ./.github/workflows/save-event.yml

  submit-traces:
    needs:
    - test
    if: inputs.repo == 'core' && (success() || failure()) && github.event.pull_request.head.repo.full_name == github.repository

    uses: ./.github/workflows/submit-traces.yml
    secrets: inherit

  check:
    needs:
    - test
    # In integrations-core and integrations-extras repos the tests are flaky enough that
    # it would be a pain to merge PRs with the Merge Queue enabled.
    # While we work on the tests, we skip the job if it's triggered by Merge Queue.
    # Github treats skipped jobs as successful, thus we unblock the Merge Queue.
    if: always() && github.event_name != 'merge_group'
    runs-on: ubuntu-latest

    steps:
    - name: Check status of required jobs
      uses: re-actors/alls-green@release/v1
      with:
        jobs: ${{ toJSON(needs) }}
        allowed-skips: test
