name: release-hash-check

on:
  pull_request:
    branches:
      - master
      - '7.[0-9]+.x'
    paths:
      - .in-toto/*.link

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Set up Python
      uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
      with:
        python-version: '3.13'

    - name: Get changed files
      id: changed-files
      uses: tj-actions/changed-files@ed68ef82c095e0d48ec87eccea555d944a631a4c # v46.0.5
      with:
        files: .in-toto/*.link

    - run: python .github/workflows/release-hash-check.py ${{ steps.changed-files.outputs.all_changed_files }}
