name: release-hash-check

on:
  pull_request:
    branches:
      - master
      - '7.[0-9]+.x'
    paths:
      - .in-toto/*.link

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
      with:
        python-version: '3.13'

    - id: files
      run: |
        git fetch origin master
        LAST_COMMON_COMMIT=$(git merge-base HEAD origin/master)
        FILES=$(git --no-pager diff --name-only $LAST_COMMON_COMMIT -- .in-toto | xargs echo)
        echo "all=$FILES" >> "$GITHUB_OUTPUT"

    - id: merge
      name: Merge branch into latest master
      env:
        HEAD_BRANCH: ${{ github.head_ref }}
      run: |
        git fetch origin $HEAD_BRANCH
        git checkout origin/master
        git config user.name "release-hash-check"
        git config user.email "<>"
        git merge --no-commit --no-edit origin/$HEAD_BRANCH

    - run: python .github/workflows/release-hash-check.py ${{ steps.files.outputs.all }}
