name: release-hash-check

on:
  pull_request:
    branches:
      - master
      - '7.[0-9]+.x'
    paths:
      - .in-toto/*.link

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
      with:
        python-version: '3.13'

    - id: files
      env:
        BASE_BRANCH: ${{ github.base_ref }}
      run: |
        git fetch origin $BASE_BRANCH
        LAST_COMMON_COMMIT=$(git merge-base HEAD origin/$BASE_BRANCH)
        FILES=$(git --no-pager diff --name-only $LAST_COMMON_COMMIT -- .in-toto | xargs echo)
        echo "all=$FILES" >> "$GITHUB_OUTPUT"

    - run: python .github/workflows/release-hash-check.py ${{ steps.files.outputs.all }}
