name: Measure Disk Usage

on:
  workflow_call:
    inputs:
      platform:
        required: true
        type: string
      run-id:
        required: true
        type: string
      resolved-deps:
        required: true
        type: boolean
env:
  PYTHON_VERSION: "3.12"

jobs:
  label:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        fetch-depth: 0
    - name: Add label
      if: github.event.pull_request.draft == false
      run: |
        gh pr edit ${{ github.event.pull_request.number }} --add-label "show-size-delta"
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  measure-disk-usage:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        fetch-depth: 0
    - name: Set up Python ${{ env.PYTHON_VERSION }}
      uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
      with:
        python-version: ${{ env.PYTHON_VERSION }}
    - name: Install ddev
      run: |
        pip install -e ./datadog_checks_dev[cli]
        pip install -e ./ddev

    - name: Configure ddev
      run: |
        ddev config set repos.core .
        ddev config set repo core

    - name: Download dependency sizes artifact - resolved-deps
      if: ${{ inputs.resolved-deps }}
      run: gh run download ${{ inputs.run-id }} --name target-${{ inputs.platform }}
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Rename sizes.json to platform.json
      if: ${{ inputs.resolved-deps }}
      run: |
        cp "${{ inputs.platform }}/py3/sizes.json" dependency_sizes_"${{ inputs.platform }}.json"
      shell: bash

    - name: Download dependency sizes artifact - no resolved-deps
      if: ${{ !inputs.resolved-deps }}
      run: gh run download ${{ inputs.run-id }} --name dependency_sizes_${{ inputs.platform }}.json
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Measure disk usage
      run: |
        # if this is a push to master, sends metrics to datadog
        if github.event_name == 'push' && github.ref_name == github.event.repository.default_branch; then
          ddev size status --platform ${{ inputs.platform }} --dependency-sizes dependency_sizes_${{ inputs.platform }}.json --format json
          ddev size status --platform ${{ inputs.platform }} --compressed --dependency-sizes dependency_sizes_${{ inputs.platform }}.json --format json
        else
          ddev size status --platform ${{ inputs.platform }} --dependency-sizes dependency_sizes_${{ inputs.platform }}.json --format json --to-dd-key ${{secrets.DD_API_KEY}}
          ddev size status --platform ${{ inputs.platform }} --compressed --dependency-sizes dependency_sizes_${{ inputs.platform }}.json --format json --to-dd-key ${{secrets.DD_API_KEY}}
        fi
    - name: Upload platform.json artifact
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: dependency_sizes_${{ inputs.platform }}.json
        path: dependency_sizes_${{ inputs.platform }}.json
        if-no-files-found: error
    
    - name: Upload JSON uncompressed sizes artifact
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: status_uncompressed_${{ inputs.platform }}.json
        path: status_uncompressed_${{ inputs.platform }}.json
        if-no-files-found: error

    - name: Upload JSON compressed sizes artifact
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: status_compressed_${{ inputs.platform }}.json
        path: status_compressed_${{ inputs.platform }}.json
        if-no-files-found: error

  # send-metrics:
  #   needs: measure-disk-usage
  #   name: Send metrics to Datadog
  #   if: github.event_name == 'push' && github.ref_name == github.event.repository.default_branch
  #   runs-on: ubuntu-22.04
  #   steps:
  #     - name: Send metrics to Datadog
  #       run: |
  #         ddev size status --platform ${{ inputs.platform }} --dependency-sizes ${{ inputs.platform }}.json --to-dd-key ${{secrets.DD_API_KEY}}
  #         ddev size status --platform ${{ inputs.platform }} --compressed --dependency-sizes ${{ inputs.platform }}.json --to-dd-key ${{secrets.DD_API_KEY}}

    

  # calculate-diffs:
  #   needs: measure-disk-usage
  #   runs-on: ubuntu-22.04
  #   uses: DataDog/integrations-core/.github/workflows/quality-gates.yml@lucia-sb/calculate-dep-sizes
  #   with:
  #     platform: ${{ inputs.platform }}
  #     run-id: ${{ github.run_id }}

    
    
        
    #   run: | 
    #     ddev size status --to-dd-key ${{secrets.DD_API_KEY}} > size-uncompressed.txt 
    #     ddev size status  --format png,csv,markdown
    #     cat size-uncompressed.txt
    #     echo "# Size (uncompressed)" >> $GITHUB_STEP_SUMMARY
    #     cat uncompressed_status.md >> $GITHUB_STEP_SUMMARY
  
    # - name: Measure disk usage (compressed)
    #   run: |
    #     ddev size status --compressed --to-dd-key ${{secrets.DD_API_KEY}} > size-compressed.txt 
    #     ddev size status --compressed  --format png,csv,markdown
    #     cat size-compressed.txt
    #     echo "# Size (compressed)" >> $GITHUB_STEP_SUMMARY
    #     cat compressed_status.md >> $GITHUB_STEP_SUMMARY



    # - name: Measure disk usage differences from last commit (uncompressed)
    #   run: | 
    #     BEFORE=$(git rev-parse HEAD^)
    #     AFTER=$(git rev-parse HEAD)
    #     ddev size diff $BEFORE $AFTER > diff-uncompressed.txt
    #     ddev size diff $BEFORE $AFTER  --format png,csv,markdown
    #     cat diff-uncompressed.txt
    #     echo "# Size diff (uncompressed)" >> $GITHUB_STEP_SUMMARY
    #     if [ -f uncompressed_diff.md ]; then
    #         cat uncompressed_diff.md >> $GITHUB_STEP_SUMMARY
    #     fi

    # - name: Measure disk usage differences from last commit (compressed)
    #   run: | 
    #     BEFORE=$(git rev-parse HEAD^)
    #     AFTER=$(git rev-parse HEAD)
    #     ddev size diff $BEFORE $AFTER --compressed > diff-compressed.txt
    #     ddev size diff $BEFORE $AFTER --compressed  --format png,csv,markdown
    #     cat diff-compressed.txt
    #     echo "# Size diff (compressed)" >> $GITHUB_STEP_SUMMARY
    #     if [ -f compressed_diff.md ]; then
    #         cat compressed_diff.md >> $GITHUB_STEP_SUMMARY
    #     fi

    # - name: Upload file sizes (uncompressed)
    #   uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
    #   with:
    #     name: uncompressed_status.csv
    #     path: uncompressed_status.csv
    #     if-no-files-found: error

    # - name: Upload file sizes (compressed)
    #   uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
    #   with:
    #     name: compressed_status.csv
    #     path: compressed_status.csv
    #     if-no-files-found: error
  
    # - name: Upload file sizes diff (uncompressed)
    #   uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
    #   with:
    #     name: uncompressed_diff.csv
    #     path: uncompressed_diff.csv
    #     if-no-files-found: warn

    # - name: Upload file sizes diff (compressed)
    #   uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
    #   with:
    #     name: compressed_diff.csv
    #     path: compressed_diff.csv
    #     if-no-files-found: warn

    # - name: Upload status PNGs
    #   uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
    #   with:
    #     name: size-visuals
    #     path: size_status_visualizations/
    #     if-no-files-found: error

    # - name: Upload diff PNGs
    #   uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
    #   with:
    #     name: diff-visuals
    #     path: size_diff_visualizations/
    #     if-no-files-found: warn
    
