name: Update the dependencies

on:
  schedule:
  # At 2AM on Monday (UTC)
  - cron: "0 2 * * 1"

jobs:
  update_dependencies:
    name: Update the dependencies
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
    - name: Install ddev from local folder
      run: |-
        pip install -e ./datadog_checks_dev[cli]
        pip install -e ./ddev
    - name: Configure ddev
      run: |-
        ddev config set repos.core .
        ddev config set repo core
    - name: Update dependencies
      run: |-
        ddev dep updates --sync
    - name: Update licenses
      run: |-
        ddev validate licenses --sync
      env:
        DD_GITHUB_USER: "${{ github.actor }}"
        DD_GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
    - name: Create token
      uses: actions/create-github-app-token@v1
      id: token-generator
      with:
        app-id: ${{ secrets.DD_AGENT_INTEGRATIONS_BOT_APP_ID }}
        private-key: ${{ secrets.DD_AGENT_INTEGRATIONS_BOT_PRIVATE_KEY }}
        repositories: integrations-core
    - name: Create Pull Request
      id: cpr
      uses: peter-evans/create-pull-request@v5
      with:
        token: ${{ steps.token-generator.outputs.token }}
        commit-message: Update dependencies
        body: |
          ### What does this PR do?
          Update the dependencies

          ### Motivation

          Some of the dependencies are outdated

          ### Additional Notes
          <!-- Anything else we should know when reviewing? -->

          This PR was automatically generated.

          ### Review checklist (to be filled by reviewers)

          - [ ] Feature or bugfix MUST have appropriate tests (unit, integration, e2e)
          - [ ] [Changelog entries](https://datadoghq.dev/integrations-core/guidelines/pr/#changelog-entries) must be created for modifications to shipped code
          - [ ] Add the `qa/skip-qa` label if the PR doesn't need to be tested during QA.
        title: Update dependencies
        branch: bot/update-dependencies
        branch-suffix: timestamp
        delete-branch: true
        base: master
        labels: bot,qa/skip-qa
        draft: false
    # We generate the changelog if and only if the PR was created
    - name: Update changelogs
      if: ${{ steps.cpr.outputs.pull-request-number }}
      env:
        GH_TOKEN:
          ${{ github.token }}
      run: |-
        gh pr checkout ${{ steps.cpr.outputs.pull-request-number }}
        ddev release changelog new added -m "Update dependencies"
        git config --global user.email "agent-integrations-dependency-bot@datadoghq.com"
        git config --global user.name "Agent Integrations Dependency Bot"
        git add .
        git commit -am "Update changelogs"
        git push origin HEAD
