name: Update the dependencies

on:
  workflow_dispatch:
  schedule:
  # At 2AM on Monday (UTC)
  - cron: "0 2 * * 1"

jobs:
  update_dependencies:
    name: Update the dependencies
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      with:
        python-version: 3.13
    - name: Install ddev from local folder
      run: |-
        pip install -e ./datadog_checks_dev[cli]
        pip install -e ./ddev
    - name: Configure ddev
      run: |-
        ddev config set upgrade_check false
        ddev config set repos.core .
        ddev config set repo core
    - name: Create token
      uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
      id: token-generator
      with:
        app-id: ${{ secrets.DD_AGENT_INTEGRATIONS_BOT_APP_ID }}
        private-key: ${{ secrets.DD_AGENT_INTEGRATIONS_BOT_PRIVATE_KEY }}
        repositories: integrations-core
    - name: Update dependencies
      run: |-
        ddev dep updates --sync
    - name: Update licenses
      run: |-
        ddev validate licenses --sync
      env:
        DD_GITHUB_USER: "${{ github.actor }}"
        DD_GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
    # We generate the changelog hoping we guess the PR number correctly.
    # We are likely to succeed because the job runs during quiet hours.
    # If we guess the PR number wrong, the validation will catch it and suggest a simple fix.
    - name: Update changelogs
      env:
        DD_GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      run: |-
        ddev release changelog new added -m "Update dependencies"
    - name: Create Pull Request
      id: cpr
      uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
      with:
        token: ${{ steps.token-generator.outputs.token }}
        commit-message: Update dependencies
        body: |
          ### What does this PR do?
          Update the dependencies

          This PR was automatically generated by the following workflow:
          ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}

          **THE CHANGELOG FILES OFTEN HAVE THE WRONG PR NUMBER. MAKE SURE TO CHECK THEM!**

          ### Review checklist (to be filled by reviewers)

          - [ ] Feature or bugfix MUST have appropriate tests (unit, integration, e2e)
          - [ ] [Changelog entries](https://datadoghq.dev/integrations-core/guidelines/pr/#changelog-entries) must be created for modifications to shipped code
          - [ ] Add the `qa/skip-qa` label if the PR doesn't need to be tested during QA.
        title: Update dependencies
        branch: bot/update-dependencies
        branch-suffix: timestamp
        delete-branch: true
        base: master
        labels: bot,qa/skip-qa
        draft: false
