name: validations

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'

    - name: Upgrade Python packaging tools
      run: pip install --disable-pip-version-check --upgrade pip setuptools wheel

    - name: Install ddev
      run: pip install -e ./datadog_checks_dev[cli]

    - name: Configure ddev
      run: |
        ddev config set repos.core .
        ddev config set repo core

    - name: Run agent requirements validation
      run: |
        ddev validate agent-reqs

    - name: Run configuration validation
      run: |
        ddev validate config

    - name: Run dashboard validation
      run: |
        ddev validate dashboards

    - name: Run HTTP wrapper validation
      run: |
        ddev validate http

    - name: Run imports validation
      run: |
        ddev validate imports

- name: Run JMX metrics validation
      run: |
        ddev validate jmx-metrics

    - name: Run legacy metadata validation
      run: |
        ddev validate metadata

    - name: Run legacy signature validation
      run: |
        ddev validate legacy-signature

    - name: Run licenses validation
      run: |
        ddev validate licenses
        
    - name: Run readmes validation
      run: |
        ddev validate readmes

    - name: Run recommended monitors validation
      run: |
        ddev validate recommended-monitors

    - name: Run package validation
      run: |
        ddev validate package

    - name: Run saved views validation
      run: |
        ddev validate saved-views

    - name: Run service checks validation
      run: |
        ddev validate service-checks

    - name: Comment PR on failure
      if: failure()
      uses: actions/github-script@0.3.0
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        script: |
          const { issue: { number: issue_number }, repo: { owner, repo }  } = context;
          github.issues.createComment({ issue_number, owner, repo, body: "The `validations` job has failed; please review the `Files changed` tab for possible suggestions to resolve." });

