name: validations

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

env:
  CHANGED: ${{ github.event_name == 'pull_request' && 'changed' || '' }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: '0'

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'

    - name: Upgrade Python packaging tools
      run: pip install --disable-pip-version-check --upgrade pip setuptools wheel

    - name: Install ddev
      run: |
        pip install -e ./datadog_checks_dev[cli]
        pip install -e ./ddev

    - name: Configure ddev
      run: |
        ddev config set repos.core .
        ddev config set repo core
        ddev config set orgs.ci.dd_url "https://app.datadoghq.com"
        ddev config set org ci

    - name: Run agent requirements validation
      run: |
        ddev validate agent-reqs $CHANGED

    - name: Run CI validation
      run: |
        ddev validate ci

    - name: Run configuration validation
      run: |
        ddev validate config $CHANGED

    - name: Run manifest validation
      run: |
        ddev validate manifest $CHANGED

    - name: Run dashboard validation
      run: |
        ddev validate dashboards $CHANGED

    - name: Run dependency validation
      run: |
        ddev validate dep

    - name: Run HTTP wrapper validation
      run: |
        ddev validate http $CHANGED

    - name: Run imports validation
      run: |
        ddev validate imports $CHANGED

    - name: Run integration style and best practices validation
      run: |
        ddev validate integration-style $CHANGED --verbose

    - name: Run JMX metrics validation
      run: |
        ddev validate jmx-metrics $CHANGED

    - name: Run legacy signature validation
      run: |
        ddev validate legacy-signature $CHANGED

    - name: Run licenses validation
      if: ${{ github.event.pull_request.head.repo.full_name == github.repository }} # only PRs from this repo
      env:
        DD_GITHUB_USER: ${{ github.actor }}
        DD_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        ddev validate licenses

    - name: Run metadata validation
      run: |
        ddev validate metadata $CHANGED

    - name: Run models validation
      run: |
        ddev validate models $CHANGED

    - name: Run package validation
      run: |
        ddev validate package $CHANGED

    - name: Run readmes validation
      run: |
        ddev validate readmes $CHANGED

    - name: Run recommended monitors validation
      run: |
        ddev validate recommended-monitors $CHANGED

    - name: Run saved views validation
      run: |
        ddev validate saved-views $CHANGED

    - name: Run service checks validation
      run: |
        ddev validate service-checks $CHANGED

    - name: Comment PR on failure
      if: ${{ failure() && github.event.pull_request.merged != true }}
      uses: actions/github-script@0.3.0
      continue-on-error: true
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        script: |
          const { issue: { number: issue_number }, repo: { owner, repo }  } = context;
          github.issues.createComment({ issue_number, owner, repo, body: "The `validations` job has failed; please review the `Files changed` tab for possible suggestions to resolve." });
